flows/ACV_Capital_Set_Application_name.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>changes name to fit current business needs</description>
        <name>Change_name</name>
        <label>Change name</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Applicationname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Name3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_Type_ACV_Capital_Application</name>
        <label>Is Record Type = ACV_Capital_Application?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Application_Record_Type_ID.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CSO - 591 Application Name logic in Application</description>
    <formulas>
        <description>set the applciation name: Account__r.Name &amp; &apos;- Dealer Application&apos;</description>
        <name>Applicationname</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} &amp; &quot; - Dealer Application&quot;</expression>
    </formulas>
    <interviewLabel>ACV Capital - Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACV Capital - Set Application name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Record_Type_ID</name>
        <label>Get Application Record Type ID</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Type_ACV_Capital_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Application</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Name3</name>
        <label>Update Application Name3</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Applicationname</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application_Record_Type_ID</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
