flows/ACV_Capital_Notify_Buyer_Email_when_title_received.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notify_buyer</name>
        <label>notify buyer</label>
        <locationX>760</locationX>
        <locationY>719</locationY>
        <actionName>Case.ACV_Capital_Notify_Buyer_of_Received_Title</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_ACV_Capital_Task_Record_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Capital_Title_Status_Received</name>
        <label>Capital Title Status = Received?</label>
        <locationX>979</locationX>
        <locationY>522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ACV_Capital_Title_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notify_buyer</targetReference>
            </connector>
            <label>Received</label>
        </rules>
    </decisions>
    <description>This email is sent when &apos;ACV_Capital_Title_Status__c&apos; field = &apos;Received&apos;.  The email gets sent to the buyer of the vehicle.</description>
    <interviewLabel>ACV Capital - Notify Buyer Email when title received {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACV Capital - Notify Buyer Email when title received</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Capital_Title_Received_Email_Sent_to_Buyer</name>
        <label>Capital Title Received Email Sent to Buyer</label>
        <locationX>760</locationX>
        <locationY>959</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ACV_Capital_Task_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;Capital Title Received Email Sent to Buyer&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ACV_Capital_Task_Record_ID</name>
        <label>Get ACV Capital Task Record ID</label>
        <locationX>760</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capital_Title_Received_Email_Sent_to_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>pulls address from formula field</description>
        <name>Update_ACV_Capital_Primary_Contact_Text</name>
        <label>Update ACV Capital Primary Contact Text</label>
        <locationX>760</locationX>
        <locationY>383</locationY>
        <connector>
            <targetReference>Capital_Title_Status_Received</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV_Capital_Primary_Contact_Email_Text__c</field>
            <value>
                <elementReference>$Record.ACV_Capital_Primary_Contact_Email_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>634</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_ACV_Capital_Primary_Contact_Text</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
