flows/Arb_Resolution_Flow2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Amounts_1st_Est</name>
        <label>Assign Amounts 1st Est</label>
        <locationX>1524</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>varPartsCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parts_Cost_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLaborCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Labor_Cost_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResolutionAmountDiagnostic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diagnostic_Amount_Est</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTowFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tow_Fee_Est</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnterAnotherRes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Another_Resolution_for_this_Complaint1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inputs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Amounts_No_Est</name>
        <label>Assign Amounts No Est</label>
        <locationX>1404</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>varResolutionAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Amount_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResolutionAmountDiagnostic</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Diagnostic_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTowFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tow_Fee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEnterAnotherRes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Another_Resolution_for_this_Complaint0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Inputs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_check</name>
        <label>Assign Credit&amp;check</label>
        <locationX>1290</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>SingleCredit.Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Total_with_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arbitration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Applicable_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACV Fees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCreditRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Auction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__r.Auction_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Resolution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Total_Arb_Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Total_with_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Root_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCollectionRootCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formSellerIssueCheck</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Budget_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Budget.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewCreditToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Inputs_0</name>
        <label>Assign Inputs</label>
        <locationX>1556</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>varResolutionNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Notes_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResolutionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_of_Resolution_Radio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varResolutionGoodwill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goodwill_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varfastlane_0</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fastlane</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varVerityres</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varVerity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varComplaintUnder500</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Was_the_complaint_under_500</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalValueofComplaint</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Value_of_Complaint</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPostCloseResolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formPostClose</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Complaint_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Cred</name>
        <label>Assign Invoice Cred</label>
        <locationX>837</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>SingleCredit.Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Total_with_Fees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Resolution__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arbitration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Applicable_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACV Fees</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Explanation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInv_CreditRT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Auction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__r.Auction_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Dealer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Case__r.Seller_Dealership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Resolution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Total_Arb_Amount_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRes.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCredit.Root_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formCollectionRootCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignNewCreditToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolutions_for_Post_Credit_Update</name>
        <label>Assign Resolutions for Post Credit Update</label>
        <locationX>1617</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>colResolutions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetRes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_to_Collection</name>
        <label>Assign Single to Collection</label>
        <locationX>244</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>col_Update_Resolution</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateResolutions_Credit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateResolutions_Credit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Res_Collection</name>
        <label>Assign to Current to SingleRes</label>
        <locationX>396</locationX>
        <locationY>1614</locationY>
        <assignmentItems>
            <assignToReference>UpdateResolutions_Credit.Credit_Check_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignNewCreditToCollection</name>
        <label>assignNewCreditToCollection</label>
        <locationX>1033</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>colCredits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCredit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsSellerIssueCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flatten_Complaint_Selections</name>
        <label>Flatten Complaint Selections</label>
        <locationX>570</locationX>
        <locationY>808</locationY>
        <assignmentItems>
            <assignToReference>complaintSelectionString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Complaint_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>i</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>i</name>
        <label>i++</label>
        <locationX>472</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>i_2</name>
        <label>i++2</label>
        <locationX>267</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Value</name>
        <label>Set Next Value</label>
        <locationX>654</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>complaintSelectionString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AvoidableNotes1</name>
        <choiceText>AvoidableNotes1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Blank</name>
        <choiceText>__</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CurrentAvoidableValue</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varComplaintAvoidable}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varComplaintAvoidable</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentComplaintValue</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!varComplaintValid}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varComplaintValid</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentValueBuyer_s_Assurance_Upsell</name>
        <choiceText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!BuyersExceptionsCurrentValue}&lt;/FONT&gt;&lt;/DIV&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>varBuyer_s_Assurance_Upsell</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>Not Used</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>none_not_needed</name>
        <choiceText>none/not needed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Closed</name>
        <label>Case Closed</label>
        <locationX>1511</locationX>
        <locationY>344</locationY>
        <defaultConnector>
            <targetReference>Get_Credit_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unwound Back To Seller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Another_Res</targetReference>
            </connector>
            <label>Not Closed or No Dollar Selection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Closed_CreditCreate</name>
        <label>Case Closed</label>
        <locationX>740</locationX>
        <locationY>1232</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credits</targetReference>
            </connector>
            <label>Yes - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Case is closed, need to get Budgets</description>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>510</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>Select_Complaints</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Closed_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Budget</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>continue_decision</name>
        <label>Continue</label>
        <locationX>812</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Case_Closed_CreditCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Complaint</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enter_Another_Res</name>
        <label>Enter Another Res?</label>
        <locationX>906</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Set_Next_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>ResYep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEnterAnotherRes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Resolution_Details_0</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estimare_Provide_Result_0</name>
        <label>Estimare Provide Result</label>
        <locationX>1128</locationX>
        <locationY>1011</locationY>
        <defaultConnector>
            <targetReference>Enter_Resolution_Amount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Estimate</defaultConnectorLabel>
        <rules>
            <name>Includes_Estimate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estimateprovided</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Amount_Details_0</targetReference>
            </connector>
            <label>Includes Estimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsSellerIssueCheck</name>
        <label>IsSellerIssueCheck</label>
        <locationX>963</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Enter_Another_Res</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Seller_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTempInvoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Cred</targetReference>
            </connector>
            <label>Yes - Seller Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolution_Supposed_to_be_Zero</name>
        <label>Resolution Supposed to be Zero</label>
        <locationX>1080</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Was_Complaint_Under_500</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Dollar_Entry</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unwound Back To Seller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACV To Re-List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inputs_0</targetReference>
            </connector>
            <label>Skip Dollar Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Complaint_Under_500</name>
        <label>Was Complaint Under 500</label>
        <locationX>1000</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Estimare_Provide_Result_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint_is_Under_500</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Was_the_complaint_under_500</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_provide_the_value_of_this_complaint</targetReference>
            </connector>
            <label>Complaint is Under 500</label>
        </rules>
    </decisions>
    <description>Correcting Invoice Credit Record RecordTypeAssignment from last version
Cleaning up old elements from version 23

Added Total with Fees and adjusting Resolution subflow
Adding sequence of display of Currency fields and Adding credit subflow</description>
    <dynamicChoiceSets>
        <name>Avoidable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>avoidable__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Buyer_Confusio_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buyer_Confusion__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Buyer_s_Assurance_Upsell_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Buyer_s_Assurance_Exceptions__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>claim_type__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplaintChoices</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>arbitration_id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Complaint__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplexityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complexity__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Estimateprovided</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimate_Provided__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fastlane</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fastlane__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fastlane_c</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fastlane__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnerDiag</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partner_Diag__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>complaint_type__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ResolutionTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Resolution__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Under500Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Under_500__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Valid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>valid__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varVerity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Verity_Diagnosis_Completed__c</picklistField>
        <picklistObject>Resolution__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>BuyersExceptionsCurrentValue</name>
        <dataType>String</dataType>
        <expression>IF({!varBuyer_s_Assurance_Upsell} = null,&quot;None&quot;,{!varBuyer_s_Assurance_Upsell})</expression>
    </formulas>
    <formulas>
        <name>cleanComplaintSelectionString</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!complaintSelectionString},&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>continue</name>
        <dataType>Boolean</dataType>
        <expression>if(len({!complaintSelectionString}) &gt; 0, true, false)</expression>
    </formulas>
    <formulas>
        <description>Adding consolidate Resolution Amount plus Diag and Tow fee to make sure it isn&apos;t $0 later</description>
        <name>formAddAmounts</name>
        <dataType>Currency</dataType>
        <expression>{!varPartsCost} + {!varLaborCost} + {!varTowFee}+ {!varResolutionAmountDiagnostic}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formCollectionRootCause</name>
        <dataType>String</dataType>
        <expression>IF({!GetRes.Avoidable_Complaint__c} = TRUE, &apos;Arbitration avoidable&apos;, &apos;Arbitration unavoidable&apos;)</expression>
    </formulas>
    <formulas>
        <name>formConsolidatedResolutionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF( {!Estimate_Provided4} =&apos;No&apos;, {!varResolutionAmount}, {!varPartsCost} + {!varLaborCost} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formCreditRecType</name>
        <dataType>String</dataType>
        <expression>IF( {!Type_of_Resolution_Radio} =&apos;ACV Credit Assigned&apos;, &apos;Credit&apos;,
IF(  {!Type_of_Resolution_Radio} = &apos;ACV Issue Check&apos; || {!Type_of_Resolution_Radio} = &apos;Seller Issue Check&apos;, &apos;Check&apos;, &apos;&apos;))</expression>
    </formulas>
    <formulas>
        <name>formPostClose</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!varCaseStatus}, &apos;Closed&apos;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>formSellerIssueCheck</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Type_of_Resolution_Radio} = &apos;Seller Issue Check&apos;, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>IsGreaterThan0</name>
        <dataType>Boolean</dataType>
        <expression>{!AddAmounts} &gt;0</expression>
    </formulas>
    <formulas>
        <name>nextValue</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;, {!cleanComplaintSelectionString}) = 0, &quot;&quot;, RIGHT({!cleanComplaintSelectionString},LEN({!cleanComplaintSelectionString}) - FIND(&quot;;&quot;,{!cleanComplaintSelectionString})))</expression>
    </formulas>
    <formulas>
        <name>thisValue</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;,{!complaintSelectionString}) = 0,{!complaintSelectionString}, substitute(LEFT({!complaintSelectionString}, FIND(&quot;;&quot;,{!complaintSelectionString})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>validFormula</name>
        <dataType>String</dataType>
        <expression>IF({!varComplaintValid} = &quot;yes&quot;,&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Arb Resolution Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enter Complaint Resolution Details</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>548</locationX>
        <locationY>1091</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>loop1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>i_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_0</name>
        <label>Loop</label>
        <locationX>721</locationX>
        <locationY>827</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>loop2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>continue_decision</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>UpdateResolutions_Credit</name>
        <label>UpdateResolutions Credit</label>
        <locationX>476</locationX>
        <locationY>1414</locationY>
        <collectionReference>colResolutions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Res_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_Close_Credits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Resolution</name>
        <label>Create Resolution</label>
        <locationX>1796</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>GetRes</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Diagnostic__c</field>
            <value>
                <elementReference>varResolutionAmountDiagnostic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>varResolutionAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Under_500__c</field>
            <value>
                <elementReference>varComplaintUnder500</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimate_Provided__c</field>
            <value>
                <elementReference>Estimate_Provided4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fastlane__c</field>
            <value>
                <elementReference>varfastlane_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Goodwill__c</field>
            <value>
                <elementReference>varResolutionGoodwill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Labor_Cost__c</field>
            <value>
                <elementReference>varLaborCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Diag__c</field>
            <value>
                <elementReference>Partner_Diag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parts_Cost__c</field>
            <value>
                <elementReference>varPartsCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Close_Resolution__c</field>
            <value>
                <elementReference>varPostCloseResolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resolution__c</field>
            <value>
                <elementReference>varResolutionType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Value_of_Complaint__c</field>
            <value>
                <elementReference>varTotalValueofComplaint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tow_Fee__c</field>
            <value>
                <elementReference>varTowFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verity_Diagnosis_Completed__c</field>
            <value>
                <elementReference>varVerityres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>complaint_id__c</field>
            <value>
                <elementReference>thisValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description__c</field>
            <value>
                <elementReference>varResolutionNotes</elementReference>
            </value>
        </inputAssignments>
        <object>Resolution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Arbitration Budget for Credit &amp; check</description>
        <name>Get_Budget</name>
        <label>Get Budget</label>
        <locationX>342</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arbitration</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Budget__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>493</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_is_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varBuyer_s_Assurance_Upsell</assignToReference>
            <field>Buyer_s_Assurance_Exceptions__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Complaint</name>
        <label>Get Complaint</label>
        <locationX>959</locationX>
        <locationY>1202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_Resolution_Details_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisValue</elementReference>
            </value>
        </filters>
        <object>Complaint__c</object>
        <outputAssignments>
            <assignToReference>varAvoidableNotes</assignToReference>
            <field>Avoidable_Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintComplexity</assignToReference>
            <field>Complexity__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintResAmt</assignToReference>
            <field>Resolution_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintResCount</assignToReference>
            <field>Resolution_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExistingCredits</assignToReference>
            <field>Total_Approved_Credits__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintAvoidable</assignToReference>
            <field>avoidable__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintType</assignToReference>
            <field>claim_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintReason</assignToReference>
            <field>complaint_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintDesc</assignToReference>
            <field>description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varComplaintValid</assignToReference>
            <field>valid__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Record_Types</name>
        <label>Get Credit Record Types</label>
        <locationX>1416</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Credit_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credits_Checks__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formCreditRecType</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCreditRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record_Type</name>
        <label>Get Invoice Record Type</label>
        <locationX>316</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Complaints</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credits_Checks__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Invoice</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varInv_CreditRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRes</name>
        <label>GetRes</label>
        <locationX>1727</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Resolutions_for_Post_Credit_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Resolution</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Resolution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Complaint_0</name>
        <label>Update Complaint</label>
        <locationX>1676</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>Create_Resolution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisValue</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Avoidable_Notes__c</field>
            <value>
                <elementReference>varAvoidableNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avoidable__c</field>
            <value>
                <elementReference>varComplaintAvoidable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>valid__c</field>
            <value>
                <elementReference>varComplaintValid</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>760</locationX>
        <locationY>1567</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationMessage</name>
            <fieldText>Success! Resolution details have been entered for Case #{!varCaseNumber}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Amount_Details_0</name>
        <label>Enter Amount Details</label>
        <locationX>1360</locationX>
        <locationY>1053</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Amounts_1st_Est</targetReference>
        </connector>
        <fields>
            <name>Zero_Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(237, 57, 33); font-size: 14px;&quot;&gt;Total Resolution amount is still currently at $0&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 5) AND (2 OR 6) AND (3 OR 7) AND (4 OR 8)</conditionLogic>
                <conditions>
                    <leftValueReference>Parts_Cost_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Labor_Cost_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Diagnostic_Amount_Est</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tow_Fee_Est</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Parts_Cost_0</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Labor_Cost_0</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Diagnostic_Amount_Est</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Tow_Fee_Est</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmptyTextEst</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptyTextEst1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptyTextEst2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Parts_Cost_0</name>
            <dataType>Currency</dataType>
            <fieldText>Parts Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>FeeText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 49, 49);&quot;&gt;ONLY add a value to Diagnostic Fee for diags completed independently by the dealer; this field should NOT be used to capture Verity or One Guard diags.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Labor_Cost_0</name>
            <dataType>Currency</dataType>
            <fieldText>Labor Cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 67, 67);&quot;&gt;Currently your Total Resolution Amount equals $0, either enter a Resolution amount here or go back and add applicable fee!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR( 
{!Parts_Cost_0} &gt; 0,
{!Labor_Cost_0} &gt; 0,
{!Diagnostic_Amount_Est} &gt; 0,
{!Tow_Fee_Est} &gt; 0 )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Diagnostic_Amount_Est</name>
            <dataType>Currency</dataType>
            <fieldText>Diagnostic Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>EmptyTextEst3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tow_Fee_Est</name>
            <dataType>Currency</dataType>
            <fieldText>Tow Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Anotherresolution1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you would like to enter another Resolution for this Complaint, please check off the box below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Another_Resolution_for_this_Complaint1</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter Another Resolution for this Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Resolution_Amount_0</name>
        <label>Enter Resolution Amount</label>
        <locationX>1259</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Amounts_No_Est</targetReference>
        </connector>
        <fields>
            <name>Zero_No_Est</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(237, 57, 33); font-size: 14px;&quot;&gt;Total Resolution amount is still currently at $0&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6)</conditionLogic>
                <conditions>
                    <leftValueReference>Resolution_Amount_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Resolution_Amount_0</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Diagnostic_Amount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Diagnostic_Amount</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Tow_Fee</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tow_Fee</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmptyDisplay</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resolution_Amount_0</name>
            <dataType>Currency</dataType>
            <fieldText>Resolution Amount</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Must at least enter a value of $0 to continue&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 67, 67);&quot;&gt;Currently your Total Resolution Amount equals $0, either enter a Resolution amount here or go back and add applicable fee!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR({!Resolution_Amount_0} &gt;0,
{!Diagnostic_Amount} &gt; 0,
{!Tow_Fee} &gt; 0)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>EmptyDisplay1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptyDisplay2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DiagFeeDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 49, 49);&quot;&gt;ONLY add a value to Diagnostic Fee for diags completed independently by the dealer; this field should NOT be used to capture Verity or One Guard diags.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmptyDisplay3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Diagnostic_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Diagnostic Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>EmptyDisplay4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tow_Fee</name>
            <dataType>Currency</dataType>
            <fieldText>Tow Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>AnotherResolution0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you would like to enter another Resolution for this Complaint, please check off the box below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Another_Resolution_for_this_Complaint0</name>
            <dataType>Boolean</dataType>
            <fieldText>Enter Another Resolution for this Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Resolution_Details_0</name>
        <label>Enter Resolution Details</label>
        <locationX>817</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Resolution_Supposed_to_be_Zero</targetReference>
        </connector>
        <fields>
            <name>No_Valid_Decision</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 36, 36);&quot;&gt;A Valid Decision hasn&apos;t been made on the Complaint record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varComplaintValid</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SpacePlease4</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varComplaintValid</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>detailsInstructions_0</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 16px;&quot;&gt;Please enter the Resolution details for the following Complaint.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Claim Type&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;: {!varComplaintType}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Description&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;: {!varComplaintDesc}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Reason&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;: {!varComplaintReason}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;u style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Complexity&lt;/u&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;: {!varComplaintComplexity}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SpacePlease3</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varComplaintValid</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Valid_Display</name>
            <fieldText>&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Current Resolution Count&lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;: {!varComplaintResCount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Current Resolution Amount&lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;: {!varComplaintResAmt}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Existing Credits&lt;/u&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;: {!varExistingCredits}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varComplaintValid</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimate_Provided4</name>
            <choiceReferences>Estimateprovided</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estimate Provided</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_of_Resolution_Radio</name>
            <choiceReferences>ResolutionTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Resolution</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Goodwill_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Goodwill</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spacer20</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fastlane_3</name>
            <choiceReferences>Fastlane</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fastlane</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Was_the_complaint_under_500</name>
            <choiceReferences>Under500Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Was the complaint under $500</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spacer22</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Resolution_Notes_0</name>
            <fieldText>Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Partner_Diag</name>
            <choiceReferences>PartnerDiag</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Diag</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>spacer26</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>None</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ACV To Re-List</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_of_Resolution_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unwound Back To Seller</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>spacer21</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_provide_the_value_of_this_complaint</name>
        <label>Please provide the value of this complaint</label>
        <locationX>1165</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Estimare_Provide_Result_0</targetReference>
        </connector>
        <fields>
            <name>Info_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;If claim was invalid for less that $500, please place the potential value of the complaint here&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Total_Value_of_Complaint</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>varTotalValueofComplaint</elementReference>
            </defaultValue>
            <fieldText>Total Value of Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Close_Credits</name>
        <label>Post Close Credits</label>
        <locationX>561</locationX>
        <locationY>1512</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Res_Update</targetReference>
        </connector>
        <fields>
            <name>Credits</name>
            <fieldText>&lt;p&gt;A new Credit &amp;amp; Check record has been created for this Complaint, as this Case has already been closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Complaints</name>
        <label>Select Complaints</label>
        <locationX>516</locationX>
        <locationY>659</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flatten_Complaint_Selections</targetReference>
        </connector>
        <fields>
            <name>introText</name>
            <fieldText>Select one or many Complaints to resolve below. On following screens, you will enter specific details of the Resolution.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Complaint_s</name>
            <choiceReferences>ComplaintChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Complaint(s)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>153</locationX>
        <locationY>441</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Credits</name>
        <label>Create Credits</label>
        <locationX>591</locationX>
        <locationY>1301</locationY>
        <connector>
            <targetReference>UpdateResolutions_Credit</targetReference>
        </connector>
        <flowName>Create_Credits_Subflow</flowName>
        <inputAssignments>
            <name>colCredits</name>
            <value>
                <elementReference>colCredits</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Res_Update</name>
        <label>Res Update</label>
        <locationX>640</locationX>
        <locationY>1632</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <flowName>Update_Resolutions_after_Close</flowName>
        <inputAssignments>
            <name>colRestoUpdate</name>
            <value>
                <elementReference>col_Update_Resolution</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>col_Update_Resolution</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Resolution__c</objectType>
    </variables>
    <variables>
        <name>colCredits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Credits_Checks__c</objectType>
    </variables>
    <variables>
        <name>colResolutions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resolution__c</objectType>
    </variables>
    <variables>
        <name>complaintSelectionString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loop1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loop2</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCredit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credits_Checks__c</objectType>
    </variables>
    <variables>
        <name>SingleResforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Resolution__c</objectType>
    </variables>
    <variables>
        <name>varAvoidableNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBuyer_Confusion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBuyer_s_Assurance_Upsell</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBuyer_s_Assurance_Upsell_Assignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>none_not_needed</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplaintAvoidable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintComplexity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplaintDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplaintReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplaintResAmt</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varComplaintResCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varComplaintType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplaintUnder500</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varComplaintValid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>for Credit or Check creation</description>
        <name>varCreditRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEnterAnotherRes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExistingCredits</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varfastlane_0</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Invoice Credit Record Type for when It&apos;s Seller Check</description>
        <name>varInv_CreditRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLaborCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPartsCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPostCloseResolution</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varResolutionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varResolutionAmountDiagnostic</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varResolutionGoodwill</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResolutionNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varResolutionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for temporary assigning to determine if an Invoice needs to be created</description>
        <name>varTempInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalValueofComplaint</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Variable for universal use of Tow Fee</description>
        <name>varTowFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varVerityres</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
