flows/Arb_Complaint_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Flatten_Claim_Selections</name>
        <label>Flatten Claim Selections</label>
        <locationX>638</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>claimSelectionString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Claim_Sub_Types_DRC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>i</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>i</name>
        <label>i++</label>
        <locationX>637</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop1</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>i_2</name>
        <label>i++2</label>
        <locationX>422</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_Value</name>
        <label>Set Next Value</label>
        <locationX>1107</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>claimSelectionString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Arbitration</name>
        <choiceText>Arbitration</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arbitration</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assurance</name>
        <choiceText>Assurance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assurance</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Avoidable_Arb_Notes</name>
        <label>Avoidable Arb Notes</label>
        <locationX>1680</locationX>
        <locationY>619</locationY>
        <defaultConnector>
            <targetReference>Create_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAvoidable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Avoidable_Notes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Avoidable_Notes_Screen</targetReference>
            </connector>
            <label>Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>continue_decision</name>
        <label>Continue</label>
        <locationX>1097</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Claim_Details</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Identified</name>
        <label>Type Identified?</label>
        <locationX>547</locationX>
        <locationY>36</locationY>
        <defaultConnector>
            <targetReference>Enter_Case_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>typeYep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Claim_Parent_Type</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Will_This_Require_Review</name>
        <label>Will This Require Review</label>
        <locationX>1379</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Enter_Claim_Details_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_this_Require_the_Review</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Complaint</targetReference>
            </connector>
            <label>Needs Review</label>
        </rules>
    </decisions>
    <description>Adding validation for notes

Formula update</description>
    <dynamicChoiceSets>
        <name>Avoidable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>avoidable__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AvoidableReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Avoidable_Reason__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>caseTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceClaimParentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Claim_Parent_Type__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choiceClaimSubType</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Value__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choiceClaimParentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Claim_Parent_Type__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>claim_type__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist__mdt</object>
        <sortField>Dependent_Field_Value__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ClaimTypes</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>claim_type__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ComplexityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complexity__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvalidReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>invalid_Reason__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>complaint_type__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Valid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>valid__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Will_This_Require_Review_Team</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Needs_Review__c</picklistField>
        <picklistObject>Complaint__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>continue</name>
        <dataType>Boolean</dataType>
        <expression>if(len({!claimSelectionString}) &gt; 0, true, false)</expression>
    </formulas>
    <formulas>
        <name>nextValue</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;, {!claimSelectionString}) = 0, &quot;&quot;, RIGHT({!claimSelectionString},LEN({!claimSelectionString}) - FIND(&quot;;&quot;,{!claimSelectionString})))</expression>
    </formulas>
    <formulas>
        <name>NotesCombined</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!Avoidable_Notes})), {!Avoidable_Notes}, {!Avoidable_Notes2})</expression>
    </formulas>
    <formulas>
        <name>thisValue</name>
        <dataType>String</dataType>
        <expression>if(FIND(&quot;;&quot;,{!claimSelectionString}) = 0,{!claimSelectionString}, substitute(LEFT({!claimSelectionString}, FIND(&quot;;&quot;,{!claimSelectionString})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Arb Complaint Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Arb Complaint Flow</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>635</locationX>
        <locationY>556</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>loop1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>i_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_0</name>
        <label>Loop</label>
        <locationX>864</locationX>
        <locationY>559</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>loop2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>continue_decision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Complaint</name>
        <label>Create Complaint</label>
        <locationX>1350</locationX>
        <locationY>473</locationY>
        <connector>
            <targetReference>Set_Next_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Avoidable_Notes__c</field>
            <value>
                <elementReference>NotesCombined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avoidable_Reason__c</field>
            <value>
                <elementReference>varAvoidableReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Parent_Type__c</field>
            <value>
                <elementReference>Select_Claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>arbitration_id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>avoidable__c</field>
            <value>
                <elementReference>varAvoidable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>claim_type__c</field>
            <value>
                <elementReference>thisValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>invalid_Reason__c</field>
            <value>
                <elementReference>varInvalidReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>valid__c</field>
            <value>
                <elementReference>varValid</elementReference>
            </value>
        </inputAssignments>
        <object>Complaint__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>390</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Identified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseGoGreenSeller</assignToReference>
            <field>Go_Green_Seller__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseUserSubmittedDeets</assignToReference>
            <field>User_Submitted_Details__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>835</locationX>
        <locationY>170</locationY>
        <connector>
            <targetReference>Select_Claim_Parent_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Avoidable_Notes_Screen</name>
        <label>Avoidable Notes Screen</label>
        <locationX>1637</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Complaint</targetReference>
        </connector>
        <fields>
            <name>NoteScreenReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You had selected that this Complaint was AVOIDABLE and you must enter Notes when it avoidable.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Avoidable_Notes2</name>
            <dataType>String</dataType>
            <fieldText>Avoidable Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1097</locationX>
        <locationY>706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationMessage</name>
            <fieldText>Success! All compliants for Case #{!varCaseNumber} have been entered.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Case_Type</name>
        <label>Enter Case Type</label>
        <locationX>783</locationX>
        <locationY>36</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>typeInstructions</name>
            <fieldText>In order to proceed with entering Complaint details, you must specify the Case Type as Arbitration or Assurance.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Type</name>
            <choiceReferences>Arbitration</choiceReferences>
            <choiceReferences>Assurance</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Claim_Details</name>
        <label>Enter Claim Details</label>
        <locationX>1236</locationX>
        <locationY>794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Will_This_Require_Review</targetReference>
        </connector>
        <fields>
            <name>detailsInstructions</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter the details for the &lt;/B&gt;&lt;B&gt;&lt;U&gt;{!thisValue}&lt;/U&gt;&lt;/B&gt;&lt;B&gt; claim.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text7</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Will_this_Require_the_Review</name>
            <choiceReferences>Will_This_Require_Review_Team</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will this Require the Review Team?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Claim_Details_0</name>
        <label>Enter Claim Details</label>
        <locationX>1635</locationX>
        <locationY>816</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Avoidable_Arb_Notes</targetReference>
        </connector>
        <fields>
            <name>detailsInstructions_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Please enter the details for the &lt;/B&gt;&lt;B&gt;&lt;U&gt;{!thisValue}&lt;/U&gt;&lt;/B&gt;&lt;B&gt; claim.&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text6_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AvoidableReason2_0</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Complaint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>avoidable__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Avoidable_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Was This Claim Avoidable?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Reason for Avoidable Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>AvoidableReason</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Avoidable</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varAvoidable</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varAvoidableReason</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>text7_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValidReasons_0</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Complaint__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>valid__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>invalid_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Was This Claim Valid?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Valid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Invalid Reason</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>InvalidReason</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varValid</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varInvalidReason</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Spacer_0</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Avoidable_Notes</name>
            <dataType>String</dataType>
            <fieldText>Avoidable Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Claim_Parent_Type</name>
        <label>Select Claim Parent Type</label>
        <locationX>640</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Claim_Sub_Types</targetReference>
        </connector>
        <fields>
            <name>claimParentInstructions</name>
            <fieldText>Select the main Claim Type here. The selection made here will filter down available Claim Sub-types on next screens. Once you finish entering claim details for a single main type, you can return to this screen to add details for another main claim type.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Claim_Type</name>
            <choiceReferences>choiceClaimParentType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Claim Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>userSubmitted</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;User Submitted Details:&lt;/B&gt; {!varCaseUserSubmittedDeets}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Claim_Sub_Types</name>
        <label>Select Claim Sub-Types</label>
        <locationX>634</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Flatten_Claim_Selections</targetReference>
        </connector>
        <fields>
            <name>introText</name>
            <fieldText>Select one or many claim sub-types. On following screens, you will enter specific details of each claim.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Claim_Sub_Types_DRC</name>
            <choiceReferences>choiceClaimSubType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Claim Sub-Types</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>userSubmittedDetails2</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;User Submitted Details: &lt;/B&gt;{!varCaseUserSubmittedDeets}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AvoidableNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Avoidable_Notes</elementReference>
        </value>
    </variables>
    <variables>
        <name>claimSelectionString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loop1</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loop2</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loopVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAvoidable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAvoidableReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseGoGreenSeller</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the reference to the originating Case Id.</description>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseUserSubmittedDeets</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvalidReason</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklist1Avoidable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Avoidable</elementReference>
        </value>
    </variables>
    <variables>
        <name>varValid</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
