flows/Asset_Verification_Image_Capture.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Off_Lot_Notes</name>
        <label>Assign Off-Lot Notes</label>
        <locationX>1891</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextArea_Off_Lot_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentWorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Off_Lot_Notes_Demonstrator</name>
        <label>Assign Off-Lot Notes Demonstrator</label>
        <locationX>1268</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextArea_Demonstrator_Off_Lot_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photo_Prompt_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Off_Lot_Notes_Secondary_Location_Inspected_Vehicle</name>
        <label>Assign Off-Lot Notes Secondary Location Inspected Vehicle</label>
        <locationX>1264</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextArea_Secondary_Location_Inspected_Vehicle_Off_Lot_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photo_Prompt_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Off_Lot_Notes_Service_Loaner</name>
        <label>Assign Off-Lot Notes Service Loaner</label>
        <locationX>1271</locationX>
        <locationY>717</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextArea_Service_Loaner_Off_Lot_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photo_Prompt_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Off_Lot_Notes_Unkown</name>
        <label>Assign Off-Lot Notes Unkown</label>
        <locationX>1274</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongTextArea_Unknown_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Photo_Prompt_Statuses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulatePhotoErrorMsg</name>
        <label>PopulatePhotoErrorMsg</label>
        <locationX>1769</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsgDisplay_PhotoRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TextTemplate_ErrorMsg_PhotoRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_UploadVehiclePhotos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Updates the current Work Order Line Item record&apos;s Field: Missing Dealer Jacket to true. (I think I still need to do this if the status is not sold.)</description>
        <name>Update_Status_MissingDealerJacket</name>
        <label>Update Status &amp; Missing Dealer Jacket</label>
        <locationX>727</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Missing_Dealer_Jacket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ErrorHandler_OffLotNotesRequired</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_SaleDate_PaymentMethod_FinanceSource</name>
        <label>Update Status, Sale Date, Payment Method &amp; Finance Source</label>
        <locationX>975</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Sale_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_SaleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Picklist_Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisWorkOrderLineItemRecord.Finance_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Text_FinanceSource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentWorkOrderLineItem</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Cash</name>
        <choiceText>Cash Sale (selected)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Demonstrator</name>
        <choiceText>Demonstrator -- &lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;Vehicle not present due to being utilized as a demonstrator by dealership staff or family.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demonstrator</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Financing</name>
        <choiceText>Financing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Financing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_InspectedVehicle</name>
        <choiceText>&lt;b&gt;Inspected Vehicle&lt;/b&gt; -- &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Verified the vehicle is present at the dealer’s primary location.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inspected Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SecondaryLocation</name>
        <choiceText>Secondary Location -- &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Vehicle not present at the dealer’s primary location. Unable to travel to secondary location to verify in-person.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary Location (if close-by we encourage them to take a picture)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_SecondaryLocationInspectedVehicle</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;Secondary Location - Inspected Vehicle -- Traveled to a secondary location to verify the vehicle is present. Under 20min drive, schedule permitting.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Secondary Location - Inspected Vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_ServiceLoaner</name>
        <choiceText>Service Loaner -- &lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;Vehicle not present due to being utilized by a dealership customer awaiting repairs or delivery by the dealership.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Service Loaner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Sold</name>
        <choiceText>Sold -- &lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Vehicle not present and has been reported as sold.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_TestDrive</name>
        <choiceText>Test Drive -- Vehicle not present due to being driven by a dealership customer on a test drive.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test Drive</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Unknown</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Unknown -- Vehicle not present and dealer is unable to verify its location.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_VehicleInspectionWaiver</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Vehicle Inspection Waiver -- Vehicle not present and has been granted an inspection waiver. Must be authorized by ACV Capital.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle Inspection Waiver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_VehicleInTransit</name>
        <choiceText>Vehicle in Transit -- &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Vehicle not present due to still being in transit from purchase.&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vehicle in Transit</stringValue>
        </value>
    </choices>
    <decisions>
        <description>If status is &quot;sold&quot; ask for the dealer jacket. Otherwise skip step.</description>
        <name>Ask_for_Dealer_Jacket_if_Sold</name>
        <label>Ask for Dealer Jacket if Sold</label>
        <locationX>425</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>Update_Status_MissingDealerJacket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Picklist_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Sold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_SaleDateAndPaymentMethod</targetReference>
            </connector>
            <label>If Sold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ErrorHandler_OffLotNotesRequired</name>
        <label>Is Off-Lot Notes Required</label>
        <locationX>852</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Photo_Prompt_Statuses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_Location_Inspected_Vehicle_Off_Lot</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SecondaryLocationInspectedVehicle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Secondary_Location_Inspected_Vehicle_Off_Lot_Notes</targetReference>
            </connector>
            <label>Secondary Location - Inspected Vehicle Off-Lot Notes</label>
        </rules>
        <rules>
            <name>Demonstrator_Off_Lot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Demonstrator</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Demonstrator_Off_Lot_Notes</targetReference>
            </connector>
            <label>Demonstrator Off-Lot Notes</label>
        </rules>
        <rules>
            <name>Service_Loaner_Off_Lot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_ServiceLoaner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Service_Loaner_Off_Lot_Notes</targetReference>
            </connector>
            <label>Service Loaner Off-Lot Notes</label>
        </rules>
        <rules>
            <name>Vehicle_Inspection_Waiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_VehicleInspectionWaiver</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Vehicle_Inspection_Waiver</targetReference>
            </connector>
            <label>Vehicle Inspection Waiver</label>
        </rules>
        <rules>
            <name>Unknown_Off_Lot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Unknown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Unknown_Notes</targetReference>
            </connector>
            <label>Unknown Off-Lot Notes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Photo_Required</name>
        <label>Is Photo Required</label>
        <locationX>2036</locationX>
        <locationY>397</locationY>
        <defaultConnector>
            <targetReference>Update_CurrentWorkOrderLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photo_Required_and_Not_Populated</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Image_Upload_Ids</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Empty_Collection</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_InspectedVehicle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SecondaryLocationInspectedVehicle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PopulatePhotoErrorMsg</targetReference>
            </connector>
            <label>Photo Required and Not Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photo_Prompt_Statuses</name>
        <label>Photo Prompt Statuses</label>
        <locationX>1551</locationX>
        <locationY>652</locationY>
        <defaultConnector>
            <targetReference>Screen_UploadVehiclePhotos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prompt_for_Photos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Demonstrator</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_ServiceLoaner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_VehicleInTransit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_TestDrive</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Unknown</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CurrentWorkOrderLineItem</targetReference>
            </connector>
            <label>Skip Prompt</label>
        </rules>
        <rules>
            <name>Skip_Prompt_and_display_Off_Lot_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>thisWorkOrderLineItemRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_SecondaryLocation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Off_Lot_Notes</targetReference>
            </connector>
            <label>Skip Prompt and display Off-Lot Notes</label>
        </rules>
    </decisions>
    <description>ID-3321 Asset Verification - Sold Status Adjustment and Upload Required Documentation removal.</description>
    <dynamicChoiceSets>
        <description>Contains all the choices available for the Work Order Line Item Field: Status</description>
        <name>PickChoiceSet_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Asset Verification Image Capture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Verification Image Capture</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <description>Stores the current Work Order Line Item record where this flow was triggered in a variable.</description>
        <name>Get_CurrentWorkOrderLineItemRecord</name>
        <label>Get Current Work Order Line Item Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Select</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>thisWorkOrderLineItemRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Missing_Dealer_Jacket__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Off_Lot_Notes__c</queriedFields>
        <queriedFields>Sale_Date__c</queriedFields>
        <queriedFields>Payment_Method__c</queriedFields>
        <queriedFields>Finance_Source__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the actual Work Order Line Item record based on the values stored within this flow.</description>
        <name>Update_CurrentWorkOrderLineItem</name>
        <label>Update Current Work Order Line Item</label>
        <locationX>1891</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance_Source__c</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Finance_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_Dealer_Jacket__c</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Missing_Dealer_Jacket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Off_Lot_Notes__c</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Off_Lot_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>thisWorkOrderLineItemRecord.Status</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Screen_Demonstrator_Off_Lot_Notes</name>
        <label>Demonstrator Off-Lot Notes</label>
        <locationX>1127</locationX>
        <locationY>540</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Off_Lot_Notes_Demonstrator</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Demonstrator_Off_Lot_Notes</name>
            <fieldText>&lt;p&gt;In the text box, record the name, position, phone number, and any relevant details provided by the dealer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LongTextArea_Demonstrator_Off_Lot_Notes</name>
            <defaultValue>
                <stringValue>{!thisWorkOrderLineItemRecord.Off_Lot_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Demonstrator Off-Lot Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Off-Lot Notes</description>
        <name>Screen_Off_Lot_Notes</name>
        <label>Off-Lot Notes</label>
        <locationX>1733</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Off_Lot_Notes</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Off_Lot_Notes</name>
            <fieldText>&lt;p&gt;In the text box record the location&apos;s name, address, phone number, and any relevant details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LongTextArea_Off_Lot_Notes</name>
            <defaultValue>
                <stringValue>{!thisWorkOrderLineItemRecord.Off_Lot_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Off-Lot Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_SaleDateAndPaymentMethod</name>
        <label>Sale Date and Payment Method</label>
        <locationX>754</locationX>
        <locationY>1129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Status_SaleDate_PaymentMethod_FinanceSource</targetReference>
        </connector>
        <fields>
            <name>DisplayText_RequestToReview</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Request to review a Bill of Sale, Deal Jacket, and/or Buyer’s Order to verify the vehicle sale.  Input the date of sale and if the vehicle was financed or purchased with cash.  If financed, input the finance source.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_SaleDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>thisWorkOrderLineItemRecord.Sale_Date__c</elementReference>
            </defaultValue>
            <fieldText>Sale Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Picklist_Payment_Method</name>
            <choiceReferences>Choice_Cash</choiceReferences>
            <choiceReferences>Choice_Financing</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Cash</defaultSelectedChoiceReference>
            <fieldText>Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_FinanceSource</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>thisWorkOrderLineItemRecord.Finance_Source__c</elementReference>
            </defaultValue>
            <fieldText>Finance Source</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_ContactACVCapital</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Contact the Asset Verification Helpline (716) 302-0699 if:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Payment method is cash and sale date is greater than 2 business day ago&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Payment method is financing and the sale date is greater than 5 business days ago.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Secondary_Location_Inspected_Vehicle_Off_Lot_Notes</name>
        <label>Secondary Location - Inspected Vehicle Off-Lot Notes</label>
        <locationX>1126</locationX>
        <locationY>413</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Off_Lot_Notes_Secondary_Location_Inspected_Vehicle</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Secondary_Location_Inspected_Vehicle_Off_Lot_Notes</name>
            <fieldText>&lt;p&gt;In the text box, record the location&apos;s name, address, phone number, and any relevant details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LongTextArea_Secondary_Location_Inspected_Vehicle_Off_Lot_Notes</name>
            <defaultValue>
                <stringValue>{!thisWorkOrderLineItemRecord.Off_Lot_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Secondary Location - Inspected Vehicle Off-Lot Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Service_Loaner_Off_Lot_Notes</name>
        <label>Service Loaner Off-Lot Notes</label>
        <locationX>1132</locationX>
        <locationY>717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Off_Lot_Notes_Service_Loaner</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Service_Loaner_Off_Lot_Notes_Helper</name>
            <fieldText>&lt;p&gt;In the text box, record the name, phone number, and any relevant details provided by the dealer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LongTextArea_Service_Loaner_Off_Lot_Notes</name>
            <defaultValue>
                <stringValue>{!thisWorkOrderLineItemRecord.Off_Lot_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Service Loaner Off-Lot Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Unknown_Notes</name>
        <label>Unknown Notes</label>
        <locationX>1133</locationX>
        <locationY>855</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Off_Lot_Notes_Unkown</targetReference>
        </connector>
        <fields>
            <name>DisplayText_Unknown_Notes</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please record any relevant information observed or provided by the dealer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LongTextArea_Unknown_Notes</name>
            <defaultValue>
                <stringValue>{!thisWorkOrderLineItemRecord.Off_Lot_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Unknown Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_UploadRequiredDocumentation</name>
        <label>Upload Required Documentation</label>
        <locationX>1240</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FileUpload_UploadRequiredDocumentation</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Required Documentation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisWorkOrderLineItemRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png, .jpg, .jpeg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayText_PleaseUploadCopies</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Please upload copies of the Bill of Sale, Deal Jacket, and/or Buyer’s Order you reviewed.  Please ensure the VIN, Date of Sale, and Payment Method are visible.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_UploadVehiclePhotos</name>
        <label>Upload Vehicle Photos</label>
        <locationX>1558</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Photo_Required</targetReference>
        </connector>
        <fields>
            <name>DisplayText_PhotoErrorMsg</name>
            <fieldText>&lt;p&gt;{!ErrorMsgDisplay_PhotoRequired}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assetverification_Uploads</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload a photo with the entire vehicle in the frame and a photo of the VIN plate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>thisWorkOrderLineItemRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .jpeg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Image_Upload_Ids</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Vehicle_Inspection_Waiver</name>
        <label>Vehicle Inspection Waiver</label>
        <locationX>972</locationX>
        <locationY>963</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_CurrentWorkOrderLineItem</targetReference>
        </connector>
        <fields>
            <name>Checkbox_Vehicle_Inspection_Waiver</name>
            <dataType>Boolean</dataType>
            <fieldText>By selecting this status, you confirm that you have received authorization by the ACV Capital Portfolio Dept. to waive the inspection of this vehicle.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Select</name>
        <label>Status Select</label>
        <locationX>304</locationX>
        <locationY>647</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ask_for_Dealer_Jacket_if_Sold</targetReference>
        </connector>
        <fields>
            <name>Picklist_Status</name>
            <choiceReferences>Choice_InspectedVehicle</choiceReferences>
            <choiceReferences>Choice_SecondaryLocationInspectedVehicle</choiceReferences>
            <choiceReferences>Choice_SecondaryLocation</choiceReferences>
            <choiceReferences>Choice_Sold</choiceReferences>
            <choiceReferences>Choice_VehicleInTransit</choiceReferences>
            <choiceReferences>Choice_Demonstrator</choiceReferences>
            <choiceReferences>Choice_ServiceLoaner</choiceReferences>
            <choiceReferences>Choice_TestDrive</choiceReferences>
            <choiceReferences>Choice_Unknown</choiceReferences>
            <choiceReferences>Choice_VehicleInspectionWaiver</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>154</locationY>
        <connector>
            <targetReference>Get_CurrentWorkOrderLineItemRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate_ErrorMsg_PhotoRequired</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A photo upload is required for the status you have selected.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Empty_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMsgDisplay_PhotoRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the record ID of the Work Order Line Item record where this flow is triggered.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to hold ids of all images being uploaded</description>
        <name>Image_Upload_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Work Order Line Item record where this flow will be fired from.</description>
        <name>thisWorkOrderLineItemRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
