flows/Begin_Travel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Fields</name>
        <label>Update Fields</label>
        <locationX>880</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>Service_Appointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Appointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Allowed Previous Statuses: New, Scheduled, Dispatched</description>
        <name>Allowed_Status_Change</name>
        <label>Allowed Status Change?</label>
        <locationX>604</locationX>
        <locationY>241</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allowed_Previous_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Appointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aknowledged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fields</targetReference>
            </connector>
            <label>Allowed Previous Status</label>
        </rules>
    </decisions>
    <description>FSL flow for VCI to signal they are beginning travel to a job</description>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Begin Travel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Begin Travel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_TSE</name>
        <label>Create TSE</label>
        <locationX>1182</locationX>
        <locationY>235</locationY>
        <inputAssignments>
            <field>StartTime</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeSheetId</field>
            <value>
                <elementReference>TimeSheet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Travel - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Service_Appointment.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>TimeSheetEntry</object>
    </recordCreates>
    <recordLookups>
        <name>Get_service_appointment</name>
        <label>Get service appointment</label>
        <locationX>181</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>Service_Appointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SR</name>
        <label>Get SR</label>
        <locationX>327</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTimesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>SR</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTimesheet</name>
        <label>GetTimesheet</label>
        <locationX>469</locationX>
        <locationY>240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allowed_Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SR.Id</elementReference>
            </value>
        </filters>
        <object>TimeSheet</object>
        <outputReference>TimeSheet</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1046</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Create_TSE</targetReference>
        </connector>
        <inputReference>Service_Appointment</inputReference>
    </recordUpdates>
    <startElementReference>Get_service_appointment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_TSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>Service_Appointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>TimeSheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheet</objectType>
    </variables>
</Flow>
