flows/Capture_True360_Opportunity_stage_changes.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_history_record_with_Todays_Date</name>
        <label>Update history record with Todays Date</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Fetch_Opportunity_stage_history_records.Stage_Marked_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_Stage_history_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_for_Stage_exists</name>
        <label>Record for Stage exists?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_new_stage_history_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exists</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Opportunity_stage_history_records.Stage_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_history_record_with_Todays_Date</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Capture Date when stage changes in True360 Opportunities</description>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Capture True360 Opportunity stage change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture True360 Opportunity stage changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_stage_history_record</name>
        <label>Create new stage history record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Marked_date__c</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Name__c</field>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Stage_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Opportunity_stage_history_records</name>
        <label>Fetch Opportunity stage history records</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_for_Stage_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity_Stage_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_existing_Stage_history_records</name>
        <label>Update existing Stage history records</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputReference>Fetch_Opportunity_stage_history_records</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Opportunity_stage_history_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True360Opportunity</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
