flows/Complete_Appointment_FSL_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Populate_Validation_Text</name>
        <label>Populate Validation Text</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <assignmentItems>
            <assignToReference>var_ValidationText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>const_ValidationText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_SchedEndTime</name>
        <label>Reset SchedEndTime</label>
        <locationX>537</locationX>
        <locationY>192</locationY>
        <assignmentItems>
            <assignToReference>var_SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <constants>
        <name>const_ValidationText</name>
        <dataType>String</dataType>
        <value>
            <stringValue>***Completed/Canceled Notes field cannot be blank when status is &apos;Canceled&apos;.***</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Adjust_Scheduled_End_Time</name>
        <label>Adjust Scheduled End Time?</label>
        <locationX>369</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Set_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>adjustYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SchedStartTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_SchedEndTime</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Completed_or_Canceled</name>
        <label>Completed or Canceled</label>
        <locationX>848</locationX>
        <locationY>295</locationY>
        <defaultConnector>
            <targetReference>update_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Completed</defaultConnectorLabel>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Canceled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Require_Additional_Notes</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Require_Additional_Notes</name>
        <label>Require Additional Notes?</label>
        <locationX>850</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>screen_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ReqAddNotesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_NotesArePopulated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Validation_Text</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choiceset_WhenToReturn</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>When_to_Return__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>form_NotesArePopulated</name>
        <dataType>Boolean</dataType>
        <expression>LEN({!Completed_Canceled_Notes}) &gt;=1</expression>
    </formulas>
    <interviewLabel>Complete Appointment FSL Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Scheduled_Start_Time</name>
        <label>Get Scheduled Start Time</label>
        <locationX>207</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adjust_Scheduled_End_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>var_SchedEndTime</assignToReference>
            <field>SchedEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SchedStartTime</assignToReference>
            <field>SchedStartTime</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_SA</name>
        <label>Update SA</label>
        <locationX>1171</locationX>
        <locationY>287</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Canceled_Notes__c</field>
            <value>
                <elementReference>Completed_Canceled_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>var_SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_to_Return__c</field>
            <value>
                <elementReference>When_to_Return</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_SA_0</name>
        <label>Update SA except Sched End</label>
        <locationX>1171</locationX>
        <locationY>102</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Canceled_Notes__c</field>
            <value>
                <elementReference>Completed_Canceled_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_to_Return__c</field>
            <value>
                <elementReference>When_to_Return</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <screens>
        <name>screen_Canceled</name>
        <label>Canceled</label>
        <locationX>1023</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_SA_0</targetReference>
        </connector>
        <fields>
            <name>info_Screen2</name>
            <fieldText>&lt;p&gt;Update the parent Work Order using one of the options below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>When_to_Return</name>
            <choiceReferences>choiceset_WhenToReturn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>When to Return?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>700</locationX>
        <locationY>293</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Completed_or_Canceled</targetReference>
        </connector>
        <fields>
            <name>Status</name>
            <choiceReferences>choice_Completed</choiceReferences>
            <choiceReferences>choice_Canceled</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>disp_ActualEndTime</name>
            <fieldText>&lt;p&gt;Actual End Time: {!$Flow.CurrentDateTime}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>disp_ValidationText</name>
            <fieldText>&lt;p&gt;{!var_ValidationText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completed_Canceled_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Completed/Canceled Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Scheduled_Start_Time</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SchedEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SchedStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ValidationText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
