flows/Condition_Report_Prescreen_Emails.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CR_IsCRIsUnderReview_Under_Review</name>
        <label>CR Is Under Review</label>
        <locationX>595</locationX>
        <locationY>672</locationY>
        <actionName>Condition_Report_Prescreen__c.CR_Is_Under_Review</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CR_Review_Completed_No_Changes_Made</name>
        <label>CR Review Completed - No Changes Made</label>
        <locationX>1007</locationX>
        <locationY>377</locationY>
        <actionName>Condition_Report_Prescreen__c.CR_Review_Completed_No_Changes_Made</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CR_Review_Completed_Yes_Changes_Notes</name>
        <label>CR Review Completed - Yes Changes/Notes</label>
        <locationX>1016</locationX>
        <locationY>612</locationY>
        <actionName>Condition_Report_Prescreen__c.CR_Review_Completed_Yes_Changes_Notes</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CR_Sent_To_Prescreen</name>
        <label>CR Sent To Prescreen</label>
        <locationX>209</locationX>
        <locationY>376</locationY>
        <actionName>Condition_Report_Prescreen__c.CR_Sent_To_Prescreen</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CR_Timed_Out</name>
        <label>CR Timed Out</label>
        <locationX>370</locationX>
        <locationY>657</locationY>
        <actionName>Condition_Report_Prescreen__c.CR_Timed_Out</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Evaluate_Prescreen_Emails</name>
        <label>Evaluate Prescreen Emails</label>
        <locationX>587</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_To_Prescreen_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sent_To_Prescreen_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sent_To_Prescreen_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Sent_To_Prescreen</targetReference>
            </connector>
            <label>Sent To Prescreen Email?</label>
        </rules>
        <rules>
            <name>Time_Out_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Time_Out_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Time_Out_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Timed_Out</targetReference>
            </connector>
            <label>Time Out Email?</label>
        </rules>
        <rules>
            <name>Under_Review_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Under_Review_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_IsCRIsUnderReview_Under_Review</targetReference>
            </connector>
            <label>Under Review Email?</label>
        </rules>
        <rules>
            <name>Completed_Reviewed_No_Changes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completed_Reviewed_No_Changes_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Reviewed_No_Changes_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Review_Completed_No_Changes_Made</targetReference>
            </connector>
            <label>Completed Reviewed No Changes Email?</label>
        </rules>
        <rules>
            <name>Completed_Reviewed_With_Changes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completed_Review_Changes_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Review_Changes_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Review_Completed_Yes_Changes_Notes</targetReference>
            </connector>
            <label>Completed Reviewed With Changes Email?</label>
        </rules>
    </decisions>
    <interviewLabel>Condition Report Prescreen Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Condition Report Prescreen Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Evaluate_Prescreen_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Prescreen_Email_Target__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Condition_Report_Prescreen__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
