flows/CR_Quick_Actions_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Aftermarket_Wheels_Processed_Flag</name>
        <label>Set Aftermarket Wheels Processed Flag</label>
        <locationX>888</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>Aftermarket_Wheels_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Airbag_Light_Processed_Flag</name>
        <label>Set Airbag Light Processed Flag</label>
        <locationX>892</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Airbag_Light_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Branded_Title_Processed_Flag</name>
        <label>Set Branded Title Processed Flag</label>
        <locationX>892</locationX>
        <locationY>1779</locationY>
        <assignmentItems>
            <assignToReference>Branded_Title_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Check_Engine_Light_Processed_Flag</name>
        <label>Set Check Engine Light Processed Flag</label>
        <locationX>893</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>Check_Engine_Light_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Damaged_Wheels_Processed_Flag</name>
        <label>Set Damaged Wheels Processed Flag</label>
        <locationX>889</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>Damaged_Wheels_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Engine_Accessory_Noise_Detected_Processed_Flag</name>
        <label>Set Engine Accessory Noise Detected Processed Flag</label>
        <locationX>892</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>Engine_Accessory_Noise_Detected_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exhaust_Noise_Detected_Processed_Flag</name>
        <label>Set Exhaust Noise Detected Processed Flag</label>
        <locationX>892</locationX>
        <locationY>1252</locationY>
        <assignmentItems>
            <assignToReference>Exhaust_Noise_Detected_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Five_Digit_Odometer_Processed_Flag</name>
        <label>Set Five Digit Odometer Processed Flag</label>
        <locationX>893</locationX>
        <locationY>1905</locationY>
        <assignmentItems>
            <assignToReference>Five_Digit_Odometer_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Incomplete_Readiness_Monitors_Processed_Flag</name>
        <label>Set Incomplete Readiness Monitors Processed Flag</label>
        <locationX>893</locationX>
        <locationY>989</locationY>
        <assignmentItems>
            <assignToReference>Incomplete_Readiness_Monitors_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Internal_Noise_Detected_Processed_Flag</name>
        <label>Set Internal Noise Detected Processed Flag</label>
        <locationX>894</locationX>
        <locationY>1517</locationY>
        <assignmentItems>
            <assignToReference>Internal_Noise_Detected_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mismatched_Tires_Processed_Flag</name>
        <label>Set Mismatched Tires Processed Flag</label>
        <locationX>893</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>Mismatched_Tires_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Suspension_Modifications_Processed_Flag</name>
        <label>Set Suspension Modifications Processed Flag</label>
        <locationX>893</locationX>
        <locationY>1650</locationY>
        <assignmentItems>
            <assignToReference>Suspension_Modifications_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_TPMS_Light_Processed_Flag</name>
        <label>Set TPMS Light Processed Flag</label>
        <locationX>891</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>TPMS_Light_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Traction_Control_Light_Processed_Flag</name>
        <label>Set Traction Control Light Processed Flag</label>
        <locationX>890</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>Traction_Control_Light_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Undercarriage_Surface_Rust_Processed_Flag</name>
        <label>Set Undercarriage Surface Rust Processed Flag</label>
        <locationX>894</locationX>
        <locationY>1119</locationY>
        <assignmentItems>
            <assignToReference>Undercarriage_Surface_Rust_Processed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aftermarket_Wheels</name>
        <choiceText>Aftermarket Wheels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aftermarket Wheels</stringValue>
        </value>
    </choices>
    <choices>
        <name>Airbag_Light</name>
        <choiceText>Airbag Light</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Airbag Light</stringValue>
        </value>
    </choices>
    <choices>
        <name>Branded_Title</name>
        <choiceText>Branded Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Branded Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>Check_Engine_Light</name>
        <choiceText>Check Engine Light</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Check Engine Light</stringValue>
        </value>
    </choices>
    <choices>
        <name>Damaged_Wheels</name>
        <choiceText>Damaged Wheels</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged Wheels</stringValue>
        </value>
    </choices>
    <choices>
        <name>Engine_Accessory_Noise_Detected</name>
        <choiceText>Engine Accessory Noise Detected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Engine Accessory Noise Detected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exhaust_Noise_Detected</name>
        <choiceText>Exhaust Noise Detected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exhaust Noise Detected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Five_Digit_Odometer</name>
        <choiceText>Five Digit Odometer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Five Digit Odometer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incomplete_Readiness_Monitors</name>
        <choiceText>Incomplete Readiness Monitors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incomplete Readiness Monitors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Internal_Noise_Detected</name>
        <choiceText>Internal Noise Detected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Internal Noise Detected</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mismatched_Tires</name>
        <choiceText>Mismatched Tires</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mismatched Tires</stringValue>
        </value>
    </choices>
    <choices>
        <name>Suspension_Modifications</name>
        <choiceText>Suspension Modifications</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspension Modifications</stringValue>
        </value>
    </choices>
    <choices>
        <name>TPMS_Light</name>
        <choiceText>TPMS Light</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TPMS Light</stringValue>
        </value>
    </choices>
    <choices>
        <name>Traction_Control_Light</name>
        <choiceText>Traction Control Light</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Traction Control Light</stringValue>
        </value>
    </choices>
    <choices>
        <name>Undercarriage_Surface_Rust</name>
        <choiceText>Undercarriage Surface Rust</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undercarriage Surface Rust</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Determine_Selection</name>
        <label>Determine Selection</label>
        <locationX>246</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Update_Current_CRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Damaged_Wheels_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Damaged_Wheels</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Damaged_Wheels_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damaged_Wheels_Data_Population</targetReference>
            </connector>
            <label>Damaged Wheels Selected</label>
        </rules>
        <rules>
            <name>Mismatched_Tires_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Mismatched_Tires</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Mismatched_Tires_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mismatched_Tires_Data_Population</targetReference>
            </connector>
            <label>Mismatched Tires Selected</label>
        </rules>
        <rules>
            <name>Aftermarket_Wheels_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Aftermarket_Wheels</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aftermarket_Wheels_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aftermarket_Wheels_Data_Population</targetReference>
            </connector>
            <label>Aftermarket Wheels Selected</label>
        </rules>
        <rules>
            <name>Airbag_Light_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Airbag_Light</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Airbag_Light_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Airbag_Light_Data_Population</targetReference>
            </connector>
            <label>Airbag Light Selected</label>
        </rules>
        <rules>
            <name>TPMS_Light_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TPMS_Light</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TPMS_Light_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TPMS_Light_Data_Population</targetReference>
            </connector>
            <label>TPMS Light Selected</label>
        </rules>
        <rules>
            <name>Traction_Control_Light_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traction_Control_Light</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Traction_Control_Light_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Traction_Control_Light_Data_Population</targetReference>
            </connector>
            <label>Traction Control Light Selected</label>
        </rules>
        <rules>
            <name>Check_Engine_Light_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Engine_Light</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Engine_Light_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Engine_Light_Data_Population</targetReference>
            </connector>
            <label>Check Engine Light Selected</label>
        </rules>
        <rules>
            <name>Incomplete_Readiness_Monitors_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Incomplete_Readiness_Monitors</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Incomplete_Readiness_Monitors_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incomplete_Readiness_Monitors_Data_Population</targetReference>
            </connector>
            <label>Incomplete Readiness Monitors Selected</label>
        </rules>
        <rules>
            <name>Undercarriage_Surface_Rust_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Undercarriage_Surface_Rust</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Undercarriage_Surface_Rust_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Undercarriage_Surface_Rust_Data_Population</targetReference>
            </connector>
            <label>Undercarriage Surface Rust Selected</label>
        </rules>
        <rules>
            <name>Exhaust_Noise_Detected_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Exhaust_Noise_Detected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Exhaust_Noise_Detected_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exhaust_Noise_Detected_Data_Population</targetReference>
            </connector>
            <label>Exhaust Noise Detected Selected</label>
        </rules>
        <rules>
            <name>Engine_Accessory_Noise_Detected_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engine_Accessory_Noise_Detected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Engine_Accessory_Noise_Detected_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engine_Accessory_Noise_Detected_Data_Population</targetReference>
            </connector>
            <label>Engine Accessory Noise Detected Selected</label>
        </rules>
        <rules>
            <name>Internal_Noise_Detected_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Noise_Detected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Internal_Noise_Detected_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Noise_Detected_Data_Population</targetReference>
            </connector>
            <label>Internal Noise Detected Selected</label>
        </rules>
        <rules>
            <name>Suspension_Modifications_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Suspension_Modifications</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Suspension_Modifications_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Suspension_Modifications_Data_Population</targetReference>
            </connector>
            <label>Suspension Modifications Selected</label>
        </rules>
        <rules>
            <name>Branded_Title_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Branded_Title</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Branded_Title_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Branded_Title_Data_Population</targetReference>
            </connector>
            <label>Branded Title Selected</label>
        </rules>
        <rules>
            <name>Five_Digit_Odometer_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Five_Digit_Odometer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Five_Digit_Odometer_Processed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Five_Digit_Odometer_Data_Population</targetReference>
            </connector>
            <label>Five Digit Odometer Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CR_Closed</name>
        <label>Is CR Closed</label>
        <locationX>246</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Start</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CRP_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CR_Question_creation_error</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuestionSubTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Question_Sub_Type__c</picklistField>
        <picklistObject>CR_Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuestionTypeChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Question_Type__c</picklistField>
        <picklistObject>CR_Question__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CR Quick Actions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CR Quick Actions Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Aftermarket_Wheels_Question</name>
        <label>New Aftermarket Wheels Question</label>
        <locationX>770</locationX>
        <locationY>344</locationY>
        <connector>
            <targetReference>Set_Aftermarket_Wheels_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Aftermarket_Wheels_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Aftermarket_Wheels_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Aftermarket_Wheels_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Airbag_Light_Question</name>
        <label>New Airbag Light Question</label>
        <locationX>767</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Set_Airbag_Light_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Airbag_Light_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Airbag_Light_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Airbag_Light_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Branded_Title_Question</name>
        <label>New Branded Title Question</label>
        <locationX>778</locationX>
        <locationY>1779</locationY>
        <connector>
            <targetReference>Set_Branded_Title_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Branded_Title_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Branded_Title_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Branded_Title_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Check_Engine_Light_Question</name>
        <label>New Check Engine Light Question</label>
        <locationX>771</locationX>
        <locationY>857</locationY>
        <connector>
            <targetReference>Set_Check_Engine_Light_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Check_Engine_Light_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Check_Engine_Light_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Check_Engine_Light_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Damaged_Tires_Question</name>
        <label>New Damaged Tires Question</label>
        <locationX>769</locationX>
        <locationY>97</locationY>
        <connector>
            <targetReference>Set_Damaged_Wheels_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Damaged_Wheels_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Damaged_Wheels_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Damaged_Wheels_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Engine_Accessory_Noise_Detected_Question</name>
        <label>New Engine Accessory Noise Detected Question</label>
        <locationX>774</locationX>
        <locationY>1383</locationY>
        <connector>
            <targetReference>Set_Engine_Accessory_Noise_Detected_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Engine_Accessory_Noise_Detected_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Engine_Accessory_Noise_Detected_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Engine_Accessory_Noise_Detected_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Exhaust_Noise_Detected_Question</name>
        <label>New Exhaust Noise Detected Question</label>
        <locationX>774</locationX>
        <locationY>1252</locationY>
        <connector>
            <targetReference>Set_Exhaust_Noise_Detected_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Exhaust_Noise_Detected_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Exhaust_Noise_Detected_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Exhaust_Noise_Detected_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Five_Digit_Odometer_Question</name>
        <label>New Five Digit Odometer Question</label>
        <locationX>778</locationX>
        <locationY>1905</locationY>
        <connector>
            <targetReference>Set_Five_Digit_Odometer_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Five_Digit_Odometer_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Five_Digit_Odometer_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Five_Digit_Odometer_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Incomplete_Readiness_Monitors_Question</name>
        <label>New Incomplete Readiness Monitors Question</label>
        <locationX>768</locationX>
        <locationY>989</locationY>
        <connector>
            <targetReference>Set_Incomplete_Readiness_Monitors_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Incomplete_Readiness_Monitors_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Incomplete_Readiness_Monitors_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Incomplete_Readiness_Monitors_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Internal_Noise_Detected_Question</name>
        <label>New Internal Noise Detected Question</label>
        <locationX>778</locationX>
        <locationY>1517</locationY>
        <connector>
            <targetReference>Set_Internal_Noise_Detected_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Internal_Noise_Detected_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Internal_Noise_Detected_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Internal_Noise_Detected_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Mismatched_Tires_Question</name>
        <label>New Mismatched Tires Question</label>
        <locationX>768</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Set_Mismatched_Tires_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Mismatched_Tires_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Mismatched_Tires_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Mismatched_Tires_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Suspension_Modifications_Question</name>
        <label>New Suspension Modifications Question</label>
        <locationX>776</locationX>
        <locationY>1650</locationY>
        <connector>
            <targetReference>Set_Suspension_Modifications_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Suspension_Modifications_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Suspension_Modifications_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Suspension_Modifications_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_TPMS_Light_Question</name>
        <label>New TPMS Light Question</label>
        <locationX>768</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>Set_TPMS_Light_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>TPMS_Light_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>TPMS_Light_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>TPMS_Light_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Traction_Control_Light_Question</name>
        <label>New Traction Control Light Question</label>
        <locationX>769</locationX>
        <locationY>724</locationY>
        <connector>
            <targetReference>Set_Traction_Control_Light_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Traction_Control_Light_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Traction_Control_Light_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Traction_Control_Light_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Undercarriage_Surface_Rust_Question</name>
        <label>New Undercarriage Surface Rust Question</label>
        <locationX>773</locationX>
        <locationY>1119</locationY>
        <connector>
            <targetReference>Set_Undercarriage_Surface_Rust_Processed_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CR_Question_creation_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report_Prescreen__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Notes_Photos__c</field>
            <value>
                <elementReference>Undercarriage_Surface_Rust_Question_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Sub_Type__c</field>
            <value>
                <elementReference>Undercarriage_Surface_Rust_Question_Sub_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_Type__c</field>
            <value>
                <elementReference>Undercarriage_Surface_Rust_Question_Type</elementReference>
            </value>
        </inputAssignments>
        <object>CR_Question__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_CRP_Status</name>
        <label>Get CRP Status</label>
        <locationX>254</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CR_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Condition_Report_Prescreen__c</object>
        <outputAssignments>
            <assignToReference>CRP_Status</assignToReference>
            <field>Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_CRP</name>
        <label>Update Current CRP</label>
        <locationX>51</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CR_Update_by_pre_Screener__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Condition_Report_Prescreen__c</object>
    </recordUpdates>
    <screens>
        <name>Aftermarket_Wheels_Data_Population</name>
        <label>Aftermarket Wheels Data Population</label>
        <locationX>641</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Aftermarket_Wheels_Question</targetReference>
        </connector>
        <fields>
            <name>Aftermarket_Wheels_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Wheels &amp; Tires</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aftermarket_Wheels_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Aftermarket Rims / Tires</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Aftermarket_Wheels_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Aftermarket_Wheels_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Airbag_Light_Data_Population</name>
        <label>Airbag Light Data Population</label>
        <locationX>643</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Airbag_Light_Question</targetReference>
        </connector>
        <fields>
            <name>Airbag_Light_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Warning Lights</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Airbag_Light_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Airbag Light</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Airbag_Light_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Airbag_Light_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Branded_Title_Data_Population</name>
        <label>Branded Title Data Population</label>
        <locationX>651</locationX>
        <locationY>1779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Branded_Title_Question</targetReference>
        </connector>
        <fields>
            <name>Branded_Title_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Title &amp; History</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Branded_Title_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Branded Title</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Branded_Title_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Branded_Title_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Engine_Light_Data_Population</name>
        <label>Check Engine Light Data Population</label>
        <locationX>645</locationX>
        <locationY>857</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Check_Engine_Light_Question</targetReference>
        </connector>
        <fields>
            <name>Check_Engine_Light_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Warning Lights</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_Engine_Light_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Check Engine Light</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Check_Engine_Light_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Check_Engine_Light_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CR_Question_creation_error</name>
        <label>CR Question creation error</label>
        <locationX>1234</locationX>
        <locationY>611</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;It looks like you are trying to update a closed prescreen record. Please double check the status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Damaged_Wheels_Data_Population</name>
        <label>Damaged Wheels Data Population</label>
        <locationX>642</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Damaged_Tires_Question</targetReference>
        </connector>
        <fields>
            <name>Damaged_Wheels_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Wheels &amp; Tires</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Damaged_Wheels_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Damaged Wheels</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Damaged_Wheels_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Damaged_Wheels_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>51</locationX>
        <locationY>353</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>finish_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 255, 47);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;color: rgb(3, 215, 10);&quot;&gt;CR Question(s) created successfully!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Engine_Accessory_Noise_Detected_Data_Population</name>
        <label>Engine Accessory Noise Detected Data Population</label>
        <locationX>650</locationX>
        <locationY>1383</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Engine_Accessory_Noise_Detected_Question</targetReference>
        </connector>
        <fields>
            <name>Engine_Accessory_Noise_Detected_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mechanicals</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Engine_Accessory_Noise_Detected_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Engine Accessory Issue</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Engine_Accessory_Noise_Detected_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Engine_Accessory_Noise_Detected_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exhaust_Noise_Detected_Data_Population</name>
        <label>Exhaust Noise Detected Data Population</label>
        <locationX>652</locationX>
        <locationY>1252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Exhaust_Noise_Detected_Question</targetReference>
        </connector>
        <fields>
            <name>Exhaust_Noise_Detected_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mechanicals</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exhaust_Noise_Detected_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Exhaust Noise</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exhaust_Noise_Detected_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Exhaust_Noise_Detected_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Five_Digit_Odometer_Data_Population</name>
        <label>Five Digit Odometer Data Population</label>
        <locationX>652</locationX>
        <locationY>1905</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Five_Digit_Odometer_Question</targetReference>
        </connector>
        <fields>
            <name>Five_Digit_Odometer_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Interior</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Five_Digit_Odometer_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Five Digit Odometer</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Five_Digit_Odometer_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Five_Digit_Odometer_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incomplete_Readiness_Monitors_Data_Population</name>
        <label>Incomplete Readiness Monitors Data Population</label>
        <locationX>650</locationX>
        <locationY>989</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Incomplete_Readiness_Monitors_Question</targetReference>
        </connector>
        <fields>
            <name>Incomplete_Readiness_Monitors_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Warning Lights</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incomplete_Readiness_Monitors_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Incomplete Readiness Monitors</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incomplete_Readiness_Monitors_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Incomplete_Readiness_Monitors_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Internal_Noise_Detected_Data_Population</name>
        <label>Internal Noise Detected Data Population</label>
        <locationX>653</locationX>
        <locationY>1517</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Internal_Noise_Detected_Question</targetReference>
        </connector>
        <fields>
            <name>Internal_Noise_Detected_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mechanicals</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_Noise_Detected_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Engine Has Abnormal Noise</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_Noise_Detected_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Internal_Noise_Detected_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mismatched_Tires_Data_Population</name>
        <label>Mismatched Tires Data Population</label>
        <locationX>642</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Mismatched_Tires_Question</targetReference>
        </connector>
        <fields>
            <name>Mismatched_Tires_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Wheels &amp; Tires</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mismatched_Tires_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mismatched Tires</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mismatched_Tires_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Mismatched_Tires_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>254</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Selection</targetReference>
        </connector>
        <fields>
            <name>Choose_Quick_Actions</name>
            <choiceReferences>Damaged_Wheels</choiceReferences>
            <choiceReferences>Mismatched_Tires</choiceReferences>
            <choiceReferences>Aftermarket_Wheels</choiceReferences>
            <choiceReferences>Airbag_Light</choiceReferences>
            <choiceReferences>TPMS_Light</choiceReferences>
            <choiceReferences>Traction_Control_Light</choiceReferences>
            <choiceReferences>Check_Engine_Light</choiceReferences>
            <choiceReferences>Incomplete_Readiness_Monitors</choiceReferences>
            <choiceReferences>Undercarriage_Surface_Rust</choiceReferences>
            <choiceReferences>Exhaust_Noise_Detected</choiceReferences>
            <choiceReferences>Engine_Accessory_Noise_Detected</choiceReferences>
            <choiceReferences>Internal_Noise_Detected</choiceReferences>
            <choiceReferences>Suspension_Modifications</choiceReferences>
            <choiceReferences>Branded_Title</choiceReferences>
            <choiceReferences>Five_Digit_Odometer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Quick Actions</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Suspension_Modifications_Data_Population</name>
        <label>Suspension Modifications Data Population</label>
        <locationX>652</locationX>
        <locationY>1650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Suspension_Modifications_Question</targetReference>
        </connector>
        <fields>
            <name>Suspension_Modifications_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Mechanicals</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Suspension_Modifications_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Suspension Modifications</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Suspension_Modifications_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Suspension_Modifications_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TPMS_Light_Data_Population</name>
        <label>TPMS Light Data Population</label>
        <locationX>644</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_TPMS_Light_Question</targetReference>
        </connector>
        <fields>
            <name>TPMS_Light_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Warning Lights</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TPMS_Light_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>TPMS Light</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TPMS_Light_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TPMS_Light_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Traction_Control_Light_Data_Population</name>
        <label>Traction Control Light Data Population</label>
        <locationX>645</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Traction_Control_Light_Question</targetReference>
        </connector>
        <fields>
            <name>Traction_Control_Light_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Warning Lights</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Traction_Control_Light_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Traction Control Light</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Traction_Control_Light_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Traction_Control_Light_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Undercarriage_Surface_Rust_Data_Population</name>
        <label>Undercarriage Surface Rust Data Population</label>
        <locationX>649</locationX>
        <locationY>1119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Undercarriage_Surface_Rust_Question</targetReference>
        </connector>
        <fields>
            <name>Undercarriage_Surface_Rust_Question_Type</name>
            <choiceReferences>QuestionTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Frame &amp; Unibody</stringValue>
            </defaultValue>
            <fieldText>Question Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Undercarriage_Surface_Rust_Question_Sub_Type</name>
            <choiceReferences>QuestionSubTypeChoices</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Undercarriage Surface Rust</stringValue>
            </defaultValue>
            <fieldText>Question Sub-Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Undercarriage_Surface_Rust_Question_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Undercarriage_Surface_Rust_Notes</elementReference>
            </defaultValue>
            <fieldText>Question Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>128</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_CRP_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Aftermarket_Wheels_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The wheels appear to be aftermarket. Aftermarket wheels has been added to the CR</text>
    </textTemplates>
    <textTemplates>
        <name>Airbag_Light_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added Airbag Light is on</text>
    </textTemplates>
    <textTemplates>
        <name>Branded_Title_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added Branded Title as per Carfax disclosure</text>
    </textTemplates>
    <textTemplates>
        <name>Check_Engine_Light_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added Check Engine Light is on</text>
    </textTemplates>
    <textTemplates>
        <name>Damaged_Wheels_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Wheels have some damage. Added disclosure to the Damaged Wheels section</text>
    </textTemplates>
    <textTemplates>
        <name>Engine_Accessory_Noise_Detected_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An engine accessory noise has been detected in the AMP recording. (Please refer to AMP audio) has been added to the Engine Accessory Issue section</text>
    </textTemplates>
    <textTemplates>
        <name>Exhaust_Noise_Detected_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Excessive exhaust noise has been detected in the AMP recording. (Please refer to AMP audio) has been added to the Excessive Exhaust Noise section</text>
    </textTemplates>
    <textTemplates>
        <name>Five_Digit_Odometer_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>This vehicle has a five digit odometer - a disclosure has been added to the CR</text>
    </textTemplates>
    <textTemplates>
        <name>Incomplete_Readiness_Monitors_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added the incomplete readiness monitors shown on your scanner</text>
    </textTemplates>
    <textTemplates>
        <name>Internal_Noise_Detected_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Abnormal internal noise has been detected in the AMP recording. (Please refer to AMP audio) has been added to the Internal Engine Noise section.</text>
    </textTemplates>
    <textTemplates>
        <name>Mismatched_Tires_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added mismatched tires to the CR</text>
    </textTemplates>
    <textTemplates>
        <name>Suspension_Modifications_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The suspension appears modified - a disclosure has been added to the CR</text>
    </textTemplates>
    <textTemplates>
        <name>TPMS_Light_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added TPMS Light is on</text>
    </textTemplates>
    <textTemplates>
        <name>Traction_Control_Light_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Added Traction Control Light is on</text>
    </textTemplates>
    <textTemplates>
        <name>Undercarriage_Surface_Rust_Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Undercarriage Surface Rust has been added to the CR</text>
    </textTemplates>
    <variables>
        <name>Aftermarket_Wheels_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Airbag_Light_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Branded_Title_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Check_Engine_Light_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CRP_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Damaged_Wheels_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Engine_Accessory_Noise_Detected_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Exhaust_Noise_Detected_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Five_Digit_Odometer_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Incomplete_Readiness_Monitors_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Internal_Noise_Detected_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Mismatched_Tires_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>Suspension_Modifications_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TPMS_Light_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Traction_Control_Light_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Undercarriage_Surface_Rust_Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
