flows/Create_Non_Captive_Transportation_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FlowErrorHandling</name>
        <label>FlowErrorHandling</label>
        <locationX>2362</locationX>
        <locationY>1853</locationY>
        <actionName>FlowErrorHandling</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>FaultCollection</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TransportRequestCallout</name>
        <label>TransportRequestCallout</label>
        <locationX>1636</locationX>
        <locationY>2211</locationY>
        <actionName>TransportationRequestCreateInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ResponseDecision</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputList</name>
            <value>
                <elementReference>PendingCase</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>respDistance</assignToReference>
            <name>distance</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respLegacyId</assignToReference>
            <name>legacyId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respCode</assignToReference>
            <name>resCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>respGuid</assignToReference>
            <name>transpoGuid</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Other_Delivery_Contact</name>
        <label>Assign Other Delivery Contact</label>
        <locationX>1211</locationX>
        <locationY>2431</locationY>
        <assignmentItems>
            <assignToReference>DeliveryContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Contact_Name_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Contact_Phone_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DeliveryContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Contact_Email_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Request_Addresses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Pickup_Contact</name>
        <label>Assign Other Pickup Contact</label>
        <locationX>474</locationX>
        <locationY>1777</locationY>
        <assignmentItems>
            <assignToReference>PickupContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pickup_Contact_Name_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PickupContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pickup_Contact_Email_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PickupContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pickup_Contact_Phone_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeliveryAdminWasFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_to_Delivery</name>
        <label>Assign Other to Delivery</label>
        <locationX>1624</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>varDeliveryStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Delivery_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_to_Pickup</name>
        <label>Assign Other to Pickup</label>
        <locationX>832</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>varPickupStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Pickup_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDeliveryLocation</name>
        <label>AssignDeliveryLocation</label>
        <locationX>1269</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>varDeliveryNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDeliveryAssociatedLocation.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFlowError</name>
        <label>AssignFlowError</label>
        <locationX>2536</locationX>
        <locationY>1846</locationY>
        <assignmentItems>
            <assignToReference>FaultCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowErrorFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FlowErrorHandling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPickupLocation</name>
        <label>AssignPickupLocation</label>
        <locationX>573</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>varPickupNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedAssocaitedLocation.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPickupDealer.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>inputPendingCase</name>
        <label>inputPendingCase</label>
        <locationX>1440</locationX>
        <locationY>2224</locationY>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Delivery_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Delivery_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Delivery_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Delivery_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Delivery_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Delivery_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Pickup_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Pickup_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Pickup_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Pickup_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Default_Pickup_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Pickup_Address_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Buyer_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Charging_To_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Price_Pre_Promotion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Charging_To_Customer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Transportation_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transportation_Case_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Pick_Up_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPickupNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Buyer_Pickup_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDeliveryNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPickupContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDeliveryContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Dealership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customVehicleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickupContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Buyer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryContactName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickupContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.ContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryContactEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeliveryContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Seller_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickupContactPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PendingCase.Inop__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vehicleIsInop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TransportRequestCallout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Date_Assignment</name>
        <label>Vehicle Date Assignment</label>
        <locationX>668</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>vehicleVIN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleMake</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleModel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleTrim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trim</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleClassname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Class_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleIsOversize</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_is_Oversize</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleIsInop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_is_Inoperable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateVehicleRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BuyerBilling</name>
        <choiceText>{!fmBuyerBillingChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>BuyerLegal</name>
        <choiceText>{!fmBuyerLegalChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>BuyerOther</name>
        <choiceText>OTHER: choose to enter a custom value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerBilling</name>
        <choiceText>{!fmSellerBillingChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerLegal</name>
        <choiceText>{!fmSellerLegalChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerOther</name>
        <choiceText>OTHER: choose to enter a custom value</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes_1</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create_Non_Captive_Transportation_Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Already_a_Transpo_Case</name>
        <label>Already a Transpo Case?</label>
        <locationX>1130</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>TranspoYep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmAuctionTranspoLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Transportation_Request</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Anything_blank</name>
        <label>Anything blank?</label>
        <locationX>816</locationX>
        <locationY>1060</locationY>
        <defaultConnector>
            <targetReference>Confirm_Pickup_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPickupStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupZip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Pickup_Address</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Anything_blank_delivery</name>
        <label>Anything blank?</label>
        <locationX>1413</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Confirm_Delivery_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>YepDelivery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDeliveryStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryZip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Delivery_Address</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auction_Closed_Successfully</name>
        <label>Auction Closed Successfully</label>
        <locationX>714</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>FailedAuction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objAuction.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>counter_accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAuction.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>counter_original_accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAuction.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ended_accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objAuction.status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ended_unwound</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_2nd_OPEN_Transportation_Case</name>
        <label>Create 2nd OPEN Transportation Case</label>
        <locationX>1283</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Stop_Transportation_Case_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_I_would_like_to_create_a_2nd_OPEN_Transportation_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Create Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Custom_Vehicle</name>
        <label>Create Custom Vehicle?</label>
        <locationX>812</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Vehicle_Date_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VehicleRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customVehicleRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingVehicleRecord</targetReference>
            </connector>
            <label>VehicleRecordFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Transpo_Case_decision</name>
        <label>Create Transpo Case?</label>
        <locationX>2355</locationX>
        <locationY>2223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DoYouWantToCreateThisCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Transpo_Case_Decision_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transpo_Case</targetReference>
            </connector>
            <label>Create Transpo Case</label>
        </rules>
        <rules>
            <name>Do_not_create_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Transpo_Case_Decision_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>no</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_not_create_Transpo_Case</targetReference>
            </connector>
            <label>Do not create case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Other_was_Selected</name>
        <label>Delivery Other was Selected</label>
        <locationX>700</locationX>
        <locationY>2217</locationY>
        <defaultConnector>
            <targetReference>GetExistingDeliveryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Selected_del</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Delivery_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BuyerOther</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Delivery_Contact3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BuyerOther</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Delivery_Contact_Selected</targetReference>
            </connector>
            <label>Other Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeliveryAdminWasFound</name>
        <label>DeliveryAdminWasFound</label>
        <locationX>474</locationX>
        <locationY>2008</locationY>
        <defaultConnector>
            <targetReference>Select_Delivery_Contact2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DeliveryAdminNOTFound</defaultConnectorLabel>
        <rules>
            <name>DeliveryAdminFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyerTranspoContact.Name</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Contact_Select</targetReference>
            </connector>
            <label>DeliveryAdminFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Find_Existing_Legacy_Id_Decision</name>
        <label>Find Existing Legacy Id Decision</label>
        <locationX>2223</locationX>
        <locationY>2005</locationY>
        <defaultConnector>
            <targetReference>Do_you_want_to_create_this_Transportation_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Legacy Id Does not Exist</defaultConnectorLabel>
        <rules>
            <name>Legacy_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Legacy_ID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_existing_Case</targetReference>
            </connector>
            <label>Legacy Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_was_selected</name>
        <label>Other was selected?</label>
        <locationX>687</locationX>
        <locationY>1577</locationY>
        <defaultConnector>
            <targetReference>GetExistingPickupContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Seller_Contact_List</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellerOther</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pickup_Contact_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellerOther</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Pickup_Contact_Selected</targetReference>
            </connector>
            <label>Other Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pickup_Location_Decision</name>
        <label>Pickup Location Decision</label>
        <locationX>417</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>GetSelectedAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Picked Associated Location</defaultConnectorLabel>
        <rules>
            <name>Selected_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseAssociatedLocations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Pickup_Address</targetReference>
            </connector>
            <label>Selected Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>PickupAdminBlank</name>
        <label>PickupAdminBlank</label>
        <locationX>903</locationX>
        <locationY>1365</locationY>
        <defaultConnector>
            <targetReference>Select_Pickup_Contact_w_Blank_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PickupAdminBLANK</defaultConnectorLabel>
        <rules>
            <name>IsPickupAdminBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SellerTranspoAdminRec.Name</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Pickup_Contact</targetReference>
            </connector>
            <label>PickupAdminNOTBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResponseDecision</name>
        <label>ResponseDecision</label>
        <locationX>1838</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>ResponseError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UnsuccessfulResponse</defaultConnectorLabel>
        <rules>
            <name>SuccessfulResponse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>respCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTranspoQueueId</targetReference>
            </connector>
            <label>SuccessfulResponse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_delivery_address</name>
        <label>Which delivery address?</label>
        <locationX>1125</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Get_Delivery_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SelectedDeliveryAssociatedLocation</defaultConnectorLabel>
        <rules>
            <name>ChooseOther</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_Delivery_Location</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Delivery_Address</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <description>Use this flow to create a transpo request without an auction ID
Adding Retry loop outside of callout to transport api</description>
    <dynamicChoiceSets>
        <name>AssociatedLocationGetRecordSet</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AssociatedLocation</object>
        <outputAssignments>
            <assignToReference>SelectedAssocaitedLocation.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupLocation.Id</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedAssocaitedLocation.Notes__c</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_of_Associated_Locations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>AssociatedLocation</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryContactChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedDeliveryContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryContact.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryDealerBillingAddress</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryDealerChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.Seller_Dealership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.buyer_dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedDeliveryDealer.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryDealer.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryDealer.Transportation_Primary_Contact__c</assignToReference>
            <field>Transportation_Primary_Contact__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryDealerDeliveryPicklist</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryDealerPickupLocationPicklist</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pickup</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GetDeliveryLocationsRecordSet</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AssociatedLocation</object>
        <outputAssignments>
            <assignToReference>SelectedDeliveryAssociatedLocation.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryLocation.Id</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedDeliveryAssociatedLocation.Notes__c</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Transport_Request_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transport_Request_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pickup_Contact_Choice_set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedPickupContact.Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupContact.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupContact.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupContact.Phone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickUpAddressPickupChoices</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>pickup</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickupDealerBillingAddressChoice</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>billing</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickupDealersDeliveryAddressesPicklist</name>
        <dataType>String</dataType>
        <displayField>Full_Location_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActiveTo</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>AssociatedLocation</object>
        <valueField>Full_Location_Address__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickupDealershipChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.Seller_Dealership__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.buyer_dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedPickupDealer.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupDealer.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedPickupDealer.Transportation_Primary_Contact__c</assignToReference>
            <field>Transportation_Primary_Contact__c</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PickupPicklistChoiceSetAssLocations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>AssociatedLocation</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YearPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YearPicklistSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Year__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>FlowErrorFormula</name>
        <dataType>String</dataType>
        <expression>{!FlowName} + &apos;%:%&apos; + {!$Flow.FaultMessage}</expression>
    </formulas>
    <formulas>
        <name>fmAuctionTranspoLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!objAuctionTranspoCase.Id})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmBuyerBillingChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objBuyerAcct.BillingStreet} = null, &quot;MAILING: no address on file&quot;, &quot;MAILING: &quot; &amp;  {!objBuyerAcct.BillingStreet} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingCity} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingState} &amp; &quot; &quot; &amp; {!objBuyerAcct.BillingPostalCode} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>fmBuyerLegalChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objBuyerAcct.Legal_Street__c} = null, &quot;LEGAL: no address on file&quot;, &quot;LEGAL: &quot; &amp;  {!objBuyerAcct.Legal_Street__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_City__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_State__c} &amp; &quot; &quot; &amp; {!objBuyerAcct.Legal_Zip_Code__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_Country__c}
)</expression>
    </formulas>
    <formulas>
        <name>fmCaseCreatedwithin6minsLen</name>
        <dataType>Number</dataType>
        <expression>len({!CaseCreatedwithin6mins.Id})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmSellerBillingChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objSellerAcct.BillingStreet} = null, &quot;MAILING: no address on file&quot;, &quot;MAILING: &quot; &amp;  {!objSellerAcct.BillingStreet} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCity} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingState} &amp; &quot; &quot; &amp; {!objSellerAcct.BillingPostalCode} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>fmSellerLegalChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objSellerAcct.Legal_Street__c} = null, &quot;LEGAL: no address on file&quot;, &quot;LEGAL: &quot; &amp;  {!objSellerAcct.Legal_Street__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_City__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_State__c} &amp; &quot; &quot; &amp; {!objSellerAcct.Legal_Zip_Code__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_Country__c}
)</expression>
    </formulas>
    <interviewLabel>Create Non Captive Transportation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Non Captive Transportation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Transpo_Case</name>
        <label>Create Transpo Case</label>
        <locationX>2529</locationX>
        <locationY>2233</locationY>
        <assignRecordIdToReference>objTranspoCase.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Transpo_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignFlowError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ACV_Transportation_Request_Id__c</field>
            <value>
                <elementReference>respLegacyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Pickup_Notes__c</field>
            <value>
                <elementReference>varDeliveryNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Buyer_Price__c</field>
            <value>
                <elementReference>Price_Charging_To_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_guid__c</field>
            <value>
                <elementReference>respGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SelectedDeliveryContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Address__c</field>
            <value>
                <elementReference>varDeliveryStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_City__c</field>
            <value>
                <elementReference>varDeliveryCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Country__c</field>
            <value>
                <elementReference>varDeliveryCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Postal_Code__c</field>
            <value>
                <elementReference>varDeliveryZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_State__c</field>
            <value>
                <elementReference>varDeliveryState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_City__c</field>
            <value>
                <elementReference>varPickupCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_Country__c</field>
            <value>
                <elementReference>varPickupCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_Postal_Code__c</field>
            <value>
                <elementReference>varPickupZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_State__c</field>
            <value>
                <elementReference>varPickupState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address_Name__c</field>
            <value>
                <elementReference>varDeliveryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Transportation_Case_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>NON_CAPTIVE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetTranspoQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Address_Name__c</field>
            <value>
                <elementReference>varPickupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Address__c</field>
            <value>
                <elementReference>varPickupStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objCaseRTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Contact__c</field>
            <value>
                <elementReference>SelectedPickupContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Dealership__c</field>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Pick_Up_Notes__c</field>
            <value>
                <elementReference>varPickupNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_ACV__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>respStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transportation_Distance__c</field>
            <value>
                <elementReference>respDistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>customVehicleRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateVehicleRecord</name>
        <label>CreateVehicleRecord</label>
        <locationX>550</locationX>
        <locationY>568</locationY>
        <assignRecordIdToReference>customVehicleRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Seller_Pickup_Assignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VehicleCreationError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vehicleVIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Is_Oversize__c</field>
            <value>
                <elementReference>vehicleIsOversize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>vehicleYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>class_name__c</field>
            <value>
                <elementReference>vehicleClassname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>make__c</field>
            <value>
                <elementReference>vehicleMake</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>model__c</field>
            <value>
                <elementReference>vehicleModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>trim__c</field>
            <value>
                <elementReference>vehicleTrim</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vin__c</field>
            <value>
                <elementReference>vehicleVIN</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Legacy_ID</name>
        <label>Find Existing Legacy ID</label>
        <locationX>2058</locationX>
        <locationY>2015</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Legacy_Id_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ACV_Transportation_Request_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>respLegacyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Auction</name>
        <label>Get Auction</label>
        <locationX>539</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Auction_Closed_Successfully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Auction__c</object>
        <outputReference>objAuction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>buyer_dealership__c</queriedFields>
        <queriedFields>Buyer_Contact__c</queriedFields>
        <queriedFields>Seller_Dealership__c</queriedFields>
        <queriedFields>status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Delivery_Address</name>
        <label>Get Delivery Address</label>
        <locationX>1267</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDeliveryLocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryLocation.Id</elementReference>
            </value>
        </filters>
        <object>Address</object>
        <outputAssignments>
            <assignToReference>varDeliveryCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliveryCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliveryZip</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliveryState</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDeliveryStreet</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Transpo_Case</name>
        <label>Get Transpo Case</label>
        <locationX>2532</locationX>
        <locationY>2426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTranspoCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objTranspoCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transpo_Cases</name>
        <label>Get Transpo Cases</label>
        <locationX>1008</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_a_Transpo_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auction_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCaseRTID.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objAuctionTranspoCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transportation_RTID</name>
        <label>Get Transportation RTID</label>
        <locationX>1154</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Vehicle_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>objCaseRTID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryDealerData</name>
        <label>GetDeliveryDealerData</label>
        <locationX>891</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transportation_RTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedDeliveryDealer.Transportation_Primary_Contact__c</assignToReference>
            <field>Transportation_Primary_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetDeliveryTranspoAdmin</name>
        <label>GetDeliveryTranspoAdmin</label>
        <locationX>1288</locationX>
        <locationY>1364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSellerTranspoAdmin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryDealer.Transportation_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>BuyerTranspoContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingDeliveryContact</name>
        <label>GetExistingDeliveryContact</label>
        <locationX>954</locationX>
        <locationY>2221</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Request_Addresses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDeliveryContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>DeliveryContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeliveryContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DeliveryContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetExistingPickupContact</name>
        <label>GetExistingPickupContact</label>
        <locationX>692</locationX>
        <locationY>1770</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeliveryAdminWasFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupContact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>PickupContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PickupContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PickupContactPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetExistingVehicleRecord</name>
        <label>GetExistingVehicleRecord</label>
        <locationX>551</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seller_Pickup_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>customVehicleRecord.Id</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputAssignments>
            <assignToReference>vehicleIsOversize</assignToReference>
            <field>Vehicle_Is_Oversize__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleYear</assignToReference>
            <field>Year__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleClassname</assignToReference>
            <field>class_name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleMake</assignToReference>
            <field>make__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleModel</assignToReference>
            <field>model__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleTrim</assignToReference>
            <field>trim__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vehicleVIN</assignToReference>
            <field>vin__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPickupDealerData</name>
        <label>GetPickupDealerData</label>
        <locationX>730</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDeliveryDealerData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SelectedPickupDealer.Transportation_Primary_Contact__c</assignToReference>
            <field>Transportation_Primary_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedAddress</name>
        <label>GetSelectedAddress</label>
        <locationX>425</locationX>
        <locationY>897</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPickupLocation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupLocation.Id</elementReference>
            </value>
        </filters>
        <object>Address</object>
        <outputAssignments>
            <assignToReference>varPickupCity</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPickupCountry</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPickupZip</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPickupState</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPickupStreet</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSellerTranspoAdmin</name>
        <label>GetSellerTranspoAdmin</label>
        <locationX>1122</locationX>
        <locationY>1363</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PickupAdminBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedPickupDealer.Transportation_Primary_Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SellerTranspoAdminRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTranspoQueueId</name>
        <label>GetTranspoQueueId</label>
        <locationX>2057</locationX>
        <locationY>2225</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Existing_Legacy_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Buyer_Pickup_Location</name>
        <label>Buyer Pickup Location</label>
        <locationX>1127</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_delivery_address</targetReference>
        </connector>
        <fields>
            <name>Choose_Delivery_Location</name>
            <choiceReferences>GetDeliveryLocationsRecordSet</choiceReferences>
            <choiceReferences>BuyerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Delivery Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dealer_s_Billing_Address</name>
            <choiceReferences>DeliveryDealerBillingAddress</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dealer&apos;s Billing Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Buyer_Delivery_Addresses2</name>
            <choiceReferences>DeliveryDealerDeliveryPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buyer Delivery Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Buyer_Pickup_Addressses</name>
            <choiceReferences>DeliveryDealerPickupLocationPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Buyer Pickup Addressses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Delivery_Address</name>
        <label>Confirm Delivery Address</label>
        <locationX>1465</locationX>
        <locationY>1363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetDeliveryTranspoAdmin</targetReference>
        </connector>
        <fields>
            <name>ConfirmDeliveryAddress</name>
            <fieldText>&lt;p&gt;Confirm Delivery Address&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review and confirm that this is the delivery address. If you need to make modifications, please use the Previous button.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Delivery Name: {!varDeliveryName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery&lt;/span&gt; Street: {!varDeliveryStreet}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery&lt;/span&gt; City: {!varDeliveryCity}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery&lt;/span&gt; State: {!varDeliveryState}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery&lt;/span&gt; Zip/Postal Code: {!varDeliveryZip}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery&lt;/span&gt; Country: {!varDeliveryCountry}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery Notes: {!varDeliveryNotes}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Pickup_Address</name>
        <label>Confirm Pickup Address</label>
        <locationX>1135</locationX>
        <locationY>1056</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buyer_Pickup_Location</targetReference>
        </connector>
        <fields>
            <name>ConfirmPickupAddress</name>
            <fieldText>&lt;p&gt;Confirm Pickup Address&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review and confirm that this is the pickup address. If you need to make modifications, please use the Previous button.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pickup Name: {!varPickupName}&lt;/p&gt;&lt;p&gt;Pickup Street: {!varPickupStreet}&lt;/p&gt;&lt;p&gt;Pickup City: {!varPickupCity}&lt;/p&gt;&lt;p&gt;Pickup State: {!varPickupState}&lt;/p&gt;&lt;p&gt;Pickup Zip/Postal Code: {!varPickupZip}&lt;/p&gt;&lt;p&gt;Pickup Country: {!varPickupCountry}&lt;/p&gt;&lt;p&gt;Pickup Notes: {!varPickupNotes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Request_Addresses</name>
        <label>Confirm Request Addresses</label>
        <locationX>1216</locationX>
        <locationY>2221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>inputPendingCase</targetReference>
        </connector>
        <fields>
            <name>FinalConfirmation</name>
            <fieldText>&lt;p&gt;Confirm All Addresses&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please review below one final time to confirm all address information is correct.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;Vehicle Data:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Vin: {!vehicleVIN}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Make:{!vehicleMake}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Model: {!vehicleModel}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Year: {!vehicleYear}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Trim: {!vehicleTrim}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Class Name: {!vehicleClassname}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Vehicle is Oversize: {!vehicleIsOversize}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Vehicle is Inoperable: {!vehicleIsInop}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;PICKUP ADDRESS&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Name&lt;/b&gt;: {!varPickupName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Street&lt;/b&gt;: {!varPickupStreet}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup City&lt;/b&gt;: {!varPickupCity}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup State&lt;/b&gt;: {!varPickupState}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Zip/Postal Code&lt;/b&gt;: {!varPickupZip}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Country&lt;/b&gt;: {!varPickupCountry}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Notes&lt;/b&gt;: {!varPickupNotes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Contact Name&lt;/b&gt;: {!PickupContactName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Contact Email&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PickupContactEmail}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Pickup Contact Phone&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!PickupContactPhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;DELIVERY ADDRESS&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Name&lt;/b&gt;: {!varDeliveryName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Street&lt;/b&gt;: {!varDeliveryStreet}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery City&lt;/b&gt;: {!varDeliveryCity}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery State&lt;/b&gt;: {!varDeliveryState}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Zip/Postal Code&lt;/b&gt;: {!varDeliveryZip}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Country&lt;/b&gt;: {!varDeliveryCountry}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Notes&lt;/b&gt;: {!varDeliveryNotes}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Delivery Contact Name&lt;/b&gt;: {!DeliveryContactName}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Delivery&lt;/b&gt;&lt;b&gt; Contact Email&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DeliveryContactEmail}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Delivery&lt;/b&gt;&lt;b&gt; Contact Phone&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DeliveryContactPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>2532</locationX>
        <locationY>2587</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>SUCCESS! Transportation &lt;a href =&quot;/{!objTranspoCase.Id}&quot;&gt;Case#{!objTranspoCase.CaseNumber}&lt;/a&gt; has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delivery_Contact_Select</name>
        <label>Delivery Contact Select Admin found</label>
        <locationX>484</locationX>
        <locationY>2221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Other_was_Selected</targetReference>
        </connector>
        <fields>
            <name>DeliveryContactDisplay</name>
            <fieldText>&lt;p&gt;Select &lt;b&gt;Delivery&lt;/b&gt; Contact&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Delivery Dealer: {!SelectedDeliveryDealer.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayDeliveryTranspoAdmin</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Delivery Dealer Primary Transportation Admin: {!BuyerTranspoContact.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BuyerTranspoContact.Name</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Delivery_Contact</name>
            <choiceReferences>DeliveryContactChoiceSet</choiceReferences>
            <choiceReferences>BuyerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Delivery Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_not_create_Transpo_Case</name>
        <label>Do not create Transpo Case</label>
        <locationX>2365</locationX>
        <locationY>2425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ChosenNottoCreateCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have chosen not to create a transportation case. The Transportation Integration will create the case for you, please refresh the related Cases associated with this auction.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Do_you_want_to_create_this_Transportation_Case</name>
        <label>Do you want to create this Transportation Case?</label>
        <locationX>2229</locationX>
        <locationY>2223</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Transpo_Case_decision</targetReference>
        </connector>
        <fields>
            <name>Create_Transpo_Case_Decision_1</name>
            <choiceReferences>yes_1</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create this Transportation Case?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Custom_Delivery_Address</name>
        <label>Enter Custom Delivery Address</label>
        <locationX>1552</locationX>
        <locationY>670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_to_Delivery</targetReference>
        </connector>
        <fields>
            <name>EnterCustomAddress2</name>
            <fieldText>Enter the custom DELIVERY address below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherDeliveryName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedDeliveryDealer.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryZip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryZip</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Delivery_Notes</name>
            <dataType>String</dataType>
            <fieldText>Custom Delivery Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Custom_Pickup_Address</name>
        <label>Enter Custom Pickup Address</label>
        <locationX>686</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Other_to_Pickup</targetReference>
        </connector>
        <fields>
            <name>EnterCustomAddress</name>
            <fieldText>Enter the custom PICKUP address below.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherPickupName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SelectedPickupDealer.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupZip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupZip</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Custom_Pickup_Notes</name>
            <dataType>String</dataType>
            <fieldText>Custom Pickup Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>2064</locationX>
        <locationY>1854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Existing_Legacy_ID</targetReference>
        </connector>
        <fields>
            <name>errorHandler</name>
            <fieldText>&lt;p&gt;Please reach out to a Salesforce Admin with the following error message:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Transportation_Request</name>
        <label>Existing Transportation Request</label>
        <locationX>1291</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_2nd_OPEN_Transportation_Case</targetReference>
        </connector>
        <fields>
            <name>Alert</name>
            <fieldText>&lt;p&gt;ALERT: There is already an open Transportation Request for this Auction. The current status of &lt;a href=&quot;/{!objAuctionTranspoCase.Id}&quot; target=&quot;_blank&quot;&gt;Case#{!objAuctionTranspoCase.CaseNumber}&lt;/a&gt; is: {!objAuctionTranspoCase.Status}. Please view the Case for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm below if you wish to proceed with creating a 2nd OPEN Transportation Case&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_I_would_like_to_create_a_2nd_OPEN_Transportation_Case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, I would like to create a 2nd OPEN Transportation Case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_thanks_I_changed_my_mind</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>No thanks, I changed my mind</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FailedAuction</name>
        <label>FailedAuction</label>
        <locationX>715</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailedAuctionDisplayText</name>
            <fieldText>ALERT: The Auction does not have a successful status. The current Auction status is {!objAuction.status__c}. Please review the Auction.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Go_to_existing_Case</name>
        <label>Go to existing Case</label>
        <locationX>2420</locationX>
        <locationY>2005</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TextForExistingCase</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This transportation case has already been created here: &lt;/span&gt;&lt;a href=&quot;https://acvauctions--alexdev.lightning.force.com/%7B!Find_existing_Legacy_ID.Id%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Find_Existing_Legacy_ID.CaseNumber}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Delivery_Contact_Selected</name>
        <label>Other Delivery Contact Selected</label>
        <locationX>708</locationX>
        <locationY>2428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_Delivery_Contact</targetReference>
        </connector>
        <fields>
            <name>Delivery_Contact_Name_Other</name>
            <dataType>String</dataType>
            <fieldText>Delivery Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Contact_Email_Other</name>
            <dataType>String</dataType>
            <fieldText>Delivery Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Contact_Phone_Other</name>
            <dataType>String</dataType>
            <fieldText>Delivery Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Pickup_Contact_Selected</name>
        <label>Other Pickup Contact Selected</label>
        <locationX>461</locationX>
        <locationY>1576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_Pickup_Contact</targetReference>
        </connector>
        <fields>
            <name>Pickup_Contact_Name_Other</name>
            <dataType>String</dataType>
            <fieldText>Pickup Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pickup_Contact_Email_Other</name>
            <dataType>String</dataType>
            <fieldText>Pickup Contact Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pickup_Contact_Phone_Other</name>
            <dataType>String</dataType>
            <fieldText>Pickup Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Auction_Transportation_Request_Requirements</name>
        <label>Post-Auction Transportation Request Requirements</label>
        <locationX>529</locationX>
        <locationY>318</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetPickupDealerData</targetReference>
        </connector>
        <fields>
            <name>requirements</name>
            <fieldText>Transportation Request Requirements

You will need to know the price that will be charged to the dealership that is requesting the transportation in order to proceed in this flow. If you do not have pricing details, please gather them before creating this post-auction request, as this information is required in order to proceed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Price_Charging_To_Customer</name>
            <dataType>Currency</dataType>
            <fieldText>Price Charging To Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Transport_Request_Type</name>
            <choiceReferences>Picklist_Transport_Request_Type</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Non-Captive</stringValue>
            </defaultValue>
            <fieldText>Transport Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Transportation_Case_Notes</name>
            <fieldText>Transportation Case Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Use this section to include any Case level notes that are not specific to the pickup and delivery address notes&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Length of notes text is too long. Please limit your text field to 255 characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Transportation_Case_Notes}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SearchPickupDealer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Seller_Dealership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pickup Dealership Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SelectedPickupDealer.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPickupDealer.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedPickupDealer.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SearchDeliveryDealer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Delivery Dealership Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>SelectedDeliveryDealer.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedDeliveryDealer.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedDeliveryDealer.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResponseError</name>
        <label>ResponseError</label>
        <locationX>1852</locationX>
        <locationY>2434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResponseErrorCode</name>
            <fieldText>&lt;p&gt;Response Error Code: {!respCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResponseErrorMessage</name>
            <fieldText>&lt;p&gt;Response Error Message:&lt;/p&gt;&lt;p&gt;{!respErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Delivery_Contact2</name>
        <label>Select Delivery Contact No Admin</label>
        <locationX>702</locationX>
        <locationY>2019</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delivery_Other_was_Selected</targetReference>
        </connector>
        <fields>
            <name>SelectDeliveryContact</name>
            <fieldText>&lt;p&gt;Select &lt;b&gt;Delivery&lt;/b&gt; Contact&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Delivery Dealer: {!SelectedDeliveryDealer.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Delivery_Contact3</name>
            <choiceReferences>DeliveryContactChoiceSet</choiceReferences>
            <choiceReferences>BuyerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Delivery Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Pickup_Contact</name>
        <label>Select Pickup Contact w Admin</label>
        <locationX>910</locationX>
        <locationY>1571</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_was_selected</targetReference>
        </connector>
        <fields>
            <name>Display_Seller_Transpo_admin</name>
            <fieldText>&lt;p&gt;Select &lt;b&gt;Pickup&lt;/b&gt; Contact&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Pickup Dealer: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!SelectedPickupDealer.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Pickup Dealer Primary Transportation Admin: {!SellerTranspoAdminRec.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Seller_Contact_List</name>
            <choiceReferences>Pickup_Contact_Choice_set</choiceReferences>
            <choiceReferences>SellerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pickup Contact List</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Pickup_Contact_w_Blank_Admin</name>
        <label>Select Pickup Contact w Blank Admin</label>
        <locationX>690</locationX>
        <locationY>1367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_was_selected</targetReference>
        </connector>
        <fields>
            <name>SelectPickupContact</name>
            <fieldText>&lt;p&gt;Select&amp;nbsp;&lt;b&gt;Pickup&lt;/b&gt;&amp;nbsp;Contact&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pickup Dealer:&amp;nbsp;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;{!SelectedPickupDealer.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pickup_Contact_Selection</name>
            <choiceReferences>Pickup_Contact_Choice_set</choiceReferences>
            <choiceReferences>SellerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pickup Contact Selection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Seller_Pickup_Assignment</name>
        <label>Seller Pickup Assignment</label>
        <locationX>217</locationX>
        <locationY>500</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pickup_Location_Decision</targetReference>
        </connector>
        <fields>
            <name>ChooseAssociatedLocations</name>
            <choiceReferences>AssociatedLocationGetRecordSet</choiceReferences>
            <choiceReferences>SellerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Pickup Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pickup_Dealer_s_Billing_Address</name>
            <choiceReferences>PickupDealerBillingAddressChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pickup Dealer&apos;s Billing Address</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Seller_Pickup_Addresses</name>
            <choiceReferences>PickUpAddressPickupChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dealer&apos;s Pickup Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Seller_Deliver_Addresses</name>
            <choiceReferences>PickupDealersDeliveryAddressesPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dealer&apos;s Deliver Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stop_Transportation_Case_Create</name>
        <label>Stop Transportation Case Create</label>
        <locationX>1445</locationX>
        <locationY>245</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Alert2</name>
            <fieldText>&lt;p&gt;You indicated that you would not like to create an additional OPEN Transportation case.&lt;/p&gt;&lt;p&gt; The current status of &lt;a href=&quot;https://acvauctions--staging.lightning.force.com/%7B!objAuctionTranspoCase.Id%7D&quot; target=&quot;_blank&quot;&gt;Case#{!objAuctionTranspoCase.CaseNumber}&lt;/a&gt; is: {!objAuctionTranspoCase.Status}. Please view the Case for more information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Vehicle_Data</name>
        <label>Vehicle Data</label>
        <locationX>1147</locationX>
        <locationY>498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Custom_Vehicle</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please search for your Vehicle VIN before creating a custom record, if the vehicle already exists you will get an error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SearchVin</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle Search</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>customVehicleRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>customVehicleRecord.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>customVehicleRecord.Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>VIN</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>VIN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Year</name>
            <choiceReferences>YearPicklistSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trim</name>
            <dataType>String</dataType>
            <fieldText>Trim</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Class_Name</name>
            <dataType>String</dataType>
            <fieldText>Class Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_is_Oversize</name>
            <dataType>Boolean</dataType>
            <fieldText>Vehicle is Oversize</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vehicle_is_Inoperable</name>
            <dataType>Boolean</dataType>
            <fieldText>Vehicle is Inoperable</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Please search for your Vehicle VIN before creating a custom record, if the vehicle already exists you will get an error.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VehicleCreationError</name>
        <label>VehicleCreationError</label>
        <locationX>388</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VehicleCreationFault</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Vehicle Creation Failure&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please reach out to a Salesforce Admin with the following error message:&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>113</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Post_Auction_Transportation_Request_Requirements</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllAssociatedLocationSellerOther</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>AllOtherSellerAssociatedLocations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssLocationVariableRecordCollection</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BuyerTranspoContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CaseCreatedwithin6mins</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Collection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>customVehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>DeliveryContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DeliveryContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FaultCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objAuction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>objAuctionTranspoAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transportation_Address__c</objectType>
    </variables>
    <variables>
        <name>objAuctionTranspoCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objBuyerAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objCaseRTID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>objSellerAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objTranspoCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>oruceCustomerPrepromotion</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OtherDeliveryNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtherPickupNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PendingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PickupContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PickupContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PickupContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>priceCustomerCharged</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Used by quick action to pass the Auction recordId into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>releasePickUpPhrase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>respCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>respErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respGuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respLegacyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>respStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Awaiting Release</stringValue>
        </value>
    </variables>
    <variables>
        <name>SelectedAssocaitedLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>SelectedDeliveryAssociatedLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssociatedLocation</objectType>
    </variables>
    <variables>
        <name>SelectedDeliveryContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedDeliveryDealer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedDeliveryLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>SelectedPickupContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedPickupDealer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SelectedPickupLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>SellerTranspoAdminRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TranspoApiResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransportationRequestNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleClassname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleIsInop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleIsOversize</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleMake</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleTrim</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleVIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
