flows/Create_an_Unwind_Transportation_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Billing_Legal_to_Pickup</name>
        <label>Assign Billing/Legal to Pickup</label>
        <locationX>64</locationX>
        <locationY>1185</locationY>
        <assignmentItems>
            <assignToReference>varPickupStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmPickupName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billing_to_Delivery</name>
        <label>Assign Billing to Delivery</label>
        <locationX>1050</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>varDeliveryStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Buyer_as_Pickup</name>
        <label>Assign Buyer as Pickup</label>
        <locationX>219</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>varVehicleLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctPickupNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objBuyerAcct.Pickup_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctLegalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objBuyerAcct.Legal_Address_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objBuyerAcct.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Vehicle_Pickup_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_As_Address_Type</name>
        <label>Assign Legal As Address Type</label>
        <locationX>220</locationX>
        <locationY>1009</locationY>
        <assignmentItems>
            <assignToReference>varPickupAddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Legal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Legal_to_Pickup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_to_Delivery</name>
        <label>Assign Legal to Delivery</label>
        <locationX>1188</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>varDeliveryStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.legal_name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_As_Address_Type</name>
        <label>Assign Other As Address Type</label>
        <locationX>609</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>varPickupAddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_to_Pickup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_to_Delivery</name>
        <label>Assign Other to Delivery</label>
        <locationX>1341</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>varDeliveryStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDeliveryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDeliveryName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank_delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_to_Pickup</name>
        <label>Assign Other to Pickup</label>
        <locationX>511</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>varPickupStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupZip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupAddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPickupName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherPickupName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Anything_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Address_Fields</name>
        <label>Assign Seller Address Fields</label>
        <locationX>389</locationX>
        <locationY>565</locationY>
        <assignmentItems>
            <assignToReference>varVehicleLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctPickupNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Pickup_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctLegalNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Legal_Address_Note__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAcctName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSellerAcct.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Vehicle_Pickup_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Billing_As_Address_Type</name>
        <label>Assing Billing As Address Type</label>
        <locationX>56</locationX>
        <locationY>928</locationY>
        <assignmentItems>
            <assignToReference>varPickupAddressType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billing_Legal_to_Pickup</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>BuyerOther</name>
        <choiceText>OTHER: choose to enter a custom address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PickupBilling</name>
        <choiceText>{!fmBillingChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>PickupLegal</name>
        <choiceText>{!fmLegalChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>PickupOther</name>
        <choiceText>OTHER: choose to enter a custom address</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SellerBilling</name>
        <choiceText>{!fmSellerBillingChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Billing</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerLegal</name>
        <choiceText>{!fmSellerLegalChoiceDisplay}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellerOther</name>
        <choiceText>OTHER: choose to enter a custom address</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Already_a_Transpo_Case</name>
        <label>Already a Transpo Case?</label>
        <locationX>550</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Get_Buyer_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>TranspoYep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmAuctionTranspoLen</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Open_Transportation_Request</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Anything_blank</name>
        <label>Anything blank?</label>
        <locationX>345</locationX>
        <locationY>1189</locationY>
        <defaultConnector>
            <targetReference>Confirm_Pickup_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varPickupStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupZip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPickupCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Pickup_Address</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Anything_blank_delivery</name>
        <label>Anything blank?</label>
        <locationX>1173</locationX>
        <locationY>957</locationY>
        <defaultConnector>
            <targetReference>Confirm_Delivery_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>YepDelivery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDeliveryStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryZip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDeliveryCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Delivery_Address</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_2nd_OPEN_Transportation_Case</name>
        <label>Create 2nd OPEN Transportation Case</label>
        <locationX>1015</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Stop_Transportation_Case_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Create_Case2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_I_would_like_to_create_a_2nd_OPEN_Transportation_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_Address_Fields</targetReference>
            </connector>
            <label>Create Case2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_the_Vehicle</name>
        <label>Where is the Vehicle?</label>
        <locationX>556</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>At_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objUnwindCase.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Buyer_as_Pickup</targetReference>
            </connector>
            <label>At Buyer</label>
        </rules>
        <rules>
            <name>At_Seller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objUnwindCase.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_Address_Fields</targetReference>
            </connector>
            <label>At Seller</label>
        </rules>
        <rules>
            <name>At_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objUnwindCase.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objUnwindCase.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unknown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objUnwindCase.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objUnwindCase.Unwind_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scrap</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Custom_Pickup_Address</targetReference>
            </connector>
            <label>At Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_delivery_address</name>
        <label>Which delivery address?</label>
        <locationX>1163</locationX>
        <locationY>609</locationY>
        <defaultConnector>
            <targetReference>Enter_Custom_Delivery_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>BuyerBillingChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Seller_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_to_Delivery</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>BuyerLegalChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Seller_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_to_Delivery</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Pickup_Address</name>
        <label>Which Pickup Address?</label>
        <locationX>211</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Enter_Custom_Pickup_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>PickupBillingChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Pickup_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Billing_As_Address_Type</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>PickupLegalChosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Available_Pickup_Addresses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_As_Address_Type</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
    </decisions>
    <description>This flow can be launched from a Case (specifically an Unwind) to request Transportation. Added logic for new transportation case integration.
This version will allow for the creation of a 2nd OPEN Transportation Case after prompting user</description>
    <formulas>
        <name>fmAuctionTranspoLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!objAuctionTranspoCase.Id})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fmBillingChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
	{!varVehicleLocation} = &quot;Buyer&quot;,
	IF(
		{!objBuyerAcct.BillingStreet} = null, &quot;MAILING: no address on file&quot;, &quot;MAILING: &quot; &amp;  {!objBuyerAcct.BillingStreet} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingCity} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingState} &amp; &quot; &quot; &amp; {!objBuyerAcct.BillingPostalCode} &amp; &quot;, &quot; &amp; {!objBuyerAcct.BillingCountry}
	),
	IF(
		{!varVehicleLocation} = &quot;Seller&quot;,
		IF(
			{!objSellerAcct.BillingStreet} = null, &quot;MAILING: no address on file&quot;, &quot;MAILING: &quot; &amp;  {!objSellerAcct.BillingStreet} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCity} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingState} &amp; &quot; &quot; &amp; {!objSellerAcct.BillingPostalCode} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCountry}
		), null
	)
)</expression>
    </formulas>
    <formulas>
        <name>fmLegalChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
	{!varVehicleLocation} = &quot;Buyer&quot;,
	IF(
		{!objBuyerAcct.Legal_Street__c} = null, &quot;LEGAL: no address on file&quot;, &quot;LEGAL: &quot; &amp;  {!objBuyerAcct.Legal_Street__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_City__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_State__c} &amp; &quot; &quot; &amp; {!objBuyerAcct.Legal_Zip_Code__c} &amp; &quot;, &quot; &amp; {!objBuyerAcct.Legal_Country__c}
	),
	IF(
		{!varVehicleLocation} = &quot;Seller&quot;,
		IF(
			{!objSellerAcct.Legal_Street__c} = null, &quot;LEGAL: no address on file&quot;, &quot;LEGAL: &quot; &amp;  {!objSellerAcct.Legal_Street__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_City__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_State__c} &amp; &quot; &quot; &amp; {!objSellerAcct.Legal_Zip_Code__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_Country__c}
		), null
	)
)</expression>
    </formulas>
    <formulas>
        <name>fmPickupCity</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.BillingCity},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.Legal_City__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.BillingCity},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.Legal_City__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupCity},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmPickupCountry</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.BillingCountry},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.Legal_Country__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.BillingCountry},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.Legal_Country__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupCountry},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmPickupName</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.Name},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.legal_name__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.Name},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.legal_name__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupName},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmPickupState</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.BillingState},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.Legal_State__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.BillingState},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.Legal_State__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupState},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmPickupStreet</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.BillingStreet},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.Legal_Street__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.BillingStreet},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.Legal_Street__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupStreet},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmPickupZip</name>
        <dataType>String</dataType>
        <expression>IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objBuyerAcct.BillingPostalCode},
IF({!varVehicleLocation} = &quot;Buyer&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objBuyerAcct.Legal_Zip_Code__c},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Billing&quot;, {!objSellerAcct.BillingPostalCode},
IF({!varVehicleLocation} = &quot;Seller&quot; &amp;&amp; {!varPickupAddressType} = &quot;Legal&quot;, {!objSellerAcct.Legal_Zip_Code__c},
IF({!varPickupAddressType} = &quot;Other&quot;, {!OtherPickupZip},
null)))))</expression>
    </formulas>
    <formulas>
        <name>fmSellerBillingChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objSellerAcct.BillingStreet} = null, &quot;MAILING: no address on file&quot;, &quot;MAILING: &quot; &amp;  {!objSellerAcct.BillingStreet} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCity} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingState} &amp; &quot; &quot; &amp; {!objSellerAcct.BillingPostalCode} &amp; &quot;, &quot; &amp; {!objSellerAcct.BillingCountry}
)</expression>
    </formulas>
    <formulas>
        <name>fmSellerLegalChoiceDisplay</name>
        <dataType>String</dataType>
        <expression>IF(
{!objSellerAcct.Legal_Street__c} = null, &quot;LEGAL: no address on file&quot;, &quot;LEGAL: &quot; &amp;  {!objSellerAcct.Legal_Street__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_City__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_State__c} &amp; &quot; &quot; &amp; {!objSellerAcct.Legal_Zip_Code__c} &amp; &quot;, &quot; &amp; {!objSellerAcct.Legal_Country__c}
)</expression>
    </formulas>
    <interviewLabel>Create an Unwind Transportation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create an Unwind Transportation Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>922</locationX>
        <locationY>1293</locationY>
        <assignRecordIdToReference>objTransportationCase.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Transpo_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Auction_Number__c</field>
            <value>
                <elementReference>objAuction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Address__c</field>
            <value>
                <elementReference>varDeliveryStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_City__c</field>
            <value>
                <elementReference>varDeliveryCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Country__c</field>
            <value>
                <elementReference>varDeliveryCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_Postal_Code__c</field>
            <value>
                <elementReference>varDeliveryZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Delivery_State__c</field>
            <value>
                <elementReference>varDeliveryState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_City__c</field>
            <value>
                <elementReference>varPickupCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_Country__c</field>
            <value>
                <elementReference>varPickupCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_Postal_Code__c</field>
            <value>
                <elementReference>varPickupZip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Pickup_State__c</field>
            <value>
                <elementReference>varPickupState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Address_Name__c</field>
            <value>
                <elementReference>varDeliveryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G29000001XeKo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objUnwindCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Address_Name__c</field>
            <value>
                <elementReference>varPickupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pickup_Address__c</field>
            <value>
                <elementReference>varPickupStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>objCaseRTID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_to_ACV__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Auction</name>
        <label>Get Auction</label>
        <locationX>228</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transportation_RTID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objUnwindCase.Auction_Number__c</elementReference>
            </value>
        </filters>
        <object>Auction__c</object>
        <outputReference>objAuction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>buyer_dealership__c</queriedFields>
        <queriedFields>Buyer_Contact__c</queriedFields>
        <queriedFields>Seller_Dealership__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Auction_Transpo_Cases</name>
        <label>Get Auction Transpo Cases</label>
        <locationX>369</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_a_Transpo_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Auction_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCaseRTID.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objAuctionTranspoCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Address_Fields</name>
        <label>Get Buyer Address Fields</label>
        <locationX>448</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Seller_Address_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.buyer_dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objBuyerAcct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Legal_Street__c</queriedFields>
        <queriedFields>Legal_City__c</queriedFields>
        <queriedFields>Legal_State__c</queriedFields>
        <queriedFields>Legal_Zip_Code__c</queriedFields>
        <queriedFields>Legal_Country__c</queriedFields>
        <queriedFields>Pickup_Notes__c</queriedFields>
        <queriedFields>Legal_Address_Note__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>legal_name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Address_Fields</name>
        <label>Get Seller Address Fields</label>
        <locationX>825</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Where_is_the_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objAuction.Seller_Dealership__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>objSellerAcct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>Legal_Street__c</queriedFields>
        <queriedFields>Legal_City__c</queriedFields>
        <queriedFields>Legal_State__c</queriedFields>
        <queriedFields>Legal_Zip_Code__c</queriedFields>
        <queriedFields>Legal_Country__c</queriedFields>
        <queriedFields>Pickup_Notes__c</queriedFields>
        <queriedFields>Legal_Address_Note__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>legal_name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transpo_Case</name>
        <label>Get Transpo Case</label>
        <locationX>1099</locationX>
        <locationY>1293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Unwind_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objTransportationCase.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objTransportationCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transportation_RTID</name>
        <label>Get Transportation RTID</label>
        <locationX>224</locationX>
        <locationY>189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auction_Transpo_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transportation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>objCaseRTID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unwind_Case</name>
        <label>Get Unwind Case</label>
        <locationX>50</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objUnwindCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Vehicle_Location__c</queriedFields>
        <queriedFields>Explanation_of_other_Vehicle_Location__c</queriedFields>
        <queriedFields>Auction_Number__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Unwind_Case</name>
        <label>Update Unwind Case</label>
        <locationX>1246</locationX>
        <locationY>1294</locationY>
        <connector>
            <targetReference>Transportation_Request_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objUnwindCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unwind_Transportation_Requested__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Delivery_Address</name>
        <label>Confirm Delivery Address</label>
        <locationX>1183</locationX>
        <locationY>1137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Request_Addresses</targetReference>
        </connector>
        <fields>
            <name>ConfirmDeliveryAddress</name>
            <fieldText>Confirm Delivery Address

Please review and confirm that this is the delivery address. If you need to make modifications, please use the Previous button.

Pickup Name: {!varDeliveryName}
Pickup Street: {!varDeliveryStreet}
Pickup City: {!varDeliveryCity}
Pickup State: {!varDeliveryState}
Pickup Zip/Postal Code: {!varDeliveryZip}
Pickup Country: {!varDeliveryCountry}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Pickup_Address</name>
        <label>Confirm Pickup Address</label>
        <locationX>779</locationX>
        <locationY>1104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Vehicle_Delivery_Location</targetReference>
        </connector>
        <fields>
            <name>ConfirmPickupAddress</name>
            <fieldText>Confirm Pickup Address

Please review and confirm that this is the pickup address. If you need to make modifications, please use the Previous button.

Pickup Name: {!varPickupName}
Pickup Street: {!varPickupStreet}
Pickup City: {!varPickupCity}
Pickup State: {!varPickupState}
Pickup Zip/Postal Code: {!varPickupZip}
Pickup Country: {!varPickupCountry}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Request_Addresses</name>
        <label>Confirm Request Addresses</label>
        <locationX>926</locationX>
        <locationY>1137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>FinalConfirmation</name>
            <fieldText>Confirm Request Addresses

Please review below one final time to confirm all address information is correct.

PICKUP ADDRESS
Pickup Name: {!varPickupName}
Pickup Street: {!varPickupStreet}
Pickup City: {!varPickupCity}
Pickup State: {!varPickupState}
Pickup Zip/Postal Code: {!varPickupZip}
Pickup Country: {!varPickupCountry}

DELIVERY ADDRESS
Delivery Name: {!varDeliveryName}
Delivery Street: {!varDeliveryStreet}
Delivery City: {!varDeliveryCity}
Delivery State: {!varDeliveryState}
Delivery Zip/Postal Code: {!varDeliveryZip}
Delivery Country: {!varDeliveryCountry}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Custom_Delivery_Address</name>
        <label>Enter Custom Delivery Address</label>
        <locationX>1374</locationX>
        <locationY>607</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_to_Delivery</targetReference>
        </connector>
        <fields>
            <name>EnterCustomDeliveryAddress</name>
            <fieldText>Enter Custom Delivery Address</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherDeliveryName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryZip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varDeliveryZip</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherDeliveryCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Custom_Pickup_Address</name>
        <label>Enter Custom Pickup Address</label>
        <locationX>435</locationX>
        <locationY>828</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Other_As_Address_Type</targetReference>
        </connector>
        <fields>
            <name>VehicleLocationBanner</name>
            <fieldText>Enter Custom Pickup Address

VEHICLE LOCATION: {!objUnwindCase.Vehicle_Location__c}
OTHER LOCATION NOTES (if applicable): {!objUnwindCase.Vehicle_Location__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OtherPickupName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OtherPickupStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupStreet</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupCity</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupState</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupZip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varPickupZip</elementReference>
            </defaultValue>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OtherPickupCountry</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>US</stringValue>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1013</locationX>
        <locationY>1503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorHandler</name>
            <fieldText>&lt;p&gt;Please contact a Salesforce Admin with the following message:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Open_Transportation_Request</name>
        <label>Existing Open Transportation Request</label>
        <locationX>743</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_2nd_OPEN_Transportation_Case</targetReference>
        </connector>
        <fields>
            <name>Alert</name>
            <fieldText>&lt;p&gt;ALERT: There is already an open Transportation Request for this Auction. The current status of &lt;a href=&quot;https://acvauctions--staging.lightning.force.com/%7B!objAuctionTranspoCase.Id%7D&quot; target=&quot;_blank&quot;&gt;Case#{!objAuctionTranspoCase.CaseNumber}&lt;/a&gt; is: {!objAuctionTranspoCase.Status}. Please view the Case for more information.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please confirm below if you wish to proceed with creating a 2nd OPEN Transportation Case&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_I_would_like_to_create_a_2nd_OPEN_Transportation_Case</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Yes, I would like to create a 2nd OPEN Transportation Case</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_thanks_I_changed_my_mind</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>No thanks, I changed my mind</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vehicle_Delivery_Location</name>
        <label>Select Vehicle Delivery Location</label>
        <locationX>920</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_delivery_address</targetReference>
        </connector>
        <fields>
            <name>BuyerPickupNotes</name>
            <fieldText>Select Vehicle Delivery Location

SELLER: {!objSellerAcct.Name}
SELLER PICKUP NOTES: {!objSellerAcct.Pickup_Notes__c}
SELLER LEGAL NOTES: {!objSellerAcct.Legal_Address_Note__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_Seller_Addresses</name>
            <choiceReferences>SellerBilling</choiceReferences>
            <choiceReferences>SellerLegal</choiceReferences>
            <choiceReferences>SellerOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Seller Delivery Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Vehicle_Pickup_Location</name>
        <label>Select Vehicle Pickup Location</label>
        <locationX>219</locationX>
        <locationY>682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Pickup_Address</targetReference>
        </connector>
        <fields>
            <name>DealerPickupNotes</name>
            <fieldText>Select Vehicle Pickup Location

VEHICLE LOCATION: {!objUnwindCase.Vehicle_Location__c}
OTHER LOCATION NOTES (if applicable): {!objUnwindCase.Explanation_of_other_Vehicle_Location__c}

DEALER: {!varAcctName}
DEALER PICKUP NOTES: {!varAcctPickupNotes}
DEALER LEGAL NOTES: {!varAcctLegalNotes}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Available_Pickup_Addresses</name>
            <choiceReferences>PickupBilling</choiceReferences>
            <choiceReferences>PickupLegal</choiceReferences>
            <choiceReferences>PickupOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Pickup Addresses</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>You indicated that you would not like to create an additional OPEN Transportation case.

The current status of Case#{!objAuctionTranspoCase.CaseNumber} is: {!objAuctionTranspoCase.Status}. Please view the Case for more information.</description>
        <name>Stop_Transportation_Case_Create</name>
        <label>Stop Transportation Case Create</label>
        <locationX>1192</locationX>
        <locationY>279</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Alert2</name>
            <fieldText>&lt;p&gt;You indicated that you would not like to create an additional OPEN Transportation case.&lt;/p&gt;&lt;p&gt;The current status of &lt;a href=&quot;https://acvauctions--staging.lightning.force.com/%7B!objAuctionTranspoCase.Id%7D&quot; target=&quot;_blank&quot;&gt;Case#{!objAuctionTranspoCase.CaseNumber}&lt;/a&gt; is: {!objAuctionTranspoCase.Status}. Please view the Case for more information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transportation_Request_Created</name>
        <label>Transportation Request Created</label>
        <locationX>1398</locationX>
        <locationY>1294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>Transportation Request Created

SUCCESS! Transportation &lt;a href =&quot;/{!objTransportationCase.Id}&quot;&gt;Case#{!objTransportationCase.CaseNumber}&lt;/a&gt; has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Unwind_Case</startElementReference>
    <status>Active</status>
    <variables>
        <name>collobjAuctionTranspoCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objAuction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>objAuctionTranspoAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transportation_Address__c</objectType>
    </variables>
    <variables>
        <name>objAuctionTranspoCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objBuyerAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objCaseRTID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>objSellerAcct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>objTransportationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objUnwindCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Used by quick action to pass the Auction recordId into the flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcctLegalNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAcctPickupNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAuctionTranspoCaseCounter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>null</stringValue>
        </value>
    </variables>
    <variables>
        <name>varAuctionTranspoCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDeliveryCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDeliveryZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupAddressType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPickupZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVehicleLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
