flows/CSO_459_Application_record_associated_Opportunity_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Approved_Or_Declined</name>
        <label>Approved Or Declined?</label>
        <locationX>314</locationX>
        <locationY>2159</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal Documentation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Declined</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
    </decisions>
    <decisions>
        <description>when this field is updated on the application, update application status to &apos;pending credit consent&apos;</description>
        <name>Consent_Status_In_Progress</name>
        <label>Pending Credit Consent?</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>In_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Pending_Credit_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consent_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending_Credit_Consent</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pending Credit Consent</label>
        </rules>
    </decisions>
    <decisions>
        <description>determines if the application status should be moved to &apos;in review&apos;</description>
        <name>In_Review</name>
        <label>In Review?</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Underwriting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Application_Status_In_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consent_Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consent Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Document_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Status_In_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>In Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_opportunity_associated</name>
        <label>Is there an opportunity associated?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Application_Status_Submitted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssociatedOpportunity.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Status_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Yes_Underwriting</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>AssociatedOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AssociatedOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Underwriting</targetReference>
            </connector>
            <label>Yes + Underwriting</label>
        </rules>
    </decisions>
    <decisions>
        <description>2 Scenarios:

Application record updates status to &apos;Underwriting&apos; ----&gt; Updated associated Opportunity stage to &apos;Underwriting&apos;
Associated Opportunity record updates stage to &apos;Underwriting&apos; -----&gt;. Update associated Application record status to &apos;Underwriting&apos;</description>
        <name>Underwriting</name>
        <label>Underwriting?</label>
        <locationX>314</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Approved_Or_Declined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Application_Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stage</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Application = Underwriting</label>
        </rules>
        <rules>
            <name>Opportunity_Underwriting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application</targetReference>
            </connector>
            <label>Opportunity = Underwriting</label>
        </rules>
    </decisions>
    <description>pdate fields - Application Dealer ID matches Dealer with Oppty = Capital Referral

When an application record is created, and there is no existing open oppty , then an opportunity for the application should be automatically created and assigned to the appropriate Sales Rep

When an application record is created, and there IS an existing open oppty , then update the application oppty lookup to the to the existing opportunity.  (Application Dealer ID matches Dealer with Open Oppty = Capital Referral)

Open = NOT won or lost</description>
    <formulas>
        <description>To populate the opportunity name with a pre-determined naming convention</description>
        <name>ApplicationOpportunityCreation_OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Application Opportunity - &quot; + {!$Record.Account__r.Name} + &quot; - &quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <description>sets the opportunity Close date</description>
        <name>Opportunity_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <interviewLabel>CSO-459: Application record associated Opportunity Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSO-459: Application record associated Opportunity Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>OpportunityCreated_From_This_Flow.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Associated_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Monthly_Sales__c</field>
            <value>
                <elementReference>$Record.Average_Monthly_Unit_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Turn_Time_in_Days__c</field>
            <value>
                <elementReference>$Record.Average_Turn_Time_in_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Units_on_lot__c</field>
            <value>
                <elementReference>$Record.Average_Units_on_lot__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Wholesale_Vehicle_Price__c</field>
            <value>
                <elementReference>$Record.Average_Wholesale_Vehicle_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Account_Rep__c</field>
            <value>
                <elementReference>$Record.Account__r.ACV_Capital_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Opportunity_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ApplicationOpportunityCreation_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Account__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Referred__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ACV_Capital_Referral_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Promotion__c</field>
            <value>
                <elementReference>$Record.Campaign_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Application Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ACV_Capital_Referral_Record_Type_ID</name>
        <label>Get ACV Capital Referral Record Type ID</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunity_Records</name>
        <label>Get Existing Opportunity Records</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_opportunity_associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACV_Capital_Referral_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AssociatedOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Application_Approved</name>
        <label>Application = Approved</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Application_Declined</name>
        <label>Application = Declined</label>
        <locationX>314</locationX>
        <locationY>2279</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Application_Status_Submitted</name>
        <label>Application Status = &apos;Submitted&apos;</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Opportunity_Fetch</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_Fetch</name>
        <label>Existing Opportunity Stage = &apos;Application Sent&apos;</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Consent_Status_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Application Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Pending_Credit_Consent</name>
        <label>Status = Pending Credit Consent</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>In_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending credit consent</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application</name>
        <label>Update Application</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Approved_Or_Declined</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_In_Review</name>
        <label>Application Status = In Review</label>
        <locationX>182</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Underwriting</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_Submitted</name>
        <label>Update Application Status = &apos;Submitted&apos;</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associated_Opportunity</name>
        <label>Update Associated Opportunity</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Consent_Status_In_Progress</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityCreated_From_This_Flow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Approved_Or_Declined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ACV_Capital_Referral_Record_Type_ID</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssociatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>AssociatedOppty2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>captures the opportunity ID of the opportunity created.</description>
        <name>OpportunityCreated_From_This_Flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
