flows/CSO_459_Application_created_Opportunity_created.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_there_an_opportunity_associated</name>
        <label>Is there an opportunity associated?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Opportunity_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Status_Submitted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>update fields - Application Dealer ID matches Dealer with Oppty = Capital Referral

When an application record is created, and there is no existing open oppty , then an opportunity for the application should be automatically created and assigned to the appropriate Sales Rep

When an application record is created, and there IS an existing open oppty , then update the application oppty lookup to the to the existing opportunity.  (Application Dealer ID matches Dealer with Open Oppty = Capital Referral)

Open = NOT won or lost</description>
    <formulas>
        <description>To populate the opportunity name with a pre-determined naming convention</description>
        <name>ApplicationOpportunityCreation_OpportunityName</name>
        <dataType>String</dataType>
        <expression>&quot;Application Opportunity - &quot; + {!$Record.Account__r.Name} + &quot; - &quot; + TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <description>sets the opportunity Close date</description>
        <name>Opportunity_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 10</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CSO-459: Application created, Opportunity created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CSO-459: Application created, Opportunity created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignRecordIdToReference>OpportunityCreated_From_This_Flow.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Task_Capital_Record_Type_ID_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Monthly_Sales__c</field>
            <value>
                <elementReference>$Record.Average_Monthly_Unit_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Turn_Time_in_Days__c</field>
            <value>
                <elementReference>$Record.Average_Turn_Time_in_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Units_on_lot__c</field>
            <value>
                <elementReference>$Record.Average_Units_on_lot__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Average_Wholesale_Vehicle_Price__c</field>
            <value>
                <elementReference>$Record.Average_Wholesale_Vehicle_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Account_Rep__c</field>
            <value>
                <elementReference>$Record.Account__r.ACV_Capital_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Opportunity_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ApplicationOpportunityCreation_OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.ACV_Capital_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Account__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Owner_Email__c</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_Referred__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ACV_Capital_Referral_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Application Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_Incorporated__c</field>
            <value>
                <elementReference>$Record.Year_Established__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Task created when application owner  = ACV Capital Sales Rep from Opportunity</description>
        <name>Review_and_Follow_Up_for_Documents_Task</name>
        <label>Review and Follow-Up for Documents Task</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Opportunity_Fetch</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Review application details and documents on new application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Capital_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Application Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task created when application owner  = ACV Capital Sales Rep from Opportunity</description>
        <name>Review_and_Follow_Up_for_Documents_Task_0</name>
        <label>Review and Follow-Up for Documents Task</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Associated_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <stringValue>Review application details and documents on new application</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Capital_Record_Type_ID_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Application Follow-Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_ACV_Capital_Referral_Record_Type_ID</name>
        <label>Get ACV Capital Referral Record Type ID</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Opportunity_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Referral</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Opportunity_Records</name>
        <label>Get Existing Opportunity Records</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_opportunity_associated</targetReference>
        </connector>
        <filterLogic>3 AND 4 AND (1 OR 2)</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACV_Capital_Referral_Record_Type_ID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Capital_Record_Type_ID</name>
        <label>Get Task Capital Record Type ID</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_and_Follow_Up_for_Documents_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Capital_Record_Type_ID_0</name>
        <label>Get Task Capital Record Type ID</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_and_Follow_Up_for_Documents_Task_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV_Capital_Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Application_Status_Submitted</name>
        <label>Application Status = &apos;Submitted&apos;</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Task_Capital_Record_Type_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Existing_Opportunity_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.ACV_Capital_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the stage on the pre-existing opportunity to &apos;application sent&apos; AND populate &apos;primary contact email&apos; fro the application field &apos;email address&apos;</description>
        <name>Opportunity_Fetch</name>
        <label>Stage = &apos;Application Sent&apos; AND Primary Contact Email populated</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Opportunity_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Account__r.ACV_Capital_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Owner_Email__c</field>
            <value>
                <elementReference>$Record.Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Application Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Application_Status_Submitted</name>
        <label>Update Application Status = &apos;Submitted&apos;</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Associated_Opportunity</name>
        <label>Update Associated Opportunity</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Update_Application_Status_Submitted</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityCreated_From_This_Flow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ACV_Capital_Referral_Record_Type_ID</targetReference>
        </connector>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>AssociatedOppty2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>captures the opportunity ID of the opportunity created.</description>
        <name>OpportunityCreated_From_This_Flow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
