flows/Date_Time_Stamp_for_Title_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Received_Date_Time</name>
        <label>Assign Received Date Time</label>
        <locationX>442</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varReceivedDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Working_Date_Time</name>
        <label>Assign Working Date Time</label>
        <locationX>441</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>VarWorkingDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NowFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines which status the title case was updated to</description>
        <name>Status_Change</name>
        <label>Status Change</label>
        <locationX>157</locationX>
        <locationY>676</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_to_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Working_Date_Time</targetReference>
            </connector>
            <label>Status Changed to Working</label>
        </rules>
        <rules>
            <name>Status_changed_to_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Received_Date_Time</targetReference>
            </connector>
            <label>Status changed to Received</label>
        </rules>
    </decisions>
    <description>Stamps the date and time the title case is moved to Working and Received</description>
    <formulas>
        <name>NowFormula</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Date Time Stamp for Title Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Date Time Stamp for Title Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>165</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Change</targetReference>
        </connector>
        <filterLogic>2 AND 4 AND (1 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get record type so the record type name can be used instead of the id.</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>165</locationX>
        <locationY>338</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title_Information </stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>586</locationX>
        <locationY>766</locationY>
        <inputAssignments>
            <field>Date_Time_Title_Clerked__c</field>
            <value>
                <elementReference>VarWorkingDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Received</name>
        <label>Update Case Received</label>
        <locationX>583</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Date_Time_Title_Received__c</field>
            <value>
                <elementReference>varReceivedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varReceivedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarWorkingDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
