flows/Dealership_Enrollment_Invitation_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_enrollment_to_collection_for_update</name>
        <label>Add enrollment to collection for update</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>areProgramEnrollmentsSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionSelectedProgramEnrollmentsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_selected_program_enrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_selected_program_enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_values_to_enrollment_record</name>
        <label>assign values to enrollment record</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Iterate_over_selected_program_enrollments.Enrollment_Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Eligible</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_enrollment_to_collection_for_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_program_enrollments_are_selected</name>
        <label>check if program enrollments are selected</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Screen_Confirm_Selected_Program_Enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Program_Enrollments_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>areProgramEnrollmentsSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Program_Enrollment_Not_Selected</targetReference>
            </connector>
            <label>Program Enrollments Not Selected</label>
        </rules>
    </decisions>
    <interviewLabel>Dealership Enrollment Invitation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealership Enrollment Invitation Flow</label>
    <loops>
        <name>Iterate_over_selected_program_enrollments</name>
        <label>Iterate over selected program enrollments</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <collectionReference>collectionSelectedProgramEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_values_to_enrollment_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_if_program_enrollments_are_selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Eligible_Program_Enrollments</name>
        <label>Get Eligible Program Enrollments</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Enrollments_List_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Program_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Enrollments_Selected</name>
        <label>Update Program Enrollments Selected</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Screen_Enrollment_Update_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Enrollment_Update_Failure</targetReference>
        </faultConnector>
        <inputReference>collectionSelectedProgramEnrollmentsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Program_Enrollments_List_Screen</name>
        <label>Program Enrollments List Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_over_selected_program_enrollments</targetReference>
        </connector>
        <fields>
            <name>disp_Enrollments_Selection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please select at least one program enrollment to send invite.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_Program_Enrollments</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Program Enrollment Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Program_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Program Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Enrollment_Invitation_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Enrollment Invitation Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata_ProgramEnrollment</name>
                <value>
                    <elementReference>Get_Eligible_Program_Enrollments</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>collectionSelectedProgramEnrollments</assignToReference>
                <name>selectedRows_ProgramEnrollment</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_Selected_Program_Enrollments</name>
        <label>Screen Confirm Selected Program Enrollments</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Program_Enrollments_Selected</targetReference>
        </connector>
        <fields>
            <name>disp_Confirm_Program_Enrollments_Selected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Do you want to send enrolment invitation to the dealer for following program enrollments?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt_Confirm_Program_Enrollments_Selected</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_ProgramEnrollment</name>
                <value>
                    <elementReference>collectionSelectedProgramEnrollments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Program Enrollment Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_editable</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Enrollment_Invitation_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Enrollment Invitation Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideShow</name>
                <value>
                    <stringValue>hide</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Enrollment_Update_Failure</name>
        <label>Screen Enrollment Update Failure</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp_Enrollment_Update_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 13, 13);&quot;&gt;Error Occurred. Please contact administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Enrollment_Update_Success</name>
        <label>Screen Enrollment Update Success</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp_Enrollment_Update_Success</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(30, 147, 47); background-color: rgb(255, 255, 255);&quot;&gt;Program enrolment invitation sent successfully to the primary contact of the dealer.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Program_Enrollment_Not_Selected</name>
        <label>Screen Program Enrollment Not Selected</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp_Program_Enrollment_Not_Selected</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 44, 14); background-color: rgb(255, 255, 255);&quot;&gt;Please select at least one program enrollment to send invitation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Eligible_Program_Enrollments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>areProgramEnrollmentsSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>collectionSelectedProgramEnrollments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>collectionSelectedProgramEnrollmentsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Program_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
