flows/Delete_QC_Count_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assigns the Open QC Count</description>
        <name>Assign_QC_open_Count</name>
        <label>Assign QC Open Count</label>
        <locationX>906</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>OpenQCCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_QC_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Seller_Assistance_QC_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Assistance_Count</name>
        <label>Assign Seller Assistance Count</label>
        <locationX>900</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>SellerAssistanceCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Seller_Assistance_QC_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_With_Counts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count of all QC Records</description>
        <name>Assign_Total_QC_Count</name>
        <label>Assign Total QC Count</label>
        <locationX>910</locationX>
        <locationY>367</locationY>
        <assignmentItems>
            <assignToReference>TotalQCCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_QC_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_QC_Records</targetReference>
        </connector>
    </assignments>
    <description>This flow pairs with the QC Count on case flow to be sure that if a QC Record is deleted the counts are updated to reflect that.</description>
    <interviewLabel>Delete QC Count Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete QC Count Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all QC Records associated with the case</description>
        <name>Get_All_QC_Records</name>
        <label>Get All QC Records</label>
        <locationX>606</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Total_QC_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>All open QC Count</description>
        <name>Get_Open_QC_Records</name>
        <label>Get Open QC Records</label>
        <locationX>606</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QC_open_Count</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>All QC Count where Seller Assistance is needed</description>
        <name>Get_Seller_Assistance_QC_Count</name>
        <label>Get Seller Assistance QC Count</label>
        <locationX>604</locationX>
        <locationY>687</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Seller_Assistance_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Seller_Assistance_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Counts</name>
        <label>Update Case With Counts</label>
        <locationX>756</locationX>
        <locationY>904</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_QC_Count__c</field>
            <value>
                <elementReference>OpenQCCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Count_Seller_Needed__c</field>
            <value>
                <elementReference>SellerAssistanceCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Count__c</field>
            <value>
                <elementReference>TotalQCCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>480</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_QC_Records</targetReference>
        </connector>
        <object>Quality_Control__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpenQCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SellerAssistanceCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total QC Count</description>
        <name>TotalQCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
