flows/Fastpass_Credit_Decisioning.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FastPass_Welcome_Email</name>
        <label>FastPass Welcome Email</label>
        <locationX>842</locationX>
        <locationY>1008</locationY>
        <actionName>Account.FastPass_Welcome_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_sent_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>using either the initial entry conditions OR using the &apos;Experian Test__c&apos; field OR &apos; FastPass Approval&apos; = &apos;New&apos;</description>
        <name>Automation_Trigger</name>
        <label>Automation Trigger</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Get_RecordType_ID_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Initial Entry Conditions</defaultConnectorLabel>
        <rules>
            <name>Experian_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Experian_Test__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_ID_2</targetReference>
            </connector>
            <label>Experian Test</label>
        </rules>
        <rules>
            <name>FastPass_Approval_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FastPass_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_ID_2</targetReference>
            </connector>
            <label>FastPass Approval = New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Conditions required to undergo fastpass approval</description>
        <name>eligibility</name>
        <label>eligibility</label>
        <locationX>182</locationX>
        <locationY>624</locationY>
        <defaultConnectorLabel>Not Eligible</defaultConnectorLabel>
        <rules>
            <name>Proceed_with_FastPass_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_RecordType_ID_2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FastPass_Approval_Call_Experian_API</targetReference>
            </connector>
            <label>Proceed with FastPass Approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>determine if account is eligible for fastpass</description>
        <name>Fast_Pass_Approved</name>
        <label>Fast Pass Approved?</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Not Processed</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Experian_BI_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commercial_BK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Experian_Tax_Lien__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastPass_Approval_Not_Approved</targetReference>
            </connector>
            <label>Not Approved</label>
        </rules>
        <rules>
            <name>Approved_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Experian_BI_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Commercial_BK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Experian_Tax_Lien__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FastPass_Approval_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Fastpass Credit Decisioning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fastpass Credit Decisioning - Additional Parameters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Email_sent_Task</name>
        <label>Email sent Task</label>
        <locationX>842</locationX>
        <locationY>1128</locationY>
        <connector>
            <targetReference>FastPass_Opt_In</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.SystemModstamp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Record_for_ACV_Integration_user.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Standard_Task_Record_type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;FastPass Welcome Email Sent&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Experian_Record</name>
        <label>Get Experian Record</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Experian_Related_Fields_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EXPRN__Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EXPRN__Exp_Business_Info__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_ID_2</name>
        <label>Get RecordType ID 2</label>
        <locationX>182</locationX>
        <locationY>504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Task_Record_type_ID</name>
        <label>Get Standard Task Record type ID</label>
        <locationX>842</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FastPass_Welcome_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record_for_ACV_Integration_user</name>
        <label>Get User Record for ACV Integration user</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Task_Record_type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>acv-int</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>FastPass_Approval_Approved</name>
        <label>FastPass Approval = Approved</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Get_User_Record_for_ACV_Integration_user</targetReference>
        </connector>
        <inputAssignments>
            <field>FastPass_Approval__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FastPass_Approval_Not_Approved</name>
        <label>FastPass Approval = Not Approved</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>FastPass_Approval__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>FastPass_Opt_In</name>
        <label>FastPass Opt-In = TRUE</label>
        <locationX>842</locationX>
        <locationY>1248</locationY>
        <inputAssignments>
            <field>FastPass_Opt_In__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the following Account fields with data from the corresponding fields in the EXPRN__Exp_Business_Info__c (the Experian Object)

Commercial_BK_C
Experian_Business_Information__c
Experian_Credit_Report_Date__c
Experian_BI_Score__c
Experian_FICO__c
Experian_Tax_Lien__c
OFAC__c
Credit_Fail_Reason__c</description>
        <name>Update_Experian_Related_Fields_on_Account</name>
        <label>Update Experian-Related Fields on Account</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Fast_Pass_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Commercial_BK__c</field>
            <value>
                <elementReference>Get_Experian_Record.EXPRN__Bankruptcy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experian_BI_Score__c</field>
            <value>
                <elementReference>Get_Experian_Record.Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experian_Tax_Lien__c</field>
            <value>
                <elementReference>Get_Experian_Record.ACV_Tax_Lien__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>this stage updates the fastpass approval = in progress and will call the experian API to retrieve data.</description>
        <name>Update_FastPass_Approval_Call_Experian_API</name>
        <label>Update FastPass Approval + Call Experian API</label>
        <locationX>50</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>FastPass_Approval__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Automation_Trigger</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Doc_Compliance__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dealership_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Experian_Test__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FastPass_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Time_Delay_Get_Experian_Record</name>
            <connector>
                <targetReference>Get_Experian_Record</targetReference>
            </connector>
            <label>Time Delay Get Experian Record</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
