flows/FSL_Dry_Run.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Cannot_Complete</name>
        <label>Assign Cannot Complete</label>
        <locationX>1127</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>SA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CannotCompleteReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Dry_Run_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DryRun_OSchedStart_OSchedEnd_ActualStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Complete</name>
        <label>Assign Complete</label>
        <locationX>1126</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>SA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Dry_Run_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_For_Dry_Run</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_DryRun_OSchedStart_OSchedEnd_ActualStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DryRun_OSchedStart_OSchedEnd_ActualStart</name>
        <label>Assign DryRun OSchedStart OSchedEnd ActualStart</label>
        <locationX>1284</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SA.Dry_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Original_Sched_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Original_Sched_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SchedEnd_ActualEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Future_SA</name>
        <label>Assign Future SA</label>
        <locationX>1833</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TwoMinutesAgo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TwoMinutesAgo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Checkbox_True_Allow_VCI_Status_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SchedEnd_ActualEnd</name>
        <label>Assign SchedEnd ActualEnd</label>
        <locationX>1434</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Scheduled_Start_In_Past</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_False</name>
        <label>Change to False</label>
        <locationX>2272</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>SA.Allow_VCI_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_True</name>
        <label>Change to True</label>
        <locationX>2265</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>SA.Allow_VCI_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Checkbox_True_Allow_VCI_Status_change</name>
        <label>Is Checkbox True - Allow VCI Status change</label>
        <locationX>2021</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Change_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checkbox Is False</defaultConnectorLabel>
        <rules>
            <name>Checkbox_IS_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Allow_VCI_Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_False</targetReference>
            </connector>
            <label>Checkbox Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled_Start_In_Past</name>
        <label>Is Scheduled Start In Past</label>
        <locationX>1565</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Assign_Future_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scheduled Start in Future or Null</defaultConnectorLabel>
        <rules>
            <name>Scheduled_Start_In_Past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.SchedStartTime</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Checkbox_True_Allow_VCI_Status_change</targetReference>
            </connector>
            <label>Scheduled Start In Past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_allowed_to_dry_run</name>
        <label>Status allowed to dry run</label>
        <locationX>543</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Dry_Run_Not_allowed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_allowed_dry_run</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Type</targetReference>
            </connector>
            <label>Is allowed dry run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Work_Type</name>
        <label>Work Type</label>
        <locationX>774</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Dry_Run_Not_Allowed_for_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auction Off-lease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Details</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sirius XM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer Signup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dry_Run_Reason</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <description>ID-3086 Stop Laptop and SF Mobile Statusing for FSL Objects for VCIs.</description>
    <dynamicChoiceSets>
        <name>CannotCompleteReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cannot_Complete_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CalculateStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (3/24/60)</expression>
    </formulas>
    <formulas>
        <name>OneMinuteFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/24/60)</expression>
    </formulas>
    <formulas>
        <name>TwoMinutesAgo</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (2/24/60)</expression>
    </formulas>
    <interviewLabel>FSL Dry Run {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Dry Run</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>418</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_allowed_to_dry_run</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Work_Type_Name__c</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Original_Sched_Start__c</queriedFields>
        <queriedFields>Original_Sched_End__c</queriedFields>
        <queriedFields>Dry_Run__c</queriedFields>
        <queriedFields>Dry_Run_Reason__c</queriedFields>
        <queriedFields>Allow_VCI_Status_Change__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateSA</name>
        <label>updateSA</label>
        <locationX>2439</locationX>
        <locationY>211</locationY>
        <inputReference>SA</inputReference>
    </recordUpdates>
    <screens>
        <name>Cannot_Complete_Details</name>
        <label>Cannot Complete Details</label>
        <locationX>986</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Reason</name>
            <choiceReferences>CannotCompleteReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cannot_Complete_Notes</name>
            <dataType>String</dataType>
            <fieldText>Dry Run Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dry_Run_Not_allowed</name>
        <label>Dry Run Not Available</label>
        <locationX>550</locationX>
        <locationY>439</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotAvailableForDryRun</name>
            <fieldText>&lt;p&gt;Service Appointment must have a status of Dispatched, Travel, Arrived, or In Progress in order to be a Dry Run.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dry_Run_Not_Allowed_for_Work_Type</name>
        <label>Dry Run Not Available</label>
        <locationX>781</locationX>
        <locationY>441</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotDryRunWorkType</name>
            <fieldText>&lt;p&gt;This work type is not available for dry run.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dry_Run_Reason</name>
        <label>Dry Run Reason</label>
        <locationX>987</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Complete</targetReference>
        </connector>
        <fields>
            <name>Reason_For_Dry_Run</name>
            <dataType>String</dataType>
            <fieldText>Reason For Dry Run</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CannotCompleteNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DryRunReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
