flows/FSL_Close_TSEs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Get_tse_info</name>
        <label>put timestamp on tse</label>
        <locationX>712</locationX>
        <locationY>613</locationY>
        <assignmentItems>
            <assignToReference>CurrentTSE.EndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>timestamp_entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_TSEs</name>
        <label>List of TSEs</label>
        <locationX>587</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>TSEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTSE.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSEList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>.  Started at: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTSE.StartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TSEList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Entries_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>timestamp_entry</name>
        <label>timestamp entry</label>
        <locationX>868</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>TSEs_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTSE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finish_Time_Entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Update_TSEs</name>
        <label>Update TSEs</label>
        <locationX>862</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complete_active_time_entries</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finish_Time_Entries</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>user</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL Close TSEs {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>FSL Close TSEs</label>
    <loops>
        <name>Entries_Loop</name>
        <label>Entries Loop</label>
        <locationX>586</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>CurrentTSE</assignNextValueToReference>
        <collectionReference>OpenTSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>List_of_TSEs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Finish_Time_Entries</name>
        <label>Finish Time Entries</label>
        <locationX>868</locationX>
        <locationY>405</locationY>
        <assignNextValueToReference>CurrentTSE</assignNextValueToReference>
        <collectionReference>OpenTSEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_tse_info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Unfinished_Entries</name>
        <label>Get Unfinished Entries</label>
        <locationX>295</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entries_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndTime</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nulldt</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartTime</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>nulldt</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>user</elementReference>
            </value>
        </filters>
        <object>TimeSheetEntry</object>
        <outputReference>OpenTSEs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>StartTime</queriedFields>
        <queriedFields>EndTime</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>1087</locationX>
        <locationY>417</locationY>
        <inputReference>TSEs_To_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Active_Entries</name>
        <label>Active Entries</label>
        <locationX>870</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_TSEs</targetReference>
        </connector>
        <fields>
            <name>Complete_active_time_entries</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Timestamp and close the following entries?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Open_TSEs</name>
            <fieldText>&lt;p&gt;{!TSEList}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Unfinished_Entries</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CurrentTSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nulldt</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenTSEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
    <variables>
        <name>TSEList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TSEs_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TimeSheetEntry</objectType>
    </variables>
</Flow>
