flows/FslStatusUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>2920</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>SA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NextStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Auction_DryRun_Reason</name>
        <label>Auction DryRun Reason</label>
        <locationX>1813</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_Auction_Dry_Run_Reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dry_Run_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CannotCompleteNotes_Reason_Notes</name>
        <label>CannotCompleteNotes Reason Notes</label>
        <locationX>2024</locationX>
        <locationY>2323</locationY>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Notes_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScheduledEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign  CannotCompleteNotes SchedEnd ActualEnd</description>
        <name>CannotCompleteNotes_SchedEnd_ActualEnd</name>
        <label>CannotCompleteNotes SchedEnd ActualEnd</label>
        <locationX>2151</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LongText_Dry_Run_Completed_Canceled_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_False</name>
        <label>Change to False</label>
        <locationX>2768</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>SA.Allow_VCI_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_to_True</name>
        <label>Change to True</label>
        <locationX>2773</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>SA.Allow_VCI_Status_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_Canceled_Notes</name>
        <label>Completed Canceled Notes</label>
        <locationX>1895</locationX>
        <locationY>1995</locationY>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScheduledEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dealer_DryRun_Reason</name>
        <label>Dealer DryRun Reason</label>
        <locationX>1813</locationX>
        <locationY>1281</locationY>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_Dealer_Dry_Run_Reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dry_Run_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Dry_Run_Reason_Selected</name>
        <label>Dry Run Reason Selected</label>
        <locationX>2288</locationX>
        <locationY>1465</locationY>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dry Run Reason Selected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DryRun_NextStatus_Reason_Notes</name>
        <label>DryRun NextStatus Reason Notes</label>
        <locationX>1259</locationX>
        <locationY>2302</locationY>
        <assignmentItems>
            <assignToReference>SA.Dry_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dry Run</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tsestatus_ActualEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign DryRun NextStatus SchedStart ActualStart</description>
        <name>DryRun_NextStatus_tseStatus</name>
        <label>DryRun NextStatus tseStatus</label>
        <locationX>1225</locationX>
        <locationY>1390</locationY>
        <assignmentItems>
            <assignToReference>SA.Dry_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Idle</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Dry_Run_Work_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign DryRun NextStatus tsestatus</description>
        <name>DryRun_NextStatus_tsestatus_ValidZero</name>
        <label>DryRun NextStatus tseStatus</label>
        <locationX>1439</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>SA.Dry_Run__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Idle</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Standard_SiriusXM_True360_Dry_Run_Reasons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update Duration from Scheduled End - Scheduled Start</description>
        <name>Duration_Calc_from_SchedEnd_SchedStart</name>
        <label>Duration Calc from SchedEnd SchedStart</label>
        <locationX>2406</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DurationCalcfromSchedEndAndStart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_NextStatus_tsestatus</name>
        <label>Duration NextStatus tsestatus</label>
        <locationX>1481</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.Work_Type_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Duration_NextStatus_tsestatus_NotDryRun</name>
        <label>Duration NextStatus tsestatus</label>
        <locationX>1228</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WTDuration_X_VehicleCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEnd_NotDryRun</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DurationCalc_NextStatus_tsestatus</name>
        <label>DurationCalc NextStatus tsestatus</label>
        <locationX>1483</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WTDuration_X_WoliCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Duration DurationType</description>
        <name>DurationType_Duration</name>
        <label>DurationType Duration</label>
        <locationX>1873</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>SA.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Minutes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertDurationHourstoMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sched_End</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GMFIA_Duration_NextStatus_tsestatus</name>
        <label>GMFIA Duration NextStatus tsestatus</label>
        <locationX>1485</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Progress_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>420.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextStatus_Completed</name>
        <label>NextStatus</label>
        <locationX>1185</locationX>
        <locationY>1980</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completed_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tsestatus_ActualEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextStatus_Completed_or_Cannot_Complete</name>
        <label>NextStatus</label>
        <locationX>1199</locationX>
        <locationY>2136</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Completion_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tsestatus_ActualEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextStatus_Reason_Notes</name>
        <label>NextStatus Reason Notes</label>
        <locationX>1418</locationX>
        <locationY>2302</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 or more WOLIs marked Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tsestatus_ActualEnd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextStatus_to_Acknowledged</name>
        <label>NextStatus to Acknowledged</label>
        <locationX>702</locationX>
        <locationY>205</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acknowledged_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NextStatus_tsestatus_to_Travel</name>
        <label>NextStatus tsestatus to Travel</label>
        <locationX>1777</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Travel_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Travel</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OSchedStart_OSchedEnd_NextStatus_tsestatus</name>
        <label>OSchedStart OSchedEnd NextStatus tsestatus</label>
        <locationX>1231</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>NextStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Arrived_Status_Choice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Arrival</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Original_Sched_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.Original_Sched_End__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SchedStart_ActualStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remaining_DryRun_Reason</name>
        <label>Remaining DryRun Reason</label>
        <locationX>1816</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_Remaining_Dry_Run_Reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dry_Run_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Sched End</description>
        <name>Sched_End</name>
        <label>Sched End</label>
        <locationX>1873</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledEndFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SchedEnd</name>
        <label>SchedEnd</label>
        <locationX>1688</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledEndFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Confirmation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SchedEnd_NotDryRun</name>
        <label>SchedEnd</label>
        <locationX>1444</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledEndFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Time_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign SchedStart ActualStart</description>
        <name>SchedStart_ActualStart</name>
        <label>SchedStart ActualStart</label>
        <locationX>1400</locationX>
        <locationY>639</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Duration_Type_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign ScheduledEnd</description>
        <name>ScheduledEnd</name>
        <label>ScheduledEnd</label>
        <locationX>2024</locationX>
        <locationY>2129</locationY>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duration_Calc_from_SchedEnd_SchedStart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Special Instructions Acknowledged</description>
        <name>Special_Instructions_to_Acknowledged</name>
        <label>Special Instructions to Acknowledged</label>
        <locationX>1545</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>SA.Special_Instructions_Acknowledged__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>I_Acknowledge_Special_Instructions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NextStatus_tsestatus_to_Travel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_SiriusXM_True360_DryRun_Reason</name>
        <label>Standard SiriusXM True360 DryRun Reason</label>
        <locationX>1821</locationX>
        <locationY>1593</locationY>
        <assignmentItems>
            <assignToReference>SA.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklist_Standard_SiriusXM_True360_Dry_Run_Reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dry_Run_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tsestatus_ActualEnd</name>
        <label>tsestatus ActualEnd</label>
        <locationX>1337</locationX>
        <locationY>2136</locationY>
        <assignmentItems>
            <assignToReference>tsestatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Idle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Complete_Reason_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vehicle_Count_Entered_assignment</name>
        <label>Vehicle Count Entered</label>
        <locationX>1089</locationX>
        <locationY>1601</locationY>
        <assignmentItems>
            <assignToReference>var_GetWorkOrder.Inspection_Number_of_Vehicles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_Count_Entered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Vehicle_Count_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOLIs_marked_Cannot_Complete</name>
        <label>WOLIs marked Cannot Complete</label>
        <locationX>2225</locationX>
        <locationY>1243</locationY>
        <assignmentItems>
            <assignToReference>SA.Completed_Canceled_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1 or more WOLIs marked Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.SchedEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMinuteFromNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acknowledged_Status_Choice</name>
        <choiceText>Acknowledged</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acknowledged</stringValue>
        </value>
    </choices>
    <choices>
        <name>Arrived_Status_Choice</name>
        <choiceText>Arrived</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Arrived</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cannot_Complete_Status_Choice</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>Completed_Status_Choice</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <description>Contact not Available</description>
        <name>ContactnotAvailable</name>
        <choiceText>Contact not Available</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact not Available</stringValue>
        </value>
    </choices>
    <choices>
        <description>Continue to Dry Run</description>
        <name>Continue_to_DryRun</name>
        <choiceText>Dry Run - Traveled to location and unable to complete Inspection(s).</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run - Traveled to location and unable to complete Inspection(s).</stringValue>
        </value>
    </choices>
    <choices>
        <description>Continue to In Progress Status</description>
        <name>Continue_to_InProgress</name>
        <choiceText>Not a Dry Run</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not a Dry Run</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dealer Closed</description>
        <name>DealerClosed</name>
        <choiceText>Dealer Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Closed</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dealer Out of Business</description>
        <name>DealerOutofBusiness</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Dealer Out of Business&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Out of Business</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dealer Uncooperative</description>
        <name>DealerUncooperative</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dealer Uncooperative&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dealer Uncooperative</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Auction uncooperative</description>
        <name>DryRunAuction_Auctionuncooperative</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Auction uncooperative</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Auction uncooperative</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Contact not available</description>
        <name>DryRunAuction_Contactnotavailable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - Contact not available&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Contact not available</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Incorrect contact listed</description>
        <name>DryRunAuction_Incorrectcontactlisted</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Incorrect contact listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Incorrect contact listed</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - In service or body shop</description>
        <name>DryRunAuction_Inserviceorbodyshop</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;In service or body shop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - In service or body shop</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Moved to another location</description>
        <name>DryRunAuction_Movedtoanotherlocation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Moved to another location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Moved to another location</stringValue>
        </value>
    </choices>
    <choices>
        <name>DryRunAuction_Unabletolocatekeys</name>
        <choiceText>Dry Run Auction  - Unable to locate keys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Unable to locate keys</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Unable to locate vehicle</description>
        <name>DryRunAuction_Unabletolocatevehicle</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Unable to locate vehicle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Unable to locate vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Unit sold</description>
        <name>DryRunAuction_Unitsold</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Unit sold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Unit sold</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Auction - Vehicle will not start</description>
        <name>DryRunAuction_Vehiclewillnotstart</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Dry Run Auction  - &lt;/span&gt;Vehicle will not start</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Auction  - Vehicle will not start</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer - Contact not available</description>
        <name>DryRunDealer_Contactnotavailable</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Dealer  - Contact not available&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer  - Contact not available</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- In service or body shop</description>
        <name>DryRunDealer_Inserviceorbodyshop</name>
        <choiceText>Dry Run Dealer- In service or body shop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- In service or body shop</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer - Moved to another location</description>
        <name>DryRunDealer_Movedtoanotherlocation</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Dealer  - Moved to another location&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer  - Moved to another location</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- No start/ No jump</description>
        <name>DryRunDealer_Nostart_Nojump</name>
        <choiceText>Dry Run Dealer- No start/ No jump</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- No start/ No jump</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- Purchasing</description>
        <name>DryRunDealer_Purchasing</name>
        <choiceText>Dry Run Dealer- Purchasing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- Purchasing</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer -Unable to access vehicle at storage facility</description>
        <name>DryRunDealer_Unabletoaccessvehicleatstoragefacility</name>
        <choiceText>Dry Run Dealer -Unable to access vehicle at storage facility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer -Unable to access vehicle at storage facility</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- Unable to locate keys</description>
        <name>DryRunDealer_Unabletolocatekeys</name>
        <choiceText>Dry Run Dealer- Unable to locate keys</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- Unable to locate keys</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer - Unable to locate vehicle</description>
        <name>DryRunDealer_Unabletolocatevehicle</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Dealer  - Unable to locate vehicle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer  - Unable to locate vehicle</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer - Unit sold</description>
        <name>DryRunDealer_Unitsold</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Dealer  - Unit sold&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer  - Unit sold</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- Vehicle moved to auto auction</description>
        <name>DryRunDealer_Vehiclemovedtoautoauction</name>
        <choiceText>Dry Run Dealer- Vehicle moved to auto auction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- Vehicle moved to auto auction</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- Vehicle not at location</description>
        <name>DryRunDealer_Vehiclenotatlocation</name>
        <choiceText>Dry Run Dealer- Vehicle not at location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- Vehicle not at location</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer- Vehicle not at storage location</description>
        <name>DryRunDealer_Vehiclenotatstoragelocation</name>
        <choiceText>Dry Run Dealer- Vehicle not at storage location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer- Vehicle not at storage location</stringValue>
        </value>
    </choices>
    <choices>
        <description>Dry Run Dealer - Vehicle will not start</description>
        <name>DryRunDealer_Vehiclewillnotstart</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Dry Run Dealer  - Vehicle will not start&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dry Run Dealer  - Vehicle will not start</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress_Status_Choice</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>InsufficientTimeToComplete</name>
        <choiceText>Insufficient time to complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insufficient time to complete</stringValue>
        </value>
    </choices>
    <choices>
        <description>No Vehicles to Inspect</description>
        <name>NoVehiclestoInspect</name>
        <choiceText>No Vehicles to Inspect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Vehicles to Inspect</stringValue>
        </value>
    </choices>
    <choices>
        <description>Safety Hazard</description>
        <name>SafetyHazard</name>
        <choiceText>&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Safety Hazard&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Safety Hazard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Travel_Status_Choice</name>
        <choiceText>Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Travel</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Notes_Empty</name>
        <label>Are Notes Empty?</label>
        <locationX>2047</locationX>
        <locationY>1344</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Notes_Empty_WOLIs_Cannot_Complete</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Dry_Run__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WOLIs_marked_Cannot_Complete</targetReference>
            </connector>
            <label>Notes Empty &amp; WOLIs Cannot Complete</label>
        </rules>
        <rules>
            <name>Notes_Empty_Dry_Run</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Dry_Run__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dry_Run_Reason_Selected</targetReference>
            </connector>
            <label>Notes Empty &amp; Dry Run</label>
        </rules>
        <rules>
            <name>Notes_NOT_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LongText_Dry_Run_Completed_Canceled_Notes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CannotCompleteNotes_SchedEnd_ActualEnd</targetReference>
            </connector>
            <label>Notes NOT Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_WOLIs_Completed</name>
        <label>Are WOLIs Completed</label>
        <locationX>1044</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>NextStatus_Completed_or_Cannot_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>WOLIs_NOT_Completed</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Completion_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed_Status_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Completed_Status_Category_Cnt__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_GetWorkOrder.LineItemCount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Asset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Promo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_ALL_WOLIs</targetReference>
            </connector>
            <label>WOLIs NOT Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cannot_Complete_Reason_Choice</name>
        <label>Cannot Complete Reason Choice</label>
        <locationX>1490</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>ScheduledEnd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed_for_Promo_Documentation_Gathering</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>NextStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Completed_Status_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentation Gathering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Notes_Required</targetReference>
            </connector>
            <label>Completed for Promo &amp; Documentation Gathering</label>
        </rules>
        <rules>
            <name>Chose_Cannot_Complete</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>NextStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cannot_Complete_Status_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NextStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cannot_Complete_Status_Choice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Reason_Screen</targetReference>
            </connector>
            <label>Chose Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_In_Progress_Work</name>
        <label>Check for In Progress Work</label>
        <locationX>820</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>Check_for_Special_Instructions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Progress_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Assigned_Resource_Has_In_Progress_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_In_Progress_Work</targetReference>
            </connector>
            <label>Yes - In Progress Work</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_WOLIs</name>
        <label>Check for New WOLIs</label>
        <locationX>933</locationX>
        <locationY>2436</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Line_Items_are_marked_Cannot_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>WOLIs_with_New_Status_Exist_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedPlusCannotCompleteStatusCategoryCount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>var_GetWorkOrder.LineItemCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_ALL_WOLIs</targetReference>
            </connector>
            <label>WOLIs with New Status Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for Special Instructions</description>
        <name>Check_for_Special_Instructions</name>
        <label>Check for Special Instructions</label>
        <locationX>1075</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>NextStatus_tsestatus_to_Travel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Special_Instructions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.Special_Instructions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_Instructions_Confirmation</targetReference>
            </connector>
            <label>Yes - Special Instructions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOLI_Count_to_Update_Duration</name>
        <label>Check WOLI Count to Update Duration</label>
        <locationX>1215</locationX>
        <locationY>933</locationY>
        <defaultConnector>
            <targetReference>DurationCalc_NextStatus_tsestatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOLI Count &gt; Zero</defaultConnectorLabel>
        <rules>
            <name>WOLI_Count_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duration_NextStatus_tsestatus</targetReference>
            </connector>
            <label>WOLI Count = Zero</label>
        </rules>
        <rules>
            <name>GMFIA_2_WOLIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMFIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GMFIA_Duration_NextStatus_tsestatus</targetReference>
            </connector>
            <label>GMFIA 2 WOLIs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WOLI_Vehicles</name>
        <label>Check # WOLI &amp; # Vehicles</label>
        <locationX>1331</locationX>
        <locationY>2430</locationY>
        <defaultConnector>
            <targetReference>NextStatus_Reason_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel># WOLI&apos;s &lt; # Vehicles</defaultConnectorLabel>
        <rules>
            <name>Dry_Run_WOLIs_Vehicles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>var_GetWorkOrder.Inspection_Number_of_Vehicles__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Completed_Status_Category_Cnt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DryRun_NextStatus_Reason_Notes</targetReference>
            </connector>
            <label>Dry Run # WOLIs &gt;= # Vehicles</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Work Type is FBI, CPO, or GMFIA.  If it is, the Cannot Complete option is NOT available.</description>
        <name>If_FBI_CPO_GMFIA_ACVHome</name>
        <label>If FBI CPO GMFIA ACVHome</label>
        <locationX>684</locationX>
        <locationY>2137</locationY>
        <defaultConnector>
            <targetReference>Choose_Completion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FBI_CPO_VCPO_GMFIA_ACVHome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FBI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CPO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMFIA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACV Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Completed</targetReference>
            </connector>
            <label>FBI CPO VCPO GMFIA ACVHome</label>
        </rules>
        <rules>
            <name>Yes_WOLIs_Cannot_Complete</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sirius XM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_New_WOLIs</targetReference>
            </connector>
            <label>Yes - WOLIs = Cannot Complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>In_Progress_or_Dry_Run_or_Standard</name>
        <label>In Progress or Dry Run or Standard</label>
        <locationX>771</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Check_WOLI_Count_to_Update_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remaining Work Types -&gt; In Progress</defaultConnectorLabel>
        <rules>
            <name>Work_Types_for_Dry_Run</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arbitration Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Auction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer Signup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promo Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unwind Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ask_if_Dry_Run</targetReference>
            </connector>
            <label>Work Types - Dry Run</label>
        </rules>
        <rules>
            <name>StandardInspection_SiriusXM_True360</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sirius XM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Count</targetReference>
            </connector>
            <label>Standard SiriusXM True360</label>
        </rules>
        <rules>
            <name>WOLIs_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sirius XM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DryRun_NextStatus_tseStatus</targetReference>
            </connector>
            <label>WOLIs = Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Checkbox_True_Allow_VCI_Status_change</name>
        <label>Is Checkbox True - Allow VCI Status change</label>
        <locationX>2528</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Change_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checkbox is False</defaultConnectorLabel>
        <rules>
            <name>Checkbox_IS_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Allow_VCI_Status_Change__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_False</targetReference>
            </connector>
            <label>Checkbox IS True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Duration Type Hours</description>
        <name>Is_Duration_Type_Hours</name>
        <label>Is Duration Type Hours?</label>
        <locationX>1563</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Sched_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equals Minutes</defaultConnectorLabel>
        <rules>
            <name>Equals_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.DurationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hours</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DurationType_Duration</targetReference>
            </connector>
            <label>Equals Hours</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this a Dry Run</description>
        <name>Is_this_a_Dry_Run</name>
        <label>Is this a Dry Run?</label>
        <locationX>1217</locationX>
        <locationY>1167</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_Dry_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_InProgress_or_DryRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue_to_DryRun</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DryRun_NextStatus_tseStatus</targetReference>
            </connector>
            <label>Yes -&gt; Dry Run</label>
        </rules>
        <rules>
            <name>No_Dry_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_InProgress_or_DryRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Continue_to_InProgress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_WOLI_Count_to_Update_Duration</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Vehicle_Count_Zero</name>
        <label>Is Vehicle Count Zero?</label>
        <locationX>1218</locationX>
        <locationY>1603</locationY>
        <defaultConnector>
            <targetReference>Duration_NextStatus_tsestatus_NotDryRun</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Dry Run</defaultConnectorLabel>
        <rules>
            <name>Yes_Valid_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle_Count_Entered</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DryRun_NextStatus_tsestatus_ValidZero</targetReference>
            </connector>
            <label>Yes -&gt; Valid Zero</label>
        </rules>
        <rules>
            <name>Cannot_Complete_0_WOLI_Vehicle_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_GetWorkOrder.LineItemCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Vehicle_Count_Entered</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_GetWorkOrder.WOLI_Completed_Status_Category_Cnt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DryRun_NextStatus_tseStatus</targetReference>
            </connector>
            <label>Cannot Complete &gt; 0 &amp; WOLI &gt;= Vehicle Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Update_Status_Choice</name>
        <label>SA Update Status Choice</label>
        <locationX>694</locationX>
        <locationY>668</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Change_Status_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UnSupported Status</defaultConnectorLabel>
        <rules>
            <name>Dispatch_Acknowledged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NextStatus_to_Acknowledged</targetReference>
            </connector>
            <label>Dispatch -&gt; Acknowledged</label>
        </rules>
        <rules>
            <name>Acknowledged_Travel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Acknowledged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_In_Progress_Work</targetReference>
            </connector>
            <label>Ack --&gt; Travel</label>
        </rules>
        <rules>
            <name>Travel_Arrived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSchedStart_OSchedEnd_NextStatus_tsestatus</targetReference>
            </connector>
            <label>Travel -&gt; Arrived</label>
        </rules>
        <rules>
            <name>Arrived_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arrived</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_or_Dry_Run_or_Standard</targetReference>
            </connector>
            <label>Arrived -&gt; In Progress</label>
        </rules>
        <rules>
            <name>In_Progress_Completed_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_FBI_CPO_GMFIA_ACVHome</targetReference>
            </connector>
            <label>In Progress -&gt; Completed/Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Dry_Run_Work_Type</name>
        <label>Which Dry Run Work Type</label>
        <locationX>1404</locationX>
        <locationY>1392</locationY>
        <defaultConnector>
            <targetReference>Remaining_Work_Types_Dry_Run_Reasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remaining Work Types</defaultConnectorLabel>
        <rules>
            <name>Auction</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Auction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auction_Off_Lease_Auction_Site_Dry_Run_Reasons</targetReference>
            </connector>
            <label>Auction</label>
        </rules>
        <rules>
            <name>Dealer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dealer_Dry_Run_Reasons</targetReference>
            </connector>
            <label>Dealer</label>
        </rules>
        <rules>
            <name>Standard_Inspection_Sirius_XM_True_360</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sirius XM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SA.Work_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_SiriusXM_True360_Dry_Run_Reasons</targetReference>
            </connector>
            <label>Standard Inspection Sirius XM True 360</label>
        </rules>
    </decisions>
    <description>ID-3239 Dry Run - Change Dry Run Availability to be Only after Arrival,  ID-3241 Dry Run - Align &quot;Dry Run&quot; reasons to work types, 
 ID-3243 Dry Run - Remove Dry Run Quick Action from FSL Mobile,  ID-3244 Dry Run - Adjust times,  ID-3288 Dry Run - If only 1 WOLI in cannot complete, Mark WO/SA as Cannot Complete and also check dry run box,  ID-3292 FslStatusUpdate - Cannot Complete - Narrow down for WO/SA based on work type,  ID-3326 Adjust duration to consider dry runs,  ID-3339 Update duration on FSLStatusUpdate flow for GMFIA, CPOGM when grouped.</description>
    <dynamicChoiceSets>
        <name>CantCompleteReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cannot_Complete_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CompletedPlusCannotCompleteStatusCategoryCount</name>
        <dataType>Number</dataType>
        <expression>{!var_GetWorkOrder.WOLI_Completed_Status_Category_Cnt__c} + {!var_GetWorkOrder.WOLI_Cannot_Complete_Status_Category_Cnt__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Convert Duration Hours to Minutes</description>
        <name>ConvertDurationHourstoMinutes</name>
        <dataType>Number</dataType>
        <expression>{!SA.Duration} * 60.00</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculate Duration from Scheduled End and Scheduled Start</description>
        <name>DurationCalcfromSchedEndAndStart</name>
        <dataType>Number</dataType>
        <expression>({!SA.SchedEndTime} - {!SA.SchedStartTime}) * 24 * 60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OneMinuteFromNow</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/24/60)</expression>
    </formulas>
    <formulas>
        <name>ScheduledEndFormula</name>
        <dataType>DateTime</dataType>
        <expression>{!SA.SchedStartTime}+(({!SA.Duration}/60)/24)</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Work Type Duration times Vehicle Count</description>
        <name>WTDuration_X_VehicleCount</name>
        <dataType>Number</dataType>
        <expression>{!Vehicle_Count_Entered} * {!SA.Work_Type_Duration__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>WTDuration_X_WoliCount</name>
        <dataType>Number</dataType>
        <expression>{!var_GetWorkOrder.LineItemCount} * {!SA.Work_Type_Duration__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>StatusUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FslStatusUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_TSE_Req</name>
        <label>Create TSE Req</label>
        <locationX>3288</locationX>
        <locationY>407</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Work Entry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>tsestatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>SA.Work_Order__c</elementReference>
            </value>
        </inputAssignments>
        <object>TSE_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>435</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Work_Type_Name__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>ActualDuration</queriedFields>
        <queriedFields>Work_Type_Duration__c</queriedFields>
        <queriedFields>Current_Service_Resource__c</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>Allow_VCI_Status_Change__c</queriedFields>
        <queriedFields>Assigned_Resource_Has_In_Progress_Work__c</queriedFields>
        <queriedFields>Special_Instructions_Acknowledged__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Work Order fields</description>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>566</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Update_Status_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA.Work_Order__c</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>var_GetWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Special_Instructions__c</queriedFields>
        <queriedFields>LineItemCount</queriedFields>
        <queriedFields>WOLI_Completed_Status_Category_Cnt__c</queriedFields>
        <queriedFields>WOLI_Cannot_Complete_Status_Category_Cnt__c</queriedFields>
        <queriedFields>Inspection_Number_of_Vehicles__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>3035</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputReference>SA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>3160</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Create_TSE_Req</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SA.Work_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Number_of_Vehicles__c</field>
            <value>
                <elementReference>var_GetWorkOrder.Inspection_Number_of_Vehicles__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>Continue to In Progress or Select Dry Run.</description>
        <name>Ask_if_Dry_Run</name>
        <label>Ask if Dry Run</label>
        <locationX>1102</locationX>
        <locationY>1165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_a_Dry_Run</targetReference>
        </connector>
        <fields>
            <name>Radio_InProgress_or_DryRun</name>
            <choiceReferences>Continue_to_InProgress</choiceReferences>
            <choiceReferences>Continue_to_DryRun</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Continue_to_InProgress</defaultSelectedChoiceReference>
            <fieldText>Is this a Dry Run?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Auction_Off_Lease_Auction_Site_Dry_Run_Reasons</name>
        <label>Auction Off-Lease &amp; Auction Site Dry Run Reasons</label>
        <locationX>1700</locationX>
        <locationY>1138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Auction_DryRun_Reason</targetReference>
        </connector>
        <fields>
            <name>picklist_Auction_Dry_Run_Reasons</name>
            <choiceReferences>ContactnotAvailable</choiceReferences>
            <choiceReferences>DryRunAuction_Incorrectcontactlisted</choiceReferences>
            <choiceReferences>DryRunAuction_Unabletolocatekeys</choiceReferences>
            <choiceReferences>DryRunAuction_Vehiclewillnotstart</choiceReferences>
            <choiceReferences>DryRunAuction_Inserviceorbodyshop</choiceReferences>
            <choiceReferences>DryRunAuction_Unabletolocatevehicle</choiceReferences>
            <choiceReferences>DryRunAuction_Movedtoanotherlocation</choiceReferences>
            <choiceReferences>DryRunAuction_Unitsold</choiceReferences>
            <choiceReferences>DryRunAuction_Auctionuncooperative</choiceReferences>
            <choiceReferences>SafetyHazard</choiceReferences>
            <choiceReferences>DealerClosed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run (Cannot Complete) Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Notes</name>
        <label>Cannot Complete Notes</label>
        <locationX>1886</locationX>
        <locationY>2323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CannotCompleteNotes_Reason_Notes</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Notes_Message</name>
            <fieldText>&lt;p&gt;This SA was marked Cannot Complete, please provide additional notes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cannot_Complete_Notes_Entry</name>
            <fieldText>Cannot Complete Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Cannot Complete Reason Screen</description>
        <name>Cannot_Complete_Reason_Screen</name>
        <label>Cannot Complete Reason Screen</label>
        <locationX>1754</locationX>
        <locationY>2323</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Cannot_Complete_Notes</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Reason</name>
            <choiceReferences>ContactnotAvailable</choiceReferences>
            <choiceReferences>DealerClosed</choiceReferences>
            <choiceReferences>DealerOutofBusiness</choiceReferences>
            <choiceReferences>DealerUncooperative</choiceReferences>
            <choiceReferences>NoVehiclestoInspect</choiceReferences>
            <choiceReferences>SafetyHazard</choiceReferences>
            <choiceReferences>InsufficientTimeToComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Completed</name>
        <label>Choose Completed</label>
        <locationX>913</locationX>
        <locationY>1980</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NextStatus_Completed</targetReference>
        </connector>
        <fields>
            <name>Choose_Completed_Display_Message</name>
            <fieldText>&lt;p&gt;Please choose &apos;Completed&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completed_Status</name>
            <choiceReferences>Completed_Status_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Completed Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Completion</name>
        <label>Choose Completed or Cannot Complete</label>
        <locationX>929</locationX>
        <locationY>2136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_WOLIs_Completed</targetReference>
        </connector>
        <fields>
            <name>Choose_Completed_or_Cannot_Complete_Display_Message</name>
            <fieldText>&lt;p&gt;Please choose &apos;Completed&apos; or &apos;Cannot Complete&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completion_Status</name>
            <choiceReferences>Completed_Status_Choice</choiceReferences>
            <choiceReferences>Cannot_Complete_Status_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Completed_Status_Choice</defaultSelectedChoiceReference>
            <fieldText>Completion Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Close_In_Progress_Work</name>
        <label>Close In Progress Work</label>
        <locationX>828</locationX>
        <locationY>238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Close_In_Progress_Work_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please close out all Travel, Arrived, and In Progress Service Appointments before starting work on a new Service Appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_ALL_WOLIs</name>
        <label>Complete ALL WOLIs</label>
        <locationX>1052</locationX>
        <locationY>2283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_Complete_ALL_WOLIs</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please Complete all Work Order Line Items before Completing the Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Complete_Notes_Required</name>
        <label>Complete Notes Required</label>
        <locationX>1774</locationX>
        <locationY>1995</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Completed_Canceled_Notes</targetReference>
        </connector>
        <fields>
            <name>Completed_Notes_Required_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have selected Completed. Please provide additional notes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Completed_Notes</name>
            <dataType>String</dataType>
            <fieldText>Completed Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dealer_Dry_Run_Reasons</name>
        <label>Dealer Dry Run Reasons</label>
        <locationX>1701</locationX>
        <locationY>1281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dealer_DryRun_Reason</targetReference>
        </connector>
        <fields>
            <name>picklist_Dealer_Dry_Run_Reasons</name>
            <choiceReferences>ContactnotAvailable</choiceReferences>
            <choiceReferences>DryRunDealer_Unabletolocatekeys</choiceReferences>
            <choiceReferences>DryRunDealer_Vehiclewillnotstart</choiceReferences>
            <choiceReferences>DryRunDealer_Nostart_Nojump</choiceReferences>
            <choiceReferences>DryRunDealer_Inserviceorbodyshop</choiceReferences>
            <choiceReferences>DryRunDealer_Unabletoaccessvehicleatstoragefacility</choiceReferences>
            <choiceReferences>DryRunDealer_Unabletolocatevehicle</choiceReferences>
            <choiceReferences>DryRunDealer_Vehiclenotatlocation</choiceReferences>
            <choiceReferences>DryRunDealer_Vehiclenotatstoragelocation</choiceReferences>
            <choiceReferences>DryRunDealer_Movedtoanotherlocation</choiceReferences>
            <choiceReferences>DryRunDealer_Vehiclemovedtoautoauction</choiceReferences>
            <choiceReferences>DryRunDealer_Unitsold</choiceReferences>
            <choiceReferences>DryRunDealer_Purchasing</choiceReferences>
            <choiceReferences>DealerUncooperative</choiceReferences>
            <choiceReferences>SafetyHazard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run (Cannot Complete) Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dry_Run_Notes</name>
        <label>Dry Run Notes</label>
        <locationX>1941</locationX>
        <locationY>1342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_Notes_Empty</targetReference>
        </connector>
        <fields>
            <name>LongText_Dry_Run_Completed_Canceled_Notes</name>
            <fieldText>Dry Run Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Vehicle_Count</name>
        <label>Get Vehicle Count</label>
        <locationX>939</locationX>
        <locationY>1601</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Vehicle_Count_Entered_assignment</targetReference>
        </connector>
        <fields>
            <name>Enter_Vehicle_Count_Display</name>
            <fieldText>&lt;p&gt;Please enter the number of vehicles to inspect:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Vehicle_Count_Entered</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>var_GetWorkOrder.LineItemCount</elementReference>
            </defaultValue>
            <fieldText>Enter Vehicle Count</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Remaining_Work_Types_Dry_Run_Reasons</name>
        <label>Remaining Work Types Dry Run Reasons</label>
        <locationX>1698</locationX>
        <locationY>1420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remaining_DryRun_Reason</targetReference>
        </connector>
        <fields>
            <name>picklist_Remaining_Dry_Run_Reasons</name>
            <choiceReferences>ContactnotAvailable</choiceReferences>
            <choiceReferences>DealerOutofBusiness</choiceReferences>
            <choiceReferences>DealerUncooperative</choiceReferences>
            <choiceReferences>SafetyHazard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run (Cannot Complete) Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Special Instructions Confirmation</description>
        <name>Special_Instructions_Confirmation</name>
        <label>Special Instructions Confirmation</label>
        <locationX>1381</locationX>
        <locationY>481</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Special_Instructions_to_Acknowledged</targetReference>
        </connector>
        <fields>
            <name>Special_Instructions_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;*&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 1, 1);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 11, 11);&quot;&gt;Special Instructions:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!var_GetWorkOrder.Special_Instructions__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_Acknowledge_Special_Instructions</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I Acknowledge Special Instructions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please Acknowledge Special Instructions.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_Acknowledge_Special_Instructions}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Standard_SiriusXM_True360_Dry_Run_Reasons</name>
        <label>Standard SiriusXM True360 Dry Run Reasons</label>
        <locationX>1699</locationX>
        <locationY>1593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Standard_SiriusXM_True360_DryRun_Reason</targetReference>
        </connector>
        <fields>
            <name>picklist_Standard_SiriusXM_True360_Dry_Run_Reasons</name>
            <choiceReferences>NoVehiclestoInspect</choiceReferences>
            <choiceReferences>ContactnotAvailable</choiceReferences>
            <choiceReferences>DealerOutofBusiness</choiceReferences>
            <choiceReferences>DealerUncooperative</choiceReferences>
            <choiceReferences>SafetyHazard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Dry Run (Cannot Complete) Reasons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_ALL_WOLIs</name>
        <label>Status ALL WOLIs</label>
        <locationX>942</locationX>
        <locationY>2645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_Complete_ALL_WOLIs_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please Status all Work Order Line Items before Updating the Status on the Work Order.  (No Work Order Line Item Statuses should equal New.)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Confirmation</name>
        <label>Status Confirmation</label>
        <locationX>2390</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Checkbox_True_Allow_VCI_Status_change</targetReference>
        </connector>
        <fields>
            <name>Choice_Confirmation_Message</name>
            <fieldText>&lt;p&gt;The service appointment will be updated to a status of {!NextStatus}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Confirmation</name>
        <label>Time Confirmation</label>
        <locationX>2345</locationX>
        <locationY>1799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Vehicle_and_Time_Confirmation_Message</name>
            <fieldText>&lt;p&gt;There are {!Vehicle_Count_Entered} Vehicles.&lt;/p&gt;&lt;p&gt;The appointment will start with a duration of {!SA.Duration} minutes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Time_Confirmation_0</name>
        <label>Time Confirmation</label>
        <locationX>2068</locationX>
        <locationY>931</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Time_Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The appointment will start with a duration of {!SA.Duration} minutes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unable_to_Change_Status_Screen</name>
        <label>Unable to Change Status Screen</label>
        <locationX>561</locationX>
        <locationY>436</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Unable_To_Change_Status_Message</name>
            <fieldText>&lt;p&gt;The status of this service appointment is unable to be changed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Line_Items_are_marked_Cannot_Complete</name>
        <label>Work Order Line Items are marked Cannot Complete</label>
        <locationX>1133</locationX>
        <locationY>2435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_WOLI_Vehicles</targetReference>
        </connector>
        <fields>
            <name>One_or_more_WOLIs_marked_Cannot_Complete</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;1 or more Work Order Line Items are marked Cannot Complete.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Completed_or_Cannot_Complete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inProgressAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>NextStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceTerritory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>tsestatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get Work Order fields</description>
        <name>var_GetWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
