flows/New_Title_QC_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1045</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>varProblem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_singleProblem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ProblemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProblem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProblemTextAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding to variable a Single subset that is not a duplicate to add to Case record</description>
        <name>assign_AddSubsetProblem</name>
        <label>assign AddSubsetProblem</label>
        <locationX>3139</locationX>
        <locationY>603</locationY>
        <assignmentItems>
            <assignToReference>var_CaseProblemSubset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_Subset_To_Add</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseProblemSubset</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSubset_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Details</name>
        <label>Assign Other Details</label>
        <locationX>1290</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>varOtherDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSellerAssistanceNeeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Seller_assistance_needed_to_resolve_problem_s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateQC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If it&apos;s missing from Original or if it&apos;s a problem</description>
        <name>Assign_Other_Details_Problem</name>
        <label>Assign Other Details</label>
        <locationX>779</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>varOtherDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Details3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QCPI_Assign_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QC_to_QCPI</name>
        <label>Assign QC to QCPI</label>
        <locationX>1954</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>AssignQCLookUp.Quality_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjQCRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_QCPI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>need to add QCPI to its own collection to store and then assign QC record</description>
        <name>Assign_QCPI_to_Collection</name>
        <label>Assign QCPI to Collection</label>
        <locationX>1983</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>QCPIStorage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignQCLookUp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignQCLookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QCIssueText</name>
        <label>QCIssueText</label>
        <locationX>1297</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>var_FullProblemText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quality_Control_Issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FullProblemText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Problem_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QCPI_Assign</name>
        <label>QCPI Assign</label>
        <locationX>1183</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>SingleQCPI.Problem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QCPI_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQCPI.Title_Problem_Subset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Title_Problem_Subset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQCPI.Other_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsetFullforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Title_Problem_Subset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsetFullforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QCPIAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QCPI_Assign_0</name>
        <label>QCPI Assign</label>
        <locationX>779</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>SingleQCPI.Problem__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QCPI_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQCPI.Other_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsetFullforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Title_Problem_Subset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubsetFullforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQCPI.Title_Problem_Subset__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>QCPIAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QCPIAssigned</name>
        <label>QCPIAssigned</label>
        <locationX>1575</locationX>
        <locationY>1456</locationY>
        <assignmentItems>
            <assignToReference>QCPICollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleQCPI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProblemUpdateforCase</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_Problem_to_Add_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QCPI_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateProblemTextAssignment</name>
        <label>UpdateProblemText</label>
        <locationX>1205</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>var_FullProblemText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_UpdateProblemText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Problem_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSubset_Case</name>
        <label>UpdateSubset CAse</label>
        <locationX>2856</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>SubsetFullforCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdateSubsetFull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subset_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateSubsetAndProblem</name>
        <label>UpdateSubsetAndProblem</label>
        <locationX>2412</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>var_CaseProblemSubset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase.Title_Problem_Subset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseUpdateProblemText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase.Title_Problem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseUpdateProblemText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_TitleProblemNotNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CaseUpdateProblemText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varProblemUpdateforCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCustomSetting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WorkingProblemText</name>
        <label>WorkingProblemText</label>
        <locationX>905</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>var_FullProblemText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProblemsCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FullProblemText</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Problem_Text</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Buyer_SellerInfoIncomplete_Incorrect</name>
        <choiceText>Buyer/Seller Info Incomplete/Incorrect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer/Seller Info Incomplete/Incorrect</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_BuyerRequestedDuplicate</name>
        <choiceText>Buyer Requested Duplicate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Buyer Requested Duplicate</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Problem_choice</name>
        <choiceText>Problem</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Problem</stringValue>
        </value>
    </choices>
    <choices>
        <name>DamagedTitle</name>
        <choiceText>Damaged Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damaged Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>FiledIncorrectly</name>
        <choiceText>Filed Incorrectly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Filed Incorrectly</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncompleteVehicleInfo</name>
        <choiceText>Incomplete Vehicle Info</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incomplete Vehicle Info</stringValue>
        </value>
    </choices>
    <choices>
        <name>IncorrectVehicleInformationonTitle</name>
        <choiceText>Incorrect Vehicle Information on Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Vehicle Information on Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>ListingError</name>
        <choiceText>Listing Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Listing Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>MissedAGTSignature</name>
        <choiceText>Missed AGT Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missed AGT Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>MissingDocuments</name>
        <choiceText>Missing Document(s)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Document(s)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MissingNotary</name>
        <choiceText>Missing Notary</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Notary</stringValue>
        </value>
    </choices>
    <choices>
        <name>MissingSignature</name>
        <choiceText>Missing Signature</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Missing Signature</stringValue>
        </value>
    </choices>
    <choices>
        <name>MoreRecentlyIssuedTitle</name>
        <choiceText>More Recently Issued Title</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More Recently Issued Title</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_InHouse</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ODOM_Date</name>
        <choiceText>ODOM/Date</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ODOM/Date</stringValue>
        </value>
    </choices>
    <choices>
        <name>OdometerDiscrepancy</name>
        <choiceText>Odometer Discrepancy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Odometer Discrepancy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReassignedtoWrongPurchaser</name>
        <choiceText>Reassigned to Wrong Purchaser</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassigned to Wrong Purchaser</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReassignmentError</name>
        <choiceText>Reassignment Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassignment Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReturntoSeller</name>
        <choiceText>Return to Seller</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return to Seller</stringValue>
        </value>
    </choices>
    <choices>
        <name>Write_Overs</name>
        <choiceText>Write-Overs</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Write-Overs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_InHouse</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_Case_if_Problem</name>
        <label>Check Case if Problem</label>
        <locationX>2188</locationX>
        <locationY>690</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProblem_Dec</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateQCPI</targetReference>
            </connector>
            <label>IsProblem</label>
        </rules>
        <rules>
            <name>IsNotProblem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQCPIResolved</targetReference>
            </connector>
            <label>IsNotProblem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_if_Problem_0</name>
        <label>Check Case if Problem</label>
        <locationX>1574</locationX>
        <locationY>529</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProblem_Dec_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateProblemQC_0_0</targetReference>
            </connector>
            <label>IsProblem</label>
        </rules>
        <rules>
            <name>IsNotProblem_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignQCLookUp</targetReference>
            </connector>
            <label>IsNotProblem</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Problem_Text</name>
        <label>Check Problem Text</label>
        <locationX>1084</locationX>
        <locationY>709</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FullProblemText</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>QCPI_Loop</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Manual loop through Subsets to assign to add to case if they don&apos;t already exist on the case</description>
        <name>Check_Subset_Text</name>
        <label>Check Subset Text</label>
        <locationX>2637</locationX>
        <locationY>540</locationY>
        <defaultConnector>
            <targetReference>assign_AddSubsetProblem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null_Subset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubsetFullforCase</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateSubsetAndProblem</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_QC_Already_Exist</name>
        <label>Does a QC Already Exist</label>
        <locationX>601</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Title_Problem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QC_Already_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase.QC_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_Already_Recorded_for_this_Case</targetReference>
            </connector>
            <label>QC Already Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>if all issues can be solved in house the flow will carry out the Add QC Flow, if not it will take them to report a problem.</description>
        <name>Is_Seller_Needed_to_resolve</name>
        <label>Is Seller Needed to resolve</label>
        <locationX>351</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Does_a_QC_Already_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SellerNeeded</defaultConnectorLabel>
        <rules>
            <name>SellerNotNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QC_Records</targetReference>
            </connector>
            <label>SellerNotNeeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_QC_Record_Already</name>
        <label>Is there a QC Record Already</label>
        <locationX>902</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>New_Quality_Control</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_QCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QC_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QC_Record_Exists_Already</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks to see if the running user is a titles or title manager profile.</description>
        <name>IsTitlesUser</name>
        <label>IsTitlesUser</label>
        <locationX>2259</locationX>
        <locationY>1369</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Titles</defaultConnectorLabel>
        <rules>
            <name>I</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e0a000000chnu</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e0a000000chnz</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Title_User</targetReference>
            </connector>
            <label>User is Titles</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProblemorQC</name>
        <label>ProblemorQC</label>
        <locationX>1060</locationX>
        <locationY>1162</locationY>
        <defaultConnector>
            <targetReference>QCPI_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Problem_Other</name>
            <conditionLogic>1 AND(2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>QCPI_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Problem_Other_screen</targetReference>
            </connector>
            <label>Problem Other</label>
        </rules>
        <rules>
            <name>ProblemNotOther</name>
            <conditionLogic>1 and (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>QCPI_Loop</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSellerNeeded</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Problem_Subsets</targetReference>
            </connector>
            <label>ProblemNotOther</label>
        </rules>
        <rules>
            <name>QC_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QCPI_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Details</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QCPI_Assign</targetReference>
            </connector>
            <label>QC Other with Details</label>
        </rules>
        <rules>
            <name>QC_Other_no_Details</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QCPI_Loop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provide_Other_Details</targetReference>
            </connector>
            <label>QC Other no Details</label>
        </rules>
    </decisions>
    <description>Added decision to avoid duplicate creation of QC wen seller assistance is no</description>
    <dynamicChoiceSets>
        <name>CanBeSolvedInHouse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Can_be_solved_in_house__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Dependents</name>
        <dataType>String</dataType>
        <displayField>Dependent_Field_Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Controlling_Field_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QCPI_Loop</elementReference>
            </value>
        </filters>
        <filters>
            <field>Controlling_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Problem__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title_Problem_Subset__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QC_Problem_Identified__c</stringValue>
            </value>
        </filters>
        <object>Dependent_Picklist__mdt</object>
        <valueField>Dependent_Field_Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IsSellerNeeded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seller_Assistance_Needed__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IssueChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue__c</picklistField>
        <picklistObject>Quality_Control__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TitlesTeam</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e0a000000chnuAAA</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varCausedErrorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <description>Determines if Missed Error/Clerk should be filled in</description>
        <name>form_MissedErrorUser</name>
        <dataType>String</dataType>
        <expression>IF( {!formProblemRecordType} = &apos;01I5b000001ln5Y&apos;, &apos;&apos;, {!TitleCler})</expression>
    </formulas>
    <formulas>
        <description>Determining if Problem is already on case to avoid duplicate entries on Case record</description>
        <name>form_Problem_to_Add_Case</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!var_ExistingCaseProblem}, {!QCPI_Loop}), NULL, {!QCPI_Loop} + &apos;;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Separating single Problem from multiselect picklist to create records and assign subsets</description>
        <name>form_singleProblem</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!var_FullProblemText},FIND(&quot;;&quot;,{!var_FullProblemText})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Splitting up Problem Subsets to identify whether or not to add to case</description>
        <name>form_SingleSubset</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!SubsetFullforCase},FIND(&quot;;&quot;,{!SubsetFullforCase})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Determining if Subset is a duplicate already on Case record</description>
        <name>form_Subset_To_Add</name>
        <dataType>String</dataType>
        <expression>IF( CONTAINS({!var_OriginalCaseProblemSubset}, {!form_SingleSubset}), NULL, {!form_SingleSubset})</expression>
    </formulas>
    <formulas>
        <name>form_TitleProblemNotNull</name>
        <dataType>String</dataType>
        <expression>IF(NOT( ISBLANK( {!GetCase.Title_Problem__c} )),&quot;;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Removing the Single Problem from text for iteration through list</description>
        <name>form_UpdateProblemText</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!var_FullProblemText},{!form_singleProblem}+ &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <description>Fix</description>
        <name>formOtherDetails</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Other_Details})),{!Other_Details},{!Other_Details2})</expression>
    </formulas>
    <formulas>
        <description>Deciding QC Object Record type</description>
        <name>formProblemRecordType</name>
        <dataType>String</dataType>
        <expression>IF( OR( AND(ISPICKVAL({!GetCase.Status}, &apos;Working&apos;),{!GetCase.Title_Received_Date__c} != TODAY()), AND( ISPICKVAL({!GetCase.Status}, &apos;Received&apos;),{!GetCase.Title_Received_Date__c} != TODAY())), &apos;0125b000000vu9XAAQ&apos;,

IF( OR( AND(ISPICKVAL({!GetCase.Status}, &apos;Working&apos;),{!GetCase.Title_Received_Date__c} = TODAY()), AND( ISPICKVAL({!GetCase.Status}, &apos;Received&apos;),{!GetCase.Title_Received_Date__c} = TODAY())), &apos;0125b000000nD5yAAE&apos;,

IF( ISPICKVAL({!GetCase.Status}, &apos;New&apos;), &apos;0125b000000nD5yAAE&apos;,
IF( ISPICKVAL({!GetCase.Status}, &apos;Problem&apos;), &apos;0125b000000vuEwAAI&apos;,
IF(AND(ISPICKVAL({!GetCase.Status}, &apos;48 Hour Notice&apos;),{!GetCase.Title_Received_Date__c} = TODAY()), &apos;0125b000000nD5yAAE&apos;, 

IF(AND(ISPICKVAL({!GetCase.Status}, &apos;48 Hour Notice&apos;),ISBLANK({!GetCase.Title_Received_Date__c})), &apos;0125b000000nD5yAAE&apos;,

IF(AND(ISPICKVAL({!GetCase.Status}, &apos;48 Hour Notice&apos;),{!GetCase.Title_Received_Date__c} &gt; TODAY()), &apos;0125b000000vu9WAAQ&apos;,



       IF( AND(  ISPICKVAL({!GetCase.Status}, &apos;SENT&apos;), {!GetCase.Title_Sent_Date__c} = TODAY()), &apos;0125b000000vu9YAAQ&apos;,
         &apos;0125b000000vu9WAAQ&apos;))))))))</expression>
    </formulas>
    <formulas>
        <name>SubsetNotNull</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!GetCase.Title_Problem_Subset__c})), &quot;;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>UpdateSubsetFull</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SubsetFullforCase},{!form_SingleSubset} + &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>New Title QC Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Title QC Flow</label>
    <loops>
        <description>Through all problem identified records and populating the QC lookup field on them</description>
        <name>AssignQCLookUp</name>
        <label>AssignQCLookUp</label>
        <locationX>1762</locationX>
        <locationY>228</locationY>
        <collectionReference>QCPICollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QC_to_QCPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateQCPI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QCPI_Loop</name>
        <label>QCPI Loop</label>
        <locationX>1588</locationX>
        <locationY>724</locationY>
        <collectionReference>col_ProblemCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProblemorQC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Case_if_Problem_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateProblemQC_0_0</name>
        <label>CreateProblemQC</label>
        <locationX>1716</locationX>
        <locationY>526</locationY>
        <assignRecordIdToReference>sobjQCRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>QCStatus_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_QC_Records_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caught_Error__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caused_Missed_Error__c</field>
            <value>
                <elementReference>TitleCler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>ProblemsCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCase.Seller_Dealership__r.Title_Specialist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formProblemRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Assistance_Needed__c</field>
            <value>
                <elementReference>Is_Seller_assistance_needed_to_resolve_problem_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Scanner__c</field>
            <value>
                <elementReference>GetCase.Title_Scanner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quality_Control__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQC</name>
        <label>CreateQC</label>
        <locationX>1386</locationX>
        <locationY>400</locationY>
        <assignRecordIdToReference>sobjQCRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>QCIssueText</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_QC_Records_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caught_Error__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caused_Missed_Error__c</field>
            <value>
                <elementReference>TitleCler</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>Quality_Control_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Details__c</field>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>formProblemRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Assistance_Needed__c</field>
            <value>
                <elementReference>Is_Seller_assistance_needed_to_resolve_problem_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Scanner__c</field>
            <value>
                <elementReference>GetCase.Title_Scanner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quality_Control__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateQCPI</name>
        <label>CreateQCPI</label>
        <locationX>2072</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>UpdateQC</targetReference>
        </connector>
        <inputReference>QCPIStorage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_QC_Records</name>
        <label>Get QC Records</label>
        <locationX>742</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_QC_Record_Already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125b000000nD5yAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>176</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFieldHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFieldHistory</name>
        <label>GetFieldHistory</label>
        <locationX>176</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTitleClerkName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <object>Field_History__c</object>
        <outputAssignments>
            <assignToReference>sobj_FieldHistId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TitleCler</assignToReference>
            <field>User__c</field>
        </outputAssignments>
        <sortField>Created_DateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetTitleClerkName</name>
        <label>GetTitleClerkName</label>
        <locationX>177</locationX>
        <locationY>589</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seller_Assistance_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TitleCler</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>when the flow fails roll back the QC Records</description>
        <name>Roll_back_QC_Records_0</name>
        <label>Roll back QC Records</label>
        <locationX>1531</locationX>
        <locationY>165</locationY>
        <connector>
            <targetReference>Fault_Message_0</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <description>Sets initial status of a &quot;Report a problem&quot; QC to Open</description>
        <name>QCStatus_0_0</name>
        <label>QCStatus</label>
        <locationX>1836</locationX>
        <locationY>525</locationY>
        <connector>
            <targetReference>AssignQCLookUp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQCRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Quality_Control__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2252</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>update_DeactivateSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Case_Status_scr_ch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Problem_Subset__c</field>
            <value>
                <elementReference>var_CaseProblemSubset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Problem__c</field>
            <value>
                <elementReference>var_CaseUpdateProblemText</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Title_User</name>
        <label>Update Case Title User</label>
        <locationX>1975</locationX>
        <locationY>1373</locationY>
        <connector>
            <targetReference>update_DeactivateSetting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Problem_Subset__c</field>
            <value>
                <elementReference>var_CaseProblemSubset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Problem__c</field>
            <value>
                <elementReference>var_CaseUpdateProblemText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <elementReference>Case_Status_scr_ch</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Turn off custom setting that allows the temporary update of Case Status

May go away with Update Status Process</description>
        <name>update_DeactivateSetting</name>
        <label>DeactivateSetting</label>
        <locationX>1975</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>QC_Successfully_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>DisableValidation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TitleProblemStatus__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCustomSetting</name>
        <label>UpdateCustomSetting</label>
        <locationX>2412</locationX>
        <locationY>1169</locationY>
        <connector>
            <targetReference>IsTitlesUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EasyName__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ACVOrg</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>DisableValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TitleProblemStatus__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQC</name>
        <label>UpdateQC</label>
        <locationX>2194</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Check_Case_if_Problem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQCRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Other_Details__c</field>
            <value>
                <elementReference>varOtherDetails</elementReference>
            </value>
        </inputAssignments>
        <object>Quality_Control__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQCPI</name>
        <label>UpdateQCPI</label>
        <locationX>2323</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Check_Subset_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQCRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Unresolved</stringValue>
            </value>
        </inputAssignments>
        <object>QC_Problem_Identified__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQCPIResolved</name>
        <label>UpdateQCPIResolved</label>
        <locationX>2007</locationX>
        <locationY>835</locationY>
        <connector>
            <targetReference>QC_Successfully_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjQCRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>QC_Problem_Identified__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>if the flow does not finish this screen will provide an error</description>
        <name>Fault_Message_0</name>
        <label>Fault Message</label>
        <locationX>1529</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fail_Message_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oops....It looks like something went wrong.  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please try again  and contact your Salesforce Administrator if the issue continues.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Quality_Control</name>
        <label>New Quality Control</label>
        <locationX>1134</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_Details</targetReference>
        </connector>
        <fields>
            <name>Quality_Control_Issue</name>
            <choiceReferences>IncorrectVehicleInformationonTitle</choiceReferences>
            <choiceReferences>OdometerDiscrepancy</choiceReferences>
            <choiceReferences>MissingSignature</choiceReferences>
            <choiceReferences>MissingNotary</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quality Control Issue</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Details</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOtherDetails</elementReference>
            </defaultValue>
            <fieldText>Other Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Quality_Control_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Quality_Control_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CausedDisplay</name>
                    <fieldText>&lt;p&gt;Caused/Missed Error:&lt;/p&gt;&lt;p&gt;{!GetTitleClerkName.Full_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CaughtDisplay</name>
                    <fieldText>&lt;p&gt;Caught Error:&lt;/p&gt;&lt;p&gt;{!$User.Full_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Problem_Already_Recorded_for_this_Case</name>
        <label>Problem Already Recorded for this Case</label>
        <locationX>748</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Title_Problem</targetReference>
        </connector>
        <fields>
            <name>Problem_Already_Reported</name>
            <fieldText>&lt;p&gt;A problem has already been reported on this case.  Before entering a new one, please review existing records. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Problem_Other_screen</name>
        <label>Problem - Other</label>
        <locationX>779</locationX>
        <locationY>1151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Other_Details_Problem</targetReference>
        </connector>
        <fields>
            <name>OtherLavel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;{!QCPI_Loop}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Details3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOtherDetails</elementReference>
            </defaultValue>
            <fieldText>Other Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Problem_Subsets</name>
        <label>Problem Subsets</label>
        <locationX>959</locationX>
        <locationY>1303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QCPI_Assign</targetReference>
        </connector>
        <fields>
            <name>ProblemLavel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!QCPI_Loop}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Title_Problem_Subset</name>
            <choiceReferences>Dependents</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Blank</elementReference>
            </defaultValue>
            <fieldText>Title Problem Subset</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Provide_Other_Details</name>
        <label>Provide Other Details</label>
        <locationX>1449</locationX>
        <locationY>1222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QCPI_Assign</targetReference>
        </connector>
        <fields>
            <name>OtherMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 28, 28);&quot;&gt;On the last screen you had selected &apos;Other&apos; and didn&apos;t provide the other details. Either fill them out here or go back deselect Other&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Details2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varOtherDetails</elementReference>
            </defaultValue>
            <fieldText>Other Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QC_Record_Exists_Already</name>
        <label>QC Record Exists Already</label>
        <locationX>914</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QCRecordExistsText</name>
            <fieldText>&lt;p&gt;A Quality Control record already exists for this case. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Get_QC_Records.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QC_Successfully_Created</name>
        <label>QC Successfully Created</label>
        <locationX>1975</locationX>
        <locationY>1032</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QCRecordCreated</name>
            <fieldText>&lt;p&gt;Your title problems have been successfully recorded.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Seller_Assistance_Needed</name>
        <label>Seller Assistance Needed?</label>
        <locationX>358</locationX>
        <locationY>589</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Seller_Needed_to_resolve</targetReference>
        </connector>
        <fields>
            <name>Is_Seller_assistance_needed_to_resolve_problem_s</name>
            <choiceReferences>IsSellerNeeded</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Seller assistance needed to resolve problem(s)?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Title_Problem</name>
        <label>Title Problem</label>
        <locationX>452</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WorkingProblemText</targetReference>
        </connector>
        <fields>
            <name>Case_Status_scr_ch</name>
            <choiceReferences>ch_Problem_choice</choiceReferences>
            <choiceReferences>ReturntoSeller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProblemsCheckbox</name>
            <choiceReferences>IncorrectVehicleInformationonTitle</choiceReferences>
            <choiceReferences>OdometerDiscrepancy</choiceReferences>
            <choiceReferences>MissingSignature</choiceReferences>
            <choiceReferences>ReassignmentError</choiceReferences>
            <choiceReferences>MissingNotary</choiceReferences>
            <choiceReferences>Write_Overs</choiceReferences>
            <choiceReferences>ReassignedtoWrongPurchaser</choiceReferences>
            <choiceReferences>MissingDocuments</choiceReferences>
            <choiceReferences>DamagedTitle</choiceReferences>
            <choiceReferences>ListingError</choiceReferences>
            <choiceReferences>MoreRecentlyIssuedTitle</choiceReferences>
            <choiceReferences>ch_BuyerRequestedDuplicate</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Problem</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>128</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>TestTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Hello, &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-family: Arial, sans-serif;&quot;&gt;Our office has identified a problem(s) with the title paperwork for {!GetCase.Vehicle_Year_Make_Model__c} {!GetCase.Vehicle_VIN_Last_6__c}, sold on {!GetCase.Auction_End__c}. The problem(s) is as follows:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;{!GetCase.Title_Problem_Subset__c}; {!GetCase.Details__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(34, 34, 34); font-family: Arial; font-size: 12pt;&quot;&gt;Please note that ACV will be unable to remit payment on the above-referenced auction until this issue is resolved and we have a transferable title. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-size: 12pt; font-family: Roboto, sans-serif;&quot;&gt;To resolve this issue please reach out to ACV Specialist,&lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt; {!GetCase.Owner:User.Full_Name__c} - &lt;/span&gt;&lt;span style=&quot;color: rgb(32, 33, 36); font-family: Roboto, sans-serif; font-size: 12pt;&quot;&gt;at your earliest convenience.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Thank you,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial, sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;Titles Team&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(32, 33, 36); font-family: Arial, sans-serif;&quot;&gt;ACV Auctions&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(8, 7, 7); font-family: Arial, sans-serif;&quot;&gt;716-796-6976&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Blank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Divided picklist to Collection to create associated Subsets</description>
        <name>col_ProblemCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSellerAssistanceNeeded</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QCPICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <description>QCPI records need to be stored in this collection to be able to assign the QC record ID</description>
        <name>QCPIStorage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the QC record information before the record is actually created</description>
        <name>SingleQC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>SingleQCPI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <name>sobj_FieldHistId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjQCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>SubsetFullforCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TitleCler</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Deduped variable Subset list to add to the Case record</description>
        <name>var_CaseProblemSubset</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Taking the deduped list to add to Case problems</description>
        <name>var_CaseUpdateProblemText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to use for finding duplicated problems. Defaults here from the Case</description>
        <name>var_ExistingCaseProblem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetCase.Title_Problem__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Current Case subsets to use to avoid adding duplicates</description>
        <name>var_ExistingCaseProblemSubset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetCase.Title_Problem_Subset__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>From Screens multiselect to utilize on creating QC Problem Identified records</description>
        <name>var_FullProblemText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Original Problem Subsets from Case record to find duplicates. Defaulted here</description>
        <name>var_OriginalCaseProblemSubset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetCase.Title_Problem_Subset__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Originated from Problem flow for Add Problem button to diverge this flow from regular QC record</description>
        <name>var_Problem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCanBeSolvedInHouse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User believed based on timing to have Caused the error</description>
        <name>varCausedErrorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOtherDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProblem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProblemUpdateforCase</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubsetCombined</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
