flows/NewTitleArbCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsThereAlreadyCase</name>
        <label>IsThereAlreadyCase</label>
        <locationX>830</locationX>
        <locationY>203</locationY>
        <defaultConnector>
            <targetReference>CheckBoxToConfirmCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCaseID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupUser</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <interviewLabel>NewTitleArbCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewTitleArbCase</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateChildCase</name>
        <label>CreateChildCase</label>
        <locationX>1209</locationX>
        <locationY>205</locationY>
        <assignRecordIdToReference>ChildCase</assignRecordIdToReference>
        <connector>
            <targetReference>childCaseNumber1</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>caseinfo.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitration_Extension_Reason__c</field>
            <value>
                <elementReference>Please_Enter_Arbitration_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auction_Number__c</field>
            <value>
                <elementReference>caseinfo.Auction_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>caseinfo.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseTitleRecordTypeInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Dealership__c</field>
            <value>
                <elementReference>caseinfo.Seller_Dealership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>caseinfo.Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>childCaseNumber1</name>
        <label>childCaseNumber</label>
        <locationX>1361</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplyConfimation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildCase</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ChildCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupArbRecordTypeID</name>
        <label>LookupArbRecordTypeID</label>
        <locationX>303</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupAuctionNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Arbitration_Claim</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CaseTitleRecordTypeInfo</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupAuctionNumber</name>
        <label>LookupAuctionNumber</label>
        <locationX>435</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupVehicleInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseinfo.Auction_Number__c</elementReference>
            </value>
        </filters>
        <object>Auction__c</object>
        <outputAssignments>
            <assignToReference>AuctionNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VehicleID</assignToReference>
            <field>vehicle_id__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpcaseRecord</name>
        <label>LookUpcaseRecord</label>
        <locationX>165</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupArbRecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseinfo</outputReference>
        <queriedFields>Auction_Number__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Seller_Dealership__c</queriedFields>
        <queriedFields>Vehicle__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lOOKUPcQASE</name>
        <label>lOOKUPcQASE</label>
        <locationX>699</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsThereAlreadyCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseTitleRecordTypeInfo.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseNumber1</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CurrentCaseID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OwnerID1</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupUser</name>
        <label>LookupUser</label>
        <locationX>835</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBoxToConfirmCase_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OwnerID1</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ownerEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>owneFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ownerLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupVehicleInfo</name>
        <label>LookupVehicleInfo</label>
        <locationX>567</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lOOKUPcQASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleID</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputReference>vehicleInformation</outputReference>
        <queriedFields>make__c</queriedFields>
        <queriedFields>model__c</queriedFields>
        <queriedFields>Year__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>odometer__c</queriedFields>
    </recordLookups>
    <screens>
        <name>CheckBoxToConfirmCase</name>
        <label>CheckBoxToConfirmCase</label>
        <locationX>1050</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateChildCase</targetReference>
        </connector>
        <fields>
            <name>confirm</name>
            <fieldText>Please confirm that you are creating a titles arbitration claim with the following information:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vehicle</name>
            <fieldText>Vehicle VIN: {!vehicleInformation.Name}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ParentCase</name>
            <fieldText>Parent Title Case Number: {!caseinfo.CaseNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>auct</name>
            <fieldText>Auction Number: {!AuctionNumber}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Enter_Arbitration_Reason</name>
            <dataType>String</dataType>
            <fieldText>Please Enter Arbitration Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CheckBoxToConfirmCase_0</name>
        <label>CheckBoxToConfirmCase</label>
        <locationX>838</locationX>
        <locationY>415</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ArbtrationCaseAlreadyExist</name>
            <fieldText>An Arbitration case already exist for this Auction. Please contact the following Case Owner:

Arbitration Case Number: {!CaseNumber1}
Owner: {!owneFirstName} {!ownerLastName}
Owner Email: {!ownerEmail}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplyConfimation</name>
        <label>DisplyConfimation</label>
        <locationX>1536</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewChildCase</name>
            <fieldText>A new Titles Arbitration case has been successfully created, your case number is {!ChildCaseNumber}. This case is related to the Titles Case number {!caseinfo.CaseNumber}.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookUpcaseRecord</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AuctionNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AuctionRecordLookedUp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>BuyerInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>caseinfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseNumber1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseTitleRecordTypeInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ChildCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChildCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CurrentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentCaseInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ExistTitleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IDofInitialTransportRecordLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>owneFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>owner Email of the existing Arb Case</description>
        <name>ownerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerID1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ownerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SellerContactInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TitleCaseRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>VehicleVin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Waste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
