flows/Opportunity_A_Team_Member_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_A_Team_member_upon_Opportunity_Assignment</name>
        <label>Notify A-Team member upon Opportunity Assignment</label>
        <locationX>270</locationX>
        <locationY>1847</locationY>
        <actionName>Opportunity.Notify_A_Team_member_upon_Opportunity_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Prepare_Recipients_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Bell_Notification</name>
        <label>Send Bell Notification</label>
        <locationX>270</locationX>
        <locationY>2207</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Loop_Group_Members_For_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_Custom_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>{!BellNotificationHeader} Please click here to go to the Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>BellNotificationHeader</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipientsList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Ass_CurrGroupMemberCount</name>
        <label>Ass_CurrGroupMemberCount</label>
        <locationX>402</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Curr_GroupMemberRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GroupMemberCount_ModulusValueMatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ass_GroupMemberCount</name>
        <label>Ass_GroupMemberCount</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>CountofGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_Member_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Recipients_List</name>
        <label>Prepare Recipients List</label>
        <locationX>270</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipientsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Group_Members_For_Assignment.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Custom_Notification_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GroupMemberCount_ModulusValueMatch</name>
        <label>GroupMemberCount ModulusValueMatch</label>
        <locationX>402</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>Loop_Group_Members_For_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GroupMemberCount_ModulusValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Curr_GroupMemberRecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True360_Modulus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_A_Team_Member_to_Opportunity</targetReference>
            </connector>
            <label>GroupMemberCount=ModulusValue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Exists</name>
        <label>Record Exists?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_Opp_Rec_Counter_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Does not exist</defaultConnectorLabel>
        <rules>
            <name>Record_Exists_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_RecCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Record_Count</targetReference>
            </connector>
            <label>Record Exists</label>
        </rules>
    </decisions>
    <formulas>
        <name>BellNotificationHeader</name>
        <dataType>String</dataType>
        <expression>{!$Record.RecordType.Name} + &apos;Opportunity :&apos; + {!$Record.Name} + &apos; has been assigned to you&apos;</expression>
    </formulas>
    <formulas>
        <name>RecCountIncrement</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL({!Var_RecCount}) , 1 , {!Var_RecCount}+1 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>True360_Modulus</name>
        <dataType>Number</dataType>
        <expression>MOD( {!RecCountIncrement} , {!CountofGroupMembers} ) +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity A-Team Member Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity A-Team Member Assignment</label>
    <loops>
        <name>Loop_Group_Member_Counter</name>
        <label>Loop group member counter</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <collectionReference>Fetch_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_GroupMemberCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Group_Members_For_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Group_Members_For_Assignment</name>
        <label>Loop_Group_Members_For_Assignment</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <collectionReference>Fetch_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_CurrGroupMemberCount</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opp_Rec_Counter_Record</name>
        <label>Create Opp Rec Counter Record</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Fetch_True360_Public_Group_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Name__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Round_Robin_Record_Counter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Custom_Notification_Record</name>
        <label>Fetch Custom Notification Record</label>
        <locationX>270</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Bell_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notify_ATeam_member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Group_Members</name>
        <label>Fetch Group Members</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Member_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_True360PublicGroupID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Opp_Record_Counts</name>
        <label>Fetch Opp Record Counts</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <object>Round_Robin_Record_Counter__c</object>
        <outputAssignments>
            <assignToReference>Var_OppRecCountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RecCount</assignToReference>
            <field>Record_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Fetch_True360_Public_Group_ID</name>
        <label>Fetch True360 Public Group ID</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True360_A_Team</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>Var_True360PublicGroupID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Assign_A_Team_Member_to_Opportunity</name>
        <label>Assign A-Team Member to Opportunity</label>
        <locationX>270</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Notify_A_Team_member_upon_Opportunity_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>A_Team_Member__c</field>
            <value>
                <elementReference>Loop_Group_Members_For_Assignment.UserOrGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Increment_Record_Count</name>
        <label>Increment Record Count</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Fetch_True360_Public_Group_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppRecCountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Record_Count__c</field>
            <value>
                <elementReference>RecCountIncrement</elementReference>
            </value>
        </inputAssignments>
        <object>Round_Robin_Record_Counter__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Opp_Record_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>A_Team_Member__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordType_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>True360Opportunity</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CountofGroupMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Curr_GroupMemberRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotificationRecipientsList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OppRecCountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_RecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Var_True360PublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
