flows/Populate_Seller_Contact_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Seller_Email</name>
        <label>Assign Seller Email</label>
        <locationX>343</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>varSellerContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Seller_Dealership__r.Primary_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateCaseWithSellerInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Email_0</name>
        <label>Assign Seller Email</label>
        <locationX>635</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>varSellerContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EqualsNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateCaseWithSellerInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Something</name>
        <label>Seller and Primary Contact not Blank or Changed</label>
        <locationX>172</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Blank_or_Changed</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 2 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__r.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__r.Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120a000000PVnkAAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Contact_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Seller_Dealership__r.Primary_Contact__r.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_Email</targetReference>
            </connector>
            <label>Not Blank or Changed</label>
        </rules>
        <rules>
            <name>If_Blank</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__r.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_Dealership__r.Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120a000000PVnkAAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_Email_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>If Blank</label>
        </rules>
    </decisions>
    <description>Added record type condition to isblank path  -needed it to be AND not or</description>
    <formulas>
        <name>EqualsNull</name>
        <dataType>String</dataType>
        <expression>Null</expression>
    </formulas>
    <interviewLabel>Populate Seller Contact Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Seller Contact Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PopulateCaseWithSellerInfo</name>
        <label>PopulateCaseWithSellerInfo</label>
        <locationX>348</locationX>
        <locationY>525</locationY>
        <inputAssignments>
            <field>Seller_Contact_Email__c</field>
            <value>
                <elementReference>varSellerContactEmail</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Something</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varSellerContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
