flows/postedPriceFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <formulas>
        <name>TimeAdjusted1</name>
        <dataType>Number</dataType>
        <expression>value({!timesAdjusted})+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdatePostedPrice</name>
        <dataType>Currency</dataType>
        <expression>(value({!metaDataInfo})/100+1)*value({!postedPrice123})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>postedPriceFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>postedPriceFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupMetaData</name>
        <label>lookupMetaData</label>
        <locationX>108</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookupNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted_Price_Adjust</stringValue>
            </value>
        </filters>
        <object>Transport_Pricing__mdt</object>
        <outputAssignments>
            <assignToReference>metaDataInfo</assignToReference>
            <field>Percent_Adjustment__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookupNumber</name>
        <label>lookupNumber</label>
        <locationX>251</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePostedPrice1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>postedPrice123</assignToReference>
            <field>Posted_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>timesAdjusted</assignToReference>
            <field>Times_Price_Adjusted__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePostedPrice1</name>
        <label>UpdatePostedPrice</label>
        <locationX>417</locationX>
        <locationY>285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Posted_Price__c</field>
            <value>
                <elementReference>UpdatePostedPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Times_Price_Adjusted__c</field>
            <value>
                <elementReference>TimeAdjusted1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>lookupMetaData</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>metaDataInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postedPrice123</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timesAdjusted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
