flows/Pricing_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Already_Active_Rec</name>
        <label>Already Active Rec?</label>
        <locationX>671</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Screen_1_Enter_Pricing_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>recYep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarVehicle.Count_of_Active_Pricing_Recommendations__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Yep</label>
        </rules>
    </decisions>
    <decisions>
        <name>Already_Active_Recommendation</name>
        <label>Already Active Recommendation</label>
        <locationX>668</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Screen_2_Enter_Pricing_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarVehicle.Count_of_Active_Pricing_Recommendations__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auction_Populated</name>
        <label>Is Auction Populated</label>
        <locationX>373</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>Auction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If Yes</defaultConnectorLabel>
        <rules>
            <name>If_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>svarCondRept.ACV_Auction_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Active_Recommendation</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <description>Flow now lives on Condition Report instead of Auction.</description>
    <dynamicChoiceSets>
        <name>pricingReasons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pricing_Reason__c</picklistField>
        <picklistObject>Recommended_Price__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>The user currently using the flow.</description>
        <name>currentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>expiredDate</name>
        <dataType>DateTime</dataType>
        <expression>{!svarVehicle.Most_Recent_Price_Recommendation_Date__c} + 30</expression>
    </formulas>
    <formulas>
        <name>recPrieceExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 30</expression>
    </formulas>
    <interviewLabel>Pricing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recommend a Price!</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rec_Price</name>
        <label>Create Rec Price</label>
        <locationX>854</locationX>
        <locationY>652</locationY>
        <assignRecordIdToReference>varRecPrice</assignRecordIdToReference>
        <connector>
            <targetReference>updateCR1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Auction_Where_Vehicle_Launched__c</field>
            <value>
                <elementReference>svarAuction.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Condition_Report__c</field>
            <value>
                <elementReference>svarCondRept.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>recPrieceExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Notes_to_Seller__c</field>
            <value>
                <elementReference>Notes_to_Seller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Notes__c</field>
            <value>
                <elementReference>Internal_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Ceiling__c</field>
            <value>
                <elementReference>Ceiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Floor__c</field>
            <value>
                <elementReference>Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Runs_When_Priced__c</field>
            <value>
                <elementReference>svarVehicle.Recent_Seller_s_Failed_Runs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saved_Auction_Id__c</field>
            <value>
                <elementReference>svarCondRept.ACV_Saved_Auction_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>svarVehicle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Recommended_Price__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Recommended_Price</name>
        <label>Create Recommended Price</label>
        <locationX>844</locationX>
        <locationY>47</locationY>
        <assignRecordIdToReference>varRecPrice</assignRecordIdToReference>
        <connector>
            <targetReference>updateCR2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorHandler</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Condition_Report__c</field>
            <value>
                <elementReference>svarCondRept.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>recPrieceExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Notes_to_Seller__c</field>
            <value>
                <elementReference>Notes_to_Seller_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Notes__c</field>
            <value>
                <elementReference>Internal_Notes_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Ceiling__c</field>
            <value>
                <elementReference>Ceiling_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Floor__c</field>
            <value>
                <elementReference>Floor_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Runs_When_Priced__c</field>
            <value>
                <elementReference>svarVehicle.Recent_Seller_s_Failed_Runs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saved_Auction_Id__c</field>
            <value>
                <elementReference>svarCondRept.ACV_Saved_Auction_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>svarVehicle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Recommended_Price__c</object>
    </recordCreates>
    <recordLookups>
        <name>Auction</name>
        <label>Auction</label>
        <locationX>539</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Active_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarCondRept.ACV_Auction_Id__c</elementReference>
            </value>
        </filters>
        <object>Auction__c</object>
        <outputReference>svarAuction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>status__c</queriedFields>
        <queriedFields>Seller_Dealership__c</queriedFields>
        <queriedFields>floor_price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_CR_Record</name>
        <label>Get CR Record</label>
        <locationX>50</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Condition_Report__c</object>
        <outputReference>svarCondRept</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Dealership__c</queriedFields>
        <queriedFields>ACV_CR_Id__c</queriedFields>
        <queriedFields>ACV_Saved_Auction_Id__c</queriedFields>
        <queriedFields>VIN__c</queriedFields>
        <queriedFields>Vehicle__c</queriedFields>
        <queriedFields>Auction__c</queriedFields>
        <queriedFields>ACV_Auction_Id__c</queriedFields>
        <queriedFields>MMR_Link__c</queriedFields>
        <queriedFields>MMR_AutoCheck_URL__c</queriedFields>
        <queriedFields>ACV_Condition_Report__c</queriedFields>
        <queriedFields>Vehicle_Auctions_Link__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>224</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Auction_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarCondRept.Vehicle__c</elementReference>
            </value>
        </filters>
        <object>Vehicle__c</object>
        <outputReference>svarVehicle</outputReference>
        <queriedFields>Count_of_Active_Pricing_Recommendations__c</queriedFields>
        <queriedFields>Count_of_Pricing_Recommendations__c</queriedFields>
        <queriedFields>Most_Recent_Price_Recommendation_Date__c</queriedFields>
        <queriedFields>Most_Recent_Seller__c</queriedFields>
        <queriedFields>Recent_Seller_s_Failed_Runs__c</queriedFields>
        <queriedFields>Recent_Seller_s_Total_Runs__c</queriedFields>
        <queriedFields>Number_of_Times_Waived__c</queriedFields>
        <queriedFields>Most_Recent_Recommended_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateCR1</name>
        <label>updateCR1</label>
        <locationX>1019</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Finish_Congrats</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorHandler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarCondRept.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Most_Recent_Recommended_Price__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Recommended_Price_Created_By__c</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Ceiling__c</field>
            <value>
                <elementReference>Ceiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Floor__c</field>
            <value>
                <elementReference>Floor</elementReference>
            </value>
        </inputAssignments>
        <object>Condition_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCR2</name>
        <label>updateCR2</label>
        <locationX>1011</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Finish_Congrats_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorHandler</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>svarCondRept.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Most_Recent_Recommended_Price__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_Recent_Recommended_Price_Created_By__c</field>
            <value>
                <elementReference>currentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Ceiling__c</field>
            <value>
                <elementReference>Ceiling_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Floor__c</field>
            <value>
                <elementReference>Floor_2</elementReference>
            </value>
        </inputAssignments>
        <object>Condition_Report__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>852</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p&gt;There is already a current, active pricing recommendation for this Vehicle:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recent Recommended Price: {!svarVehicle.Most_Recent_Recommended_Price__c}&lt;/p&gt;&lt;p&gt;Recent Recommended Price Created: {!svarVehicle.Most_Recent_Price_Recommendation_Date__c}&lt;/p&gt;&lt;p&gt;Recent Recommended Price Expires: {!expiredDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_2</name>
        <label>Error Screen 2</label>
        <locationX>853</locationX>
        <locationY>223</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMesg</name>
            <fieldText>&lt;p&gt;There is already a current, active pricing recommendation for this Vehicle:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Recent Recommended Price: {!svarVehicle.Most_Recent_Recommended_Price__c}&lt;/p&gt;&lt;p&gt;Recent Recommended Price Created: {!svarVehicle.Most_Recent_Price_Recommendation_Date__c}&lt;/p&gt;&lt;p&gt;Recent Recommended Price Expires: {!expiredDate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorHandler</name>
        <label>errorHandler</label>
        <locationX>1050</locationX>
        <locationY>352</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>faultMesg</name>
            <fieldText>&lt;p&gt;Please reach out to Salesforce Requests and Inquiries with the following: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Consolas, &amp;quot;Bitstream Vera Sans Mono&amp;quot;, &amp;quot;Courier New&amp;quot;, Courier, monospace; color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Congrats</name>
        <label>Finish Congrats</label>
        <locationX>1197</locationX>
        <locationY>652</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>congrats</name>
            <fieldText>Congrats! You have successfully created a recommended list price for this Vehicle.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Congrats_2</name>
        <label>Finish Congrats</label>
        <locationX>1183</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>congrats_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Congrats! You have successfully created a recommended list price for this Vehicle.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Enter_Pricing_Rec</name>
        <label>Screen 1: Enter Pricing Rec</label>
        <locationX>679</locationX>
        <locationY>652</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Rec_Price</targetReference>
        </connector>
        <fields>
            <name>currentStats</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Seller Total Runs: {!svarVehicle.Recent_Seller_s_Total_Runs__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Seller Failed Runs: {!svarVehicle.Recent_Seller_s_Failed_Runs__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mmrLink</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;MMR Link: {!svarCondRept.MMR_Link__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;MMR AutoCheck URL: {!svarCondRept.MMR_AutoCheck_URL__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;ACV Condition Report: {!svarCondRept.ACV_Condition_Report__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 12px;&quot;&gt;Vehicle Auctions Link: {!svarCondRept.Vehicle_Auctions_Link__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes_to_Seller</name>
            <fieldText>Notes to Seller</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Input notes that are essential for the ACV App User, as these notes will be made available publicly.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_Notes</name>
            <fieldText>Internal Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Floor</name>
            <dataType>Currency</dataType>
            <fieldText>Floor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Confirm_Floor</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm Floor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Floor price you entered must = {!Floor} entered above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Floor} = {!Confirm_Floor}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Ceiling</name>
            <dataType>Currency</dataType>
            <fieldText>Ceiling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;This Ceiling price you entered must be &amp;gt; {!Floor} entered above AND &amp;lt;= {!FloorPriceCurrency} (the last Auction Floor price).&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ceiling} &gt; {!Floor}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Confirm_Ceiling</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm Ceiling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This ceiling price you entered must = {!Ceiling} entered above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ceiling} = {!Confirm_Ceiling}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2_Enter_Pricing_Rec</name>
        <label>Screen 2: Enter Pricing Rec</label>
        <locationX>675</locationX>
        <locationY>47</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Recommended_Price</targetReference>
        </connector>
        <fields>
            <name>sellerRuns</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Seller Total Runs: {!svarVehicle.Recent_Seller_s_Total_Runs__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Seller Failed Runs: {!svarVehicle.Recent_Seller_s_Failed_Runs__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>mmr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;MMR Link: {!svarCondRept.MMR_Link__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;MMR AutoCheck URL: {!svarCondRept.MMR_AutoCheck_URL__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;ACV Condition Report: {!svarCondRept.ACV_Condition_Report__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;Vehicle Auctions: {!svarCondRept.Vehicle_Auctions_Link__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Floor_2</name>
            <dataType>Currency</dataType>
            <fieldText>Floor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Confirm_Floor_2</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm Floor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This Floor price you entered must = {!Floor_2} entered above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Floor_2} = {!Confirm_Floor_2}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Ceiling_2</name>
            <dataType>Currency</dataType>
            <fieldText>Ceiling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Ceiling Price you entered must be &amp;gt; {!Floor_2} entered above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ceiling_2} &gt; {!Floor_2}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Confirm_Ceiling_2</name>
            <dataType>Currency</dataType>
            <fieldText>Confirm Ceiling</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;This Ceiling price you entered must = {!Ceiling_2} entered above.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Ceiling_2} = {!Confirm_Ceiling_2}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Notes_to_Seller_2</name>
            <fieldText>Notes to Seller</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Internal_Notes_2</name>
            <fieldText>Internal Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_CR_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AuctionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <description>Variable to store the Auction Floor Price (Currency datatype).</description>
        <name>FloorPriceCurrency</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>svarAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>svarAuction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>svarCondRept</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Condition_Report__c</objectType>
    </variables>
    <variables>
        <name>svarVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Vehicle__c</objectType>
    </variables>
    <variables>
        <name>varRecPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
