flows/QC_Count_Seller_Assistance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Seller_Needed_QCs_Count</name>
        <label>Seller Needed QCs Count</label>
        <locationX>173</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>QCSellerNeededCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetCaseRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <description>used to create roll up summary of number of QC objects where seller assistance is yes and populate count on the case - Added Splunk logging</description>
    <formulas>
        <description>placing errors into a context code will understand</description>
        <name>FlowErrorFormula</name>
        <dataType>String</dataType>
        <expression>&apos;QC_Count_Seller_Assistance%:%&apos; + {!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>QC Count - Seller Assistance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QC Count - Seller Assistance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCaseRecords</name>
        <label>Get Case Records</label>
        <locationX>171</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Seller_Needed_QCs_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Seller_Assistance_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Seller_Assistance_Needed__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>172</locationX>
        <locationY>662</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QC_Count_Seller_Needed__c</field>
            <value>
                <elementReference>QCSellerNeededCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCaseRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Seller_Assistance_Needed__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Quality_Control__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>CurCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>QCSellerNeededCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalQCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
