flows/Reactivation_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Request_Reactivation</name>
        <label>Request Reactivation</label>
        <locationX>552</locationX>
        <locationY>54</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Message_To_Submitter</targetReference>
        </connector>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a0a000000TQF5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Populating the reason for reactivation on account</description>
        <name>ReasonForReactivationUpdate</name>
        <label>ReasonForReactivationUpdate</label>
        <locationX>451</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>varReasonForRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_For_Reactivation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReasonForReactivationRecordUpdate</targetReference>
        </connector>
    </assignments>
    <description>test</description>
    <interviewLabel>Reactivation Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactivation Request Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>178</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>ReasonForReactivationRecordUpdate</name>
        <label>ReasonForReactivationRecordUpdate</label>
        <locationX>619</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Request_Reactivation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_For_Reactivation__c</field>
            <value>
                <elementReference>Reason_For_Reactivation</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Display a Message To Submitter</description>
        <name>Message_To_Submitter</name>
        <label>Message To Submitter</label>
        <locationX>803</locationX>
        <locationY>57</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successful_Submission</name>
            <fieldText>&lt;p&gt;Your reactivation Submission was Successful!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Details</name>
        <label>Request Details</label>
        <locationX>346</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ReasonForReactivationUpdate</targetReference>
        </connector>
        <fields>
            <name>Reason_For_Reactivation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varReasonForRequest</elementReference>
            </defaultValue>
            <fieldText>Reason For Reactivation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>27</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Account_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Current records account Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>use this one</description>
        <name>varAccount2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varReactivate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varReasonForRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
