flows/Reminder_for_BDR_when_stage_Attempted.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>UpdateTaskRecords_Expire</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateTaskRecord_Expire</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Open_Tasks_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_Expired</name>
        <label>Update Status=Expired</label>
        <locationX>270</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>UpdateTaskRecord_Expire.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Open_Tasks_collection.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateTaskRecord_Expire.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Task_Description</name>
        <dataType>String</dataType>
        <value>
            <stringValue>This Lead is still in an attempted stage. Please reach out again.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Task_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead In Attempted Stage</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Task_to_be_Created</name>
        <label>Task to be Created?</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskToBeCreated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Day_vs_7_Day_Task</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_Day_vs_7_Day_Task</name>
        <label>2 Day vs 7 Day Task</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Create_7_Day_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>7 Day Task</defaultConnectorLabel>
        <rules>
            <name>X2_Day_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskToBeCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create_Two_Day_Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_Day_Task</targetReference>
            </connector>
            <label>2 Day Task</label>
        </rules>
    </decisions>
    <formulas>
        <name>TaskToBeCreated</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!$Record.Follow_Up_Task_Created_On__c}) , &apos;Create_Two_Day_Task&apos; ,
IF ( (TODAY() - {!$Record.Follow_Up_Task_Created_On__c}) == 2 &amp;&amp; (TODAY() - DATEVALUE({!$Record.CreatedDate}))&lt;=10 , &apos;Create_Two_Day_Task&apos; ,
IF( (TODAY() - {!$Record.Follow_Up_Task_Created_On__c}) &gt;= 7 &amp;&amp; (TODAY() - DATEVALUE({!$Record.CreatedDate}))&gt;10 , &apos;Create_Weekly_Task&apos; , &apos;&apos; ) ) )</expression>
    </formulas>
    <formulas>
        <name>TodayPlus2</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Reminder for BDR when stage=Attempted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder for BDR when stage=Attempted</label>
    <loops>
        <name>Update_Open_Tasks_collection</name>
        <label>Update Open Tasks collection</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <collectionReference>Get_Existing_Follow_Up_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_Expired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Expire_Existing_follow_Up_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_2_Day_Task</name>
        <label>Create 2 Day Task</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Update_Follow_Up_Task_CreatedOn_Field_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayPlus2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_7_Day_Task</name>
        <label>Create 7 Day Task</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Update_Follow_Up_Task_CreatedOn_Field_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TodayPlus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Follow_Up_Tasks</name>
        <label>Get Existing Follow Up Tasks</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Open_Tasks_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Task_Subject</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Expire_Existing_follow_Up_Tasks</name>
        <label>Expire Existing follow Up Tasks</label>
        <locationX>182</locationX>
        <locationY>1428</locationY>
        <inputReference>UpdateTaskRecords_Expire</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Follow_Up_Task_CreatedOn_Field_0</name>
        <label>Update Follow Up Task CreatedOn Field</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <connector>
            <targetReference>Get_Existing_Follow_Up_Tasks</targetReference>
        </connector>
        <inputAssignments>
            <field>Follow_Up_Task_Created_On__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_to_be_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attempted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_DeveloperName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organization_Lead</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-01-31</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateTaskRecord_Expire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdateTaskRecords_Expire</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
