flows/Standard_Inspection_WOLI_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Update_Cannot_Complete_Reason</name>
        <label>Update Cannot Complete Reason</label>
        <locationX>1334</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>WOLI_Record.Cannot_Complete_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Reason_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOLI_Status</name>
        <label>WOLI Status</label>
        <locationX>793</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>WOLI_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Item_Completion_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_WOLI_Completed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>WOLI_Status_Cannot_Complete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <description>WOLI_Status_Completed</description>
        <name>WOLI_Status_Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_WOLI_Completed</name>
        <label>Is WOLI Completed</label>
        <locationX>904</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Update_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>WOLI_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Line_Item_Completion_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedServiceAppointment.Bundled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Reason</targetReference>
            </connector>
            <label>WOLI Cannot Complete</label>
        </rules>
        <rules>
            <name>Bundled_and_WOLI_Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Line_Item_Completion_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedServiceAppointment.Bundled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bundled_Cannot_Complete_Reason</targetReference>
            </connector>
            <label>Bundled and WOLI Cannot Complete</label>
        </rules>
    </decisions>
    <description>ID-3539 CPO Bundling - Allow WOLI to be status&apos;d from FSL mobile.</description>
    <dynamicChoiceSets>
        <name>WOLI_Picklist_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>Standard Inspection WOLI Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Standard Inspection WOLI Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appt</name>
        <label>Get Service Appt</label>
        <locationX>534</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Completed_or_Cannot_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI_Record.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SelectedServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bundled__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WOLI</name>
        <label>WOLI</label>
        <locationX>405</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>VIN__c</queriedFields>
        <queriedFields>Year_and_Make_and_Model__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>1545</locationX>
        <locationY>70</locationY>
        <inputReference>WOLI_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>Bundled_Cannot_Complete_Reason</name>
        <label>Bundled Cannot Complete Reason</label>
        <locationX>1140</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Cannot_Complete_Reason</targetReference>
        </connector>
        <fields>
            <name>Bundled_Cannot_Complete_Display_Text</name>
            <fieldText>&lt;p&gt;Contact the CPO Team and inform them that this Assignment will NOT be Completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Bundled_Cannot_Complete_Reason_Text</name>
            <dataType>String</dataType>
            <fieldText>Bundled Cannot Complete Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Reason</name>
        <label>Cannot Complete Reason</label>
        <locationX>1191</locationX>
        <locationY>138</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Cannot_Complete_Reason</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Reason_Text</name>
            <dataType>String</dataType>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Completed_or_Cannot_Complete</name>
        <label>Choose Completed or Cannot Complete</label>
        <locationX>679</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WOLI_Status</targetReference>
        </connector>
        <fields>
            <name>Line_Item_Completion_Status</name>
            <choiceReferences>WOLI_Status_Completed</choiceReferences>
            <choiceReferences>WOLI_Status_Cannot_Complete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Line Item Completion Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WOLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOLI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
