flows/Title_late_Fee_Applied_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email informing seller the assigned fee has been issued for a late title</description>
        <name>Assigned_Fee_Issued_Email</name>
        <label>Assigned Fee Issued Email</label>
        <locationX>182</locationX>
        <locationY>652</locationY>
        <actionName>Assigned_Fee__c.Assigned_Fee_Title_Late_Fee_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>This flow will send a title late fee assessed email when a new Assigned fee record is created and has a fee name of tilte late fee.</description>
    <interviewLabel>Title late Fee Applied Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Title late Fee Applied Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the case record associated with the new/update fee</description>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>183</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Email_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_Fields</name>
        <label>Update Email Fields</label>
        <locationX>182</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Assigned_Fee_Issued_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Seller_Contact_Email__c</field>
            <value>
                <elementReference>Get_Case_Records.Seller_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Territory_Manager_Email__c</field>
            <value>
                <elementReference>Get_Case_Records.Seller_TM_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Title_Clerk_Email__c</field>
            <value>
                <elementReference>Get_Case_Records.Seller_Title_Clerk_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>44</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fee_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fee Assessed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title Late Fee</stringValue>
            </value>
        </filters>
        <object>Assigned_Fee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varSubjectLateTitle</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Late Title: {!varYearMakeModel}, {!varVINLast6}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTitleLateFeeIssuedEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our office has yet to receive the title paperwork for {!varYearMakeModel} {!varVINLast6}, sold on INSERT AUCTION END DATE.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The title and any paperwork were due by {!varTitleDueDate}. A fee of $25 per day will be applied up to a maximum of $250 until ACV receives the title and any needed paperwork.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you have any questions, please reach out to your Territory Manager,&amp;nbsp;{!varSellerTM}.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Titles Team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varAssociatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varSellerContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSellerTitleClerkEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSellerTM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSellerTMEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTitleDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVINLast6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varYearMakeModel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
