flows/Total_QC_Count_on_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Open_QC_Count</name>
        <label>Assign Open QC Count</label>
        <locationX>1002</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>OpenQCCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_QC_OPEN_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Seller_Assistance_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Count Seller Assistance needed Qc records on case</description>
        <name>Assign_Seller_Assistance</name>
        <label>Assign Seller Assistance</label>
        <locationX>1005</locationX>
        <locationY>772</locationY>
        <assignmentItems>
            <assignToReference>SellerAssistanceNeededCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Seller_Assistance_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_QCs_Count</name>
        <label>Total QCs Count</label>
        <locationX>999</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>TotalQCCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_QC_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_QC_OPEN_Records</targetReference>
        </connector>
    </assignments>
    <description>Three Counts of QC records - Total QC Count, open QC Count, and Seller Assistance QC Count.</description>
    <interviewLabel>Total QC Count on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total QC Count on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QC_OPEN_Records</name>
        <label>Get QC OPEN Records</label>
        <locationX>670</locationX>
        <locationY>570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Open_QC_Count</targetReference>
        </connector>
        <filterLogic>1 AND (2 or 3)</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QC_Records</name>
        <label>Get QC Records</label>
        <locationX>669</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Total_QCs_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Assistance_Count</name>
        <label>Get Seller Assistance Count</label>
        <locationX>670</locationX>
        <locationY>764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Seller_Assistance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Seller_Assistance_Needed__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quality_Control__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record_0</name>
        <label>Update Case Record</label>
        <locationX>833</locationX>
        <locationY>940</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_QC_Count__c</field>
            <value>
                <elementReference>OpenQCCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Count_Seller_Needed__c</field>
            <value>
                <elementReference>SellerAssistanceNeededCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QC_Count__c</field>
            <value>
                <elementReference>TotalQCCount</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_QC_Records</targetReference>
        </connector>
        <object>Quality_Control__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurCase</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <name>CurCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Case__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentItem_All_Open_QC_Records_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Quality_Control__c</objectType>
    </variables>
    <variables>
        <description>Count of Open QC records</description>
        <name>OpenQCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>number of QCs where Seller Assistance is Needed equals,  yes</description>
        <name>SellerAssistanceNeededCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalQCCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
