flows/Unwind_Arbitration_Inspection_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Updates_to_Case</name>
        <label>Assign Updates to Case</label>
        <locationX>717</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>Get_Current_Case.Inspection_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Current_Case.Inspection_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Notes_for_Inspector_Filled_In</name>
        <label>Are Notes for Inspector Filled In?</label>
        <locationX>705</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Buyer_or_Seller_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Notes_for_Inspector__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notes_for_Inspector_are_required</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buyer_or_Seller_Address</name>
        <label>Buyer or Seller Address</label>
        <locationX>705</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Get_Arbitration_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Address</defaultConnectorLabel>
        <rules>
            <name>Buyer_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Buyer_Account</targetReference>
            </connector>
            <label>Buyer Address</label>
        </rules>
        <rules>
            <name>Seller_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.Vehicle_Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Account</targetReference>
            </connector>
            <label>Seller Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_want_another_Work_Order</name>
        <label>Did you want another Work Order?</label>
        <locationX>462</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Create_another_Work_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtons_No_Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Orders</targetReference>
            </connector>
            <label>Create another Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the Work Order already exists for this Case.</description>
        <name>Does_Work_Order_Exist</name>
        <label>Does Work Order Exist?</label>
        <locationX>707</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_for_Work_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_A_Work_Order_Already_Exists</targetReference>
            </connector>
            <label>Work Order Already Exists</label>
        </rules>
    </decisions>
    <description>ID-3615 Special Instructions field needs to be changed to Long text.</description>
    <formulas>
        <description>Identify the city based on case details.</description>
        <name>City</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Current_Case.Vehicle_Location__c}, &quot;Buyer&quot;), {!Get_Buyer_Account.BillingCity}, {!Get_Seller_Account.BillingCity})</expression>
    </formulas>
    <formulas>
        <name>State</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Get_Current_Case.Vehicle_Location__c}, &quot;Buyer&quot;), {!Get_Buyer_Account.BillingState}, {!Get_Seller_Account.BillingState})</expression>
    </formulas>
    <formulas>
        <description>Identify the street from arbitration or vehicle location.</description>
        <name>Street</name>
        <dataType>String</dataType>
        <expression>IF( ISPICKVAL({!Get_Current_Case.Vehicle_Location__c}, &quot;Buyer&quot;), {!Get_Buyer_Account.BillingStreet}, {!Get_Seller_Account.BillingStreet})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Case.Account.Name} + &quot; - &quot; + {!Get_Arbitration_Work_Type.Name}</expression>
    </formulas>
    <formulas>
        <name>VehicleDetails</name>
        <dataType>String</dataType>
        <expression>{!Get_Current_Case.Unwind_Team_Notes__c} + &quot; &quot; + {!Get_Current_Case.Vehicle_VIN__c}</expression>
    </formulas>
    <interviewLabel>Unwind/Arbitration Inspection Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Arbitration Inspection Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates an Email Notification Subscription for this work order.</description>
        <name>Create_Email_Notification_Subscription</name>
        <label>Create Email Notification Subscription</label>
        <locationX>715</locationX>
        <locationY>1467</locationY>
        <connector>
            <targetReference>Create_Work_Order_Line_Item_for_Vehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Current_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_User_on_Work_Order_Completion__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Create_Work_Orders</elementReference>
            </value>
        </inputAssignments>
        <object>Email_Notification_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item_for_Vehicle</name>
        <label>Create Work Order Line Item for Vehicle</label>
        <locationX>715</locationX>
        <locationY>1605</locationY>
        <connector>
            <targetReference>Assign_Updates_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle__r.basic_color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Current_Case.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle_Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle_VIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Create_Work_Orders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Arbitration_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>Get_Current_Case.Vehicle__r.Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Orders</name>
        <label>Create Work Orders</label>
        <locationX>716</locationX>
        <locationY>1333</locationY>
        <connector>
            <targetReference>Create_Email_Notification_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Current_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Arbitration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Current_Case.Default_Pickup_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Instructions_for_VCI__c</field>
            <value>
                <elementReference>Get_Current_Case.Notes_for_Inspector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Get_Arbitration_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Arbitration_Work_Type</name>
        <label>Get Arbitration Work Type</label>
        <locationX>715</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_for_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type_Unique_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>arbitration inspection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Buyer_Account</name>
        <label>Get Buyer Account</label>
        <locationX>458</locationX>
        <locationY>763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Arbitration_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.Buyer_Dealership__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>710</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Notes_for_Inspector_Filled_In</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Account</name>
        <label>Get Seller Account</label>
        <locationX>967</locationX>
        <locationY>763</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Arbitration_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.Seller_Dealership__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query to see if a Work Order exists for this Case</description>
        <name>Query_for_Work_Order</name>
        <label>Query for Work Order</label>
        <locationX>714</locationX>
        <locationY>966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Work_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Arbitration_Work_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>717</locationX>
        <locationY>1909</locationY>
        <connector>
            <targetReference>Completed</targetReference>
        </connector>
        <inputReference>Get_Current_Case</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>717</locationX>
        <locationY>2043</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Completion_Message</name>
            <fieldText>&lt;p&gt;A re-inspection has been requested and you  will be notified when it has been completed. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notes_for_Inspector_are_required</name>
        <label>Notes for Inspector are required.</label>
        <locationX>458</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_NotesForInspector</name>
            <fieldText>&lt;p&gt;Notes for Inspector are required in order to proceed.  This field is located in the Claim Details section.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_A_Work_Order_Already_Exists</name>
        <label>A Work Order Already Exists</label>
        <locationX>470</locationX>
        <locationY>1130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Did_you_want_another_Work_Order</targetReference>
        </connector>
        <fields>
            <name>RadioButtons_No_Yes</name>
            <choiceReferences>Choice_No</choiceReferences>
            <choiceReferences>Choice_Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_No</defaultSelectedChoiceReference>
            <fieldText>A Work Order for this Case already exists.  Do you want to create another Work Order?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>583</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Houses the newly created work order.</description>
        <name>objCreatedWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
