flows/Unwind_Arbitration_Inspection_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Updates_to_Case</name>
        <label>Assign Updates to Case</label>
        <locationX>927</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inspection_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Inspection_Request_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check to see if the Work Order already exists for this Case.</description>
        <name>Does_Work_Order_Exist</name>
        <label>Does Work Order Exist?</label>
        <locationX>706</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Work_Order_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_for_Work_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Work Order Exists</label>
        </rules>
    </decisions>
    <description>ID-3615 Special Instructions field needs to be changed to Long text.</description>
    <formulas>
        <description>Account ID based on Vehicle Location (Buyer, Seller, Other Physical Address)</description>
        <name>AccountId_for_Vehicle_Location</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Vehicle_Location__c}) = &apos;Buyer&apos;, {!$Record.AccountId}, IF(TEXT({!$Record.Vehicle_Location__c}) = &apos;Seller&apos;,{!$Record.Seller_Dealership__c}, {!Get_ACV_Dealer_Account_Id.Id}))</expression>
    </formulas>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>IF( ISNULL({!$Record.Unwind_Team_Notes__c}), {!$Record.Description} , {!$Record.Unwind_Team_Notes__c})</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name} + &quot; - &quot; + {!Find_Unwind_Work_Type.Name}</expression>
    </formulas>
    <interviewLabel>Unwind /Arbitration Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unwind Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order_Line_Item_for_Vehicle</name>
        <label>Create Work Order Line Item for Vehicle</label>
        <locationX>927</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Assign_Updates_to_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>$Record.Vehicle__r.basic_color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>$Record.Vehicle_Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Vehicle_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIN__c</field>
            <value>
                <elementReference>$Record.Vehicle_VIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Create_Work_Orders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Find_Unwind_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>$Record.Vehicle_Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Orders</name>
        <label>Create Work Orders</label>
        <locationX>928</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Create_Work_Order_Line_Item_for_Vehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountId_for_Vehicle_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Default_Pickup_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Default_Pickup_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>Resolutions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Default_Pickup_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Instructions_for_VCI__c</field>
            <value>
                <elementReference>$Record.Notes_for_Inspector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Default_Pickup_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Pickup_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Find_Unwind_Work_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Unwind_Work_Type</name>
        <label>Find Unwind Work Type</label>
        <locationX>709</locationX>
        <locationY>294</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACV_Auctions_Dealer_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Type_Unique_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>unwind inspection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ACV Auctions Dealer Id from Custom Metadata Types - Salesforce Setting</description>
        <name>Get_ACV_Auctions_Dealer_Id</name>
        <label>Get ACV Auctions Dealer Id</label>
        <locationX>710</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ACV_Dealer_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ACV Auctions Dealer Id</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Salesforce_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get ACV Dealer Account Id</description>
        <name>Get_ACV_Dealer_Account_Id</name>
        <label>Get ACV Dealer Account Id</label>
        <locationX>711</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_for_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealership_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ACV_Auctions_Dealer_Id.Value__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query to see if a Work Order exists for this Case</description>
        <name>Query_for_Work_Order</name>
        <label>Query for Work Order</label>
        <locationX>714</locationX>
        <locationY>738</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Work_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Unwind_Work_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>927</locationX>
        <locationY>1380</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>583</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Find_Unwind_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inspection</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
