flows/Update_QCPIs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>643</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>sObj_QCPI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSingleProblem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedProblems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_UpdateProblemText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Selected_Problems_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_Problems_to_Update</name>
        <label>Assign All Problems to Update</label>
        <locationX>305</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>sObj_QCPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_QCPIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Each_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_to_Update_Collection</name>
        <label>Assign Loop to Update Collection</label>
        <locationX>688</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>col_QCPIsfinalupdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Each_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Each_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Problems</name>
        <label>Assign Selected Problems</label>
        <locationX>374</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>varSelectedProblems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Problems_to_Update_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedProblems</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Selected_Problems_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_to_Loop</name>
        <label>Assign Status to Loop</label>
        <locationX>778</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>Update_Each_Status.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Loop_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Problem_Variable</name>
        <label>Assign to Problem Variable</label>
        <locationX>565</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>varProblemID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_SingleProblem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSingleProblem</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_Choose_Which_to_Update</name>
        <choiceText>Choose Which Problems to Update</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choose Which Problems to Update</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Update_All_Individually</name>
        <choiceText>Update All Individually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update All Individually</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_Update_All_Resolved</name>
        <choiceText>Update All as Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update All as Resolved</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_Selected_Problems_Null</name>
        <label>dec_Selected Problems Null</label>
        <locationX>476</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Problem_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedProblems</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Each_Status</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Update_Path</name>
        <label>dec Update Path</label>
        <locationX>264</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Assign_All_Problems_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_updates_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Update_All_Resolved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_All_as_Resolved</targetReference>
            </connector>
            <label>All Resolved</label>
        </rules>
        <rules>
            <name>Choose_Which</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_updates_do_you_want_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_Choose_Which_to_Update</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Problems_to_Update</targetReference>
            </connector>
            <label>Choose Which</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ch_QCPIs</name>
        <dataType>String</dataType>
        <displayField>Problem__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>QC_Problem_Identified__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varQCPI_Status_choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>QC_Problem_Identified__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>form_SingleProblem</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(LEFT({!varSelectedProblems},FIND(&quot;;&quot;,{!varSelectedProblems})),&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>form_UpdateProblemText</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!varSelectedProblems},{!form_SingleProblem}+ &quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Update QCPIs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update QCPIs</label>
    <loops>
        <name>Update_Each_Status</name>
        <label>Update Each Status</label>
        <locationX>433</locationX>
        <locationY>231</locationY>
        <collectionReference>sObj_QCPI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Problem_Statuses</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_QCPIs_Individually</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_QCPIs</name>
        <label>Get QCPIs</label>
        <locationX>148</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_choices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QC_Problem_Identified__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSingleProblem</name>
        <label>getSingleProblem</label>
        <locationX>706</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProblemID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QC_Problem_Identified__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_as_Resolved</name>
        <label>Update All as Resolved</label>
        <locationX>130</locationX>
        <locationY>519</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quality_Control__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>QC_Problem_Identified__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_QCPIs_Individually</name>
        <label>update QCPIs Individually</label>
        <locationX>675</locationX>
        <locationY>79</locationY>
        <inputReference>col_QCPIsfinalupdates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>943</locationX>
        <locationY>185</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Each_Status.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>QC_Problem_Identified__c</object>
    </recordUpdates>
    <screens>
        <name>Choose_Problems_to_Update</name>
        <label>Choose Problems to Update</label>
        <locationX>300</locationX>
        <locationY>599</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Selected_Problems</targetReference>
        </connector>
        <fields>
            <name>Problems_to_Update_Status</name>
            <choiceReferences>ch_QCPIs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Problems to Update Status</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_choices</name>
        <label>Update choices</label>
        <locationX>202</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dec_Update_Path</targetReference>
        </connector>
        <fields>
            <name>What_updates_do_you_want_to_do</name>
            <choiceReferences>ch_Update_All_Individually</choiceReferences>
            <choiceReferences>ch_Update_All_Resolved</choiceReferences>
            <choiceReferences>ch_Choose_Which_to_Update</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What updates do you want to do?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Problem_Statuses</name>
        <label>Update Problem Statuses</label>
        <locationX>719</locationX>
        <locationY>376</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Status_to_Loop</targetReference>
        </connector>
        <fields>
            <name>DisplayQCPI_Info</name>
            <fieldText>&lt;p&gt;{!Update_Each_Status.Name}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;{!Update_Each_Status.Problem__c} - {!Update_Each_Status.Title_Problem_Subset__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>varQCPI_Status_choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>64</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_QCPIs</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>col_QCPIsfinalupdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unified collection for loop of QCPIs to update</description>
        <name>sObj_QCPI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <name>sObjSingleProblem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QC_Problem_Identified__c</objectType>
    </variables>
    <variables>
        <name>varProblemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProblems</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
