flows/Update_Capital_Alt_emails_from_Account_to_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <description>Update Capital Alt emails from Account to Case</description>
    <interviewLabel>Update Capital Alt emails from Account to Case</interviewLabel>
    <label>Update Capital Alt emails from Account to Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get corresponding account ID from Case that was just created to initiate this flow.</description>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>357</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_alt_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account_alternate_emails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Capital_Alt_Email_1__c</queriedFields>
        <queriedFields>Capital_Alt_Email_2__c</queriedFields>
        <queriedFields>Capital_Alt_Email_3__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_alt_email</name>
        <label>Update Case alt email</label>
        <locationX>492</locationX>
        <locationY>647</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Capital_Alt_Email_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capital_Alt_Email_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Capital_Alt_Email_3__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Capital_Alt_Email_1__c</field>
            <value>
                <elementReference>Account_alternate_emails.Capital_Alt_Email_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Alt_Email_2__c</field>
            <value>
                <elementReference>Account_alternate_emails.Capital_Alt_Email_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capital_Alt_Email_3__c</field>
            <value>
                <elementReference>Account_alternate_emails.Capital_Alt_Email_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>206</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Buyer_payment_Method_1__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>acv_capital</stringValue>
            </value>
        </filters>
        <filters>
            <field>Buyer_payment_Method_1__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>acv_capital_ta_hold</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>collect all emails from the Alt Capital email addresses on the Account Record to populate into the title information Case Record</description>
        <name>Account_alternate_emails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
