flows/update_Vehicle_with_Recommended_Price_s.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>update Vehicle with Recommended Price(s) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Vehicle with Recommended Price(s)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>435</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupRecommendedPrice</name>
        <label>lookupRecommendedPrice</label>
        <locationX>274</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecommendedPriceID</elementReference>
            </value>
        </filters>
        <object>Recommended_Price__c</object>
        <outputAssignments>
            <assignToReference>UserId</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecommendedCeiling</assignToReference>
            <field>Price_Ceiling__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecommendedFloor</assignToReference>
            <field>Price_Floor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecommendedPriceStatus</assignToReference>
            <field>Pricing_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VehicleID</assignToReference>
            <field>Vehicle__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updateVehicle</name>
        <label>updateVehicle</label>
        <locationX>590</locationX>
        <locationY>352</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recommended_Price_Ceiling__c</field>
            <value>
                <elementReference>RecommendedCeiling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Created_By__c</field>
            <value>
                <elementReference>User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Floor__c</field>
            <value>
                <elementReference>RecommendedFloor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Price_Status__c</field>
            <value>
                <elementReference>RecommendedPriceStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <startElementReference>lookupRecommendedPrice</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>AuctionObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auction__c</objectType>
    </variables>
    <variables>
        <name>inputRecommendedPriceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecommendedCeiling</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecommendedFloor</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RecommendedPriceStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VehicleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
