flows/Upsert_Affiliations_On_Contact_AccountId_Change.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Do_Nothing</name>
        <label>Do Nothing</label>
        <locationX>670</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Already_Affiliated</name>
        <label>Already Affiliated?</label>
        <locationX>670</locationX>
        <locationY>197</locationY>
        <defaultConnector>
            <targetReference>Create_Affiliation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yes_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAffiliationAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varContactAcctId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAffiliationActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Affiliation</targetReference>
            </connector>
            <label>Yes, Inactive</label>
        </rules>
        <rules>
            <name>Yes_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAffiliationAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varContactAcctId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varAffiliationActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_Nothing</targetReference>
            </connector>
            <label>Yes, Active</label>
        </rules>
    </decisions>
    <description>This flow attempts to insert or update an Affiliation record if a user changes the AccountId on a Contact.</description>
    <interviewLabel>Upsert Affiliations On Contact.AccountId Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upsert Affiliations On Contact.AccountId Change</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Affiliation</name>
        <label>Create Affiliation</label>
        <locationX>489</locationX>
        <locationY>197</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varContactAcctId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Affiliation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Affiliation</name>
        <label>Get Affiliation</label>
        <locationX>670</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Affiliated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactAcctId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>Affiliation__c</object>
        <outputAssignments>
            <assignToReference>varAffiliationAccountId</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAffiliationActive</assignToReference>
            <field>Active__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAffiliationEndDate</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAffiliationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Affiliation</name>
        <label>Update Affiliation</label>
        <locationX>893</locationX>
        <locationY>206</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAffiliationId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
        </inputAssignments>
        <object>Affiliation__c</object>
    </recordUpdates>
    <startElementReference>Get_Affiliation</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>varAffiliationAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiliationActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiliationEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAffiliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
