flows/WOLI_Status_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Completed_New_Canceled_WOLI_count</name>
        <label>Assign Completed New Canceled WOLI count</label>
        <locationX>179</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>Countrecord_Completed_WOLI_var</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListofCompletedWOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Countrecord_New_WOLI_var</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordvar_getnewWOLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countrecord_canceled_WOLI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>var_Get_Canceled_WOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>At_Least_One_Unactioned_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateWOLIStatus</name>
        <label>UpdateWOLIStatus</label>
        <locationX>746</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>WOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI_Statuses</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOLI.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order_Line_Item_Stage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Declined</name>
        <choiceText>Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotReady</name>
        <choiceText>Not Ready</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Ready</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sold</name>
        <choiceText>Sold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sold</stringValue>
        </value>
    </choices>
    <decisions>
        <name>At_Least_One_Unactioned_WOLI</name>
        <label>At Least One Unactioned WOLI</label>
        <locationX>171</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>AtleastOneCompletedWOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Unactioned_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Countrecord_New_WOLI_var</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_has_been_Updated</targetReference>
            </connector>
            <label>One Unactioned WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>AtleastOneCompletedWOLI</name>
        <label>AtleastOneCompletedWOLI</label>
        <locationX>359</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Canceled_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompletedWOLIExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Countrecord_Completed_WOLI_var</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Order</targetReference>
            </connector>
            <label>CompletedWOLIExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canceled_WOLI</name>
        <label>Canceled WOLI?</label>
        <locationX>578</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Status_has_been_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>At_least_one_Canceled_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countrecord_canceled_WOLI</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled_WOLI_Exist</targetReference>
            </connector>
            <label>At least one Canceled WOLI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Work Type of the selected Work Order Line Item contains True 360</description>
        <name>Is_True_360</name>
        <label>Is True 360</label>
        <locationX>893</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Non_True360WorkType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_True_360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWorkType.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>True 360</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_WOLI_Status</targetReference>
            </connector>
            <label>Yes Is True 360</label>
        </rules>
    </decisions>
    <description>ID-2853 Combine Flow Assignment Elements.</description>
    <dynamicChoiceSets>
        <name>WOLIStatusChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WOLI_Status__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>WOLI Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Fetch_Work_Order_Line_Items</name>
        <label>Fetch Work Order Line Items</label>
        <locationX>506</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Canceled_WOLI</name>
        <label>Get Canceled WOLI</label>
        <locationX>322</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unactioned_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>var_Get_Canceled_WOLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unactioned_WOLI</name>
        <label>Get Unactioned WOLI</label>
        <locationX>179</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Completed_New_Canceled_WOLI_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>recordvar_getnewWOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Work Type of current Work Order Line Item</description>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>702</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_True_360</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>SelectedWorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This will fetch all the WOLIs which have Status Category as Completed</description>
        <name>GetCompletedWOLI</name>
        <label>GetCompletedWOLI</label>
        <locationX>460</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Canceled_WOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>ListofCompletedWOLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Canceled_WOLI_Exist</name>
        <label>Canceled WOLI Exist</label>
        <locationX>900</locationX>
        <locationY>642</locationY>
        <connector>
            <targetReference>Status_has_been_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Status of related Work Order</description>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>560</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>Status_has_been_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order_Line_Item_Stage</name>
        <label>Update Work Order Line Item Stage</label>
        <locationX>591</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>GetCompletedWOLI</targetReference>
        </connector>
        <inputReference>WOLI</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_WOLI_Status</name>
        <label>Change WOLI Status</label>
        <locationX>907</locationX>
        <locationY>467</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateWOLIStatus</targetReference>
        </connector>
        <fields>
            <name>WOLI_Statuses</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Declined</choiceReferences>
            <choiceReferences>NotReady</choiceReferences>
            <choiceReferences>Sold</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Non_True360WorkType</name>
        <label>Non-True 360 Work Type</label>
        <locationX>900</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WOLI_Error_Message</name>
            <fieldText>&lt;p&gt;This is not a True 360 record. The Status cannot be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayNonTrue360WorkTypeName</name>
            <fieldText>&lt;p&gt;{!SelectedWorkType.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_has_been_Updated</name>
        <label>Status has been Updated</label>
        <locationX>900</locationX>
        <locationY>933</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusUpdatedSuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Status has been updated!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Fetch_Work_Order_Line_Items</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>countrecord_canceled_WOLI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Countrecord_Completed_WOLI_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Countrecord_New_WOLI_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Get_New_WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofCompletedWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>recordvar_getnewWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>SelectedWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>UpdatedWOLIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>var_Get_Canceled_WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
