flows/WOLI_Update_Switch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>Standard Inspection</description>
        <name>inspection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>inspection</stringValue>
        </value>
    </constants>
    <constants>
        <name>PromoWork</name>
        <dataType>String</dataType>
        <value>
            <stringValue>promo work</stringValue>
        </value>
    </constants>
    <constants>
        <description>True 360</description>
        <name>true360</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true360</stringValue>
        </value>
    </constants>
    <constants>
        <description>Asset Verification</description>
        <name>verification</name>
        <dataType>String</dataType>
        <value>
            <stringValue>verification</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Work_Type_Switch</name>
        <label>Work Type Switch</label>
        <locationX>468</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Invalid_WOLI_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWorkType.Work_Type_Unique_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inspection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Inspection_WOLI_Update</targetReference>
            </connector>
            <label>Standard Inspection</label>
        </rules>
        <rules>
            <name>Asset_Verification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWorkType.Work_Type_Unique_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>verification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Verification_WOLI_Update</targetReference>
            </connector>
            <label>Asset Verification</label>
        </rules>
        <rules>
            <name>True_360</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWorkType.Work_Type_Unique_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>true360</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>True360_WOLI_Update</targetReference>
            </connector>
            <label>True 360</label>
        </rules>
        <rules>
            <name>Promo_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedWorkType.Work_Type_Unique_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PromoWork</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promo_Work_WOLI_Update</targetReference>
            </connector>
            <label>Promo Work</label>
        </rules>
    </decisions>
    <description>ID-3153 : Create Flow to status Promo Work WOLI Records</description>
    <interviewLabel>WOLI_Update_Switch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI_Update_Switch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_WOLI</name>
        <label>Get_WOLI</label>
        <locationX>176</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>325</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Type_Switch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOLI.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>SelectedWorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Type_Unique_ID__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Invalid_WOLI_Work_Type</name>
        <label>Invalid WOLI Work Type</label>
        <locationX>780</locationX>
        <locationY>92</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Invalid_Work_Type_Message</name>
            <fieldText>&lt;p&gt;The work type of this work order line item could not be verified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_WOLI</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asset_Verification_WOLI_Update</name>
        <label>Asset Verification WOLI Update</label>
        <locationX>803</locationX>
        <locationY>585</locationY>
        <flowName>Asset_Verification_Image_Capture</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Launches the &quot;Promo Work WOLI Update&quot; flow</description>
        <name>Promo_Work_WOLI_Update</name>
        <label>Promo Work WOLI Update</label>
        <locationX>815</locationX>
        <locationY>475</locationY>
        <flowName>Promo_Work_WOLI_Update</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Standard_Inspection_WOLI_Update</name>
        <label>Standard Inspection WOLI Update</label>
        <locationX>821</locationX>
        <locationY>223</locationY>
        <flowName>Standard_Inspection_WOLI_Update</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>True360_WOLI_Update</name>
        <label>True360 WOLI Update</label>
        <locationX>824</locationX>
        <locationY>351</locationY>
        <flowName>WOLI_Status_Update</flowName>
        <inputAssignments>
            <name>Id</name>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
