flows/X48_Hour_Approval.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>varTaTrue</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <formulas>
        <name>EmailSubmitter</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>varTa29</name>
        <dataType>Number</dataType>
        <expression>29</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>varTWD5</name>
        <dataType>Number</dataType>
        <expression>5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>48 Hour Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>48 Hour Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CI_Records</name>
        <label>Create CI Records</label>
        <locationX>582</locationX>
        <locationY>270</locationY>
        <assignRecordIdToReference>Created_CI_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_IC_Comment_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Related_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auction__c</field>
            <value>
                <elementReference>Related_Auction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Bucket__c</field>
            <value>
                <stringValue>Titles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Notes__c</field>
            <value>
                <elementReference>Reason_For_48_Hour_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Call_Type__c</field>
            <value>
                <stringValue>48 Hour Notice Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ops_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin__c</field>
            <value>
                <stringValue>48 Hr Notice Tab</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Inquiry__c</object>
    </recordCreates>
    <recordCreates>
        <description>Creates Inquiry Comment records</description>
        <name>Create_IC_Records</name>
        <label>Create IC Records</label>
        <locationX>582</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Submission_Successful</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Inquiry__c</field>
            <value>
                <elementReference>Created_CI_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Notes__c</field>
            <value>
                <elementReference>Reason_For_48_Hour_Submission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>IC_Comment_Record_Type_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Inquiry_Comment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the case for 48 hour notice</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>448</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enter_submission_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Related_Account</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Related_Auction</assignToReference>
            <field>Auction_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_IC_Comment_Record_Type</name>
        <label>Get IC Comment Record Type</label>
        <locationX>582</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_IC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry_Comment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inquiry_Comment</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IC_Comment_Record_Type_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Enter_submission_Details</name>
        <label>Enter submission Details</label>
        <locationX>582</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_CI_Records</targetReference>
        </connector>
        <fields>
            <name>Reason_For_48_Hour_Submission</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Reasonfor48HourNotice</elementReference>
            </defaultValue>
            <fieldText>Reason For 48 Hour Submission</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>852</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You do not have access to this process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submission_Successful</name>
        <label>Submission Successful</label>
        <locationX>741</locationX>
        <locationY>615</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Submitted</name>
            <fieldText>&lt;p&gt;Your 48 Hour Notice request was successfully submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>place48HourNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Need to Place 48 Hour Notice</text>
    </textTemplates>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The new Id of the newly created CI record</description>
        <name>Created_CI_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeId for comment records of IC object</description>
        <name>IC_Comment_Record_Type_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reasonfor48HourNotice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Reason_For_48_Hour_Submission</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Id related to the ops case (buyer)</description>
        <name>Related_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Auction Id related to the ops case</description>
        <name>Related_Auction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeOpsHelp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0120a0000010QGqAAM</stringValue>
        </value>
    </variables>
</Flow>
